openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0-alpha.14"
  description: |
    Motion Master is the motion-control software for Synapticon SOMANET servo
    drives. This HTTP API drives the EtherCAT fieldbus end to end: bring up a
    driver, discover the slaves on the bus, command AL state transitions, and
    read or write the object dictionary, ESC registers, parameters, and files of
    each device. A companion monitoring WebSocket streams live process data.

    ## Getting started

    The fieldbus is controlled through an explicit lifecycle — the driver is not
    created until you ask for it, so a fresh instance has no open network
    interface:

    1. **Init** — `POST /api/init` constructs a fieldbus driver (`soem`, `spoe`,
       or `igh`) and opens the network interface. SOEM has no adapter
       auto-detect, so an adapter name or MAC address is required. `init` is
       one-shot: a second call returns `409` until you reset.
    2. **Scan** — `POST /api/scan` discovers the slaves on the bus and configures
       their sync managers and FMMUs. Slaves are left in the `INIT` state.
    3. **Transition** — `POST /api/devices/state` moves the bus to a target AL
       state (`PreOp`, `SafeOp`, `Op`, …); `GET /api/devices/state` reads where
       each slave currently sits.
    4. **Reset** — `POST /api/reset` tears the driver down and clears the device
       list. `init` must be called again afterwards.

    `GET /api/adapters` lists the network interfaces available on the host, to
    help pick the adapter for step 1.

    ## Working with devices

    Once the bus has been scanned, each slave is addressed by its bus position
    (`slavePosition`). The per-device endpoints cover the common service-plane
    operations:

    - **Object dictionary (CoE)** — `GET …/sdo/{index}/{subindex}` uploads a
      single entry; `POST …/parameters/init` enumerates the full dictionary and
      `GET …/parameters` reads the cached result.
    - **ESC registers** — `GET`/`PUT …/registers/{address}` read and write raw
      EtherCAT Slave Controller register bytes.
    - **Files (FoE)** — `GET`/`PUT …/files/{filename}` transfer files to and from
      the device over File-over-EtherCAT (firmware, configuration, logs).
    - **Presence** — `GET …/online` probes whether a device still answers on the
      bus.

    The `/api/meta/*` endpoints expose static reference tables — AL status codes,
    ESC register definitions, FoE error codes, and CoE data types — so clients
    can decode numeric values without hard-coding them.

    ## Monitoring WebSocket

    A monitoring WebSocket is available at `/ws`. Real-time messages use a
    positionally-ordered array of numbers rather than keyed objects, to keep the
    high-frequency path small (~40 values at a 1 ms cycle). Clients fetch the
    schema once via `GET /api/monitoring/pdos` and cache it; the array order is
    stable for the lifetime of a monitoring session. Two message types are sent:

    ```json
    {"type": "monitoring", "topic": "pdos", "data": [1234567890, 39, 0, 12345]}
    {"type": "notification", "data": {"event": "slaves_changed"}}
    ```

    ## Networking, TLS, and CORS

    The server binds to `127.0.0.1:8443` and is reached at
    `https://local.motion-master.synapticon.com:8443` (a DNS record that resolves
    to localhost), with a real, publicly-trusted TLS certificate bundled in every
    release. CORS allows the single origin
    `https://motion-master.synapticon.com`, the hosted progressive web app.

    ## Conventions

    - **Errors** — failures return the matching HTTP status with a JSON body of
      the form `{ "error": "<message>" }`. The message is a human-readable string;
      `409` on `init` specifically signals "already initialised" so a client can
      tell a reconnect from a real failure.
    - **Spec** — this document is served live at `GET /api/swagger.yml`, and the
      running version at `GET /api/version`.
servers:
  - url: https://local.motion-master.synapticon.com:8443
    description: Local Motion Master instance
paths:
  /api/adapters:
    get:
      summary: List network adapters on the host
      operationId: getAdapters
      responses:
        "200":
          description: Array of network adapters available on the host machine
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [mac, name]
                  properties:
                    mac:
                      type: string
                      description: MAC address in colon-separated uppercase format
                      example: "AA:BB:CC:DD:EE:FF"
                    name:
                      type: string
                      description: OS interface name (e.g. eth0 on Linux, \\Device\\NPF_{GUID} on Windows)
                      example: "eth0"
  /api/swagger.yml:
    get:
      summary: OpenAPI specification
      operationId: getSwaggerYml
      responses:
        "200":
          description: This OpenAPI specification in YAML format
          content:
            text/yaml:
              schema:
                type: string
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/devices/{slavePosition}:
    get:
      summary: Get a single fieldbus device by bus position
      operationId: getDevice
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Device at the given bus position
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  name:
                    type: string
                    description: Human-readable device name from SII EEPROM
                    example: "SOMANET Node"
                  vendorId:
                    type: integer
                    format: int64
                    description: Vendor ID from EEPROM
                    example: 131073
                  productCode:
                    type: integer
                    format: int64
                    description: Product code from EEPROM
                    example: 5570560
                  revisionNumber:
                    type: integer
                    format: int64
                    description: Revision number from EEPROM
                    example: 1
                  serialNumber:
                    type: integer
                    format: int64
                    description: Serial number from EEPROM
                    example: 12345
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices/{slavePosition}/online:
    get:
      summary: Check whether a device is online
      operationId: getDeviceOnline
      description: >
        Performs a live AL-state read for the device and reports whether it currently
        has an active SDO mailbox — i.e. it is in PRE-OP, SAFE-OP, or OP with no error
        indicator set. INIT, BOOT, and any error state are reported as offline. The
        device must already be known from a prior scan. Reading one device at a time
        means a single missing device reports offline without failing the others.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Online status of the device
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, online]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  online:
                    type: boolean
                    description: >
                      True when the device has an active SDO mailbox (PRE-OP, SAFE-OP,
                      or OP with no error indicator); false otherwise.
                    example: true
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/init:
    post:
      summary: Initialise the fieldbus driver
      operationId: init
      description: >
        Constructs the requested fieldbus driver, opens the network interface, and
        makes the driver available for subsequent calls to /api/scan.
        The driver defaults to SOEM when omitted. SOEM has no adapter auto-detect:
        a network adapter must be supplied, otherwise init fails.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  description: Fieldbus driver to use
                  enum: [soem, spoe, igh]
                  default: soem
                  example: "soem"
                adapter:
                  type: string
                  description: >
                    Network interface name or MAC address. Required for SOEM — there is
                    no auto-detect, so an empty value makes init fail.
                  example: "eth0"
      responses:
        "200":
          description: Driver initialised successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is not valid JSON
        "409":
          description: >
            A driver is already initialised. init() is one-shot — call POST /api/reset
            before initialising again. Clients can use this to distinguish "already
            connected" (e.g. after a page refresh) from a genuine init failure.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "already initialised — call reset() first"
        "500":
          $ref: "#/components/responses/DriverError"
        "501":
          description: No driver factory configured on this instance
  /api/scan:
    post:
      summary: Scan the bus for slaves
      operationId: scan
      description: >
        Scans the fieldbus for slaves and configures their sync managers and FMMUs.
        Must be called after a successful POST /api/init. Slaves remain in INIT state
        after this call; state transitions are driven by subsequent API calls.
      responses:
        "200":
          description: Scan successful; returns the number of slaves found
          content:
            application/json:
              schema:
                type: object
                required: [slaves]
                properties:
                  slaves:
                    type: integer
                    description: Number of slaves discovered on the bus
                    example: 3
        "500":
          $ref: "#/components/responses/DriverError"
  /api/reset:
    post:
      summary: Reset the fieldbus driver and clear the device list
      operationId: reset
      description: >
        Transitions all slaves to INIT state, closes the network interface, and removes
        all Device objects. After this returns, POST /api/init and POST /api/scan
        may be called again.
      responses:
        "200":
          description: Reset completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
  /api/log:
    get:
      summary: Get recent log output
      operationId: getLog
      description: >
        Returns the most recent in-memory log lines as plain text, one entry per line.
        The ring buffer holds up to 100 000 entries (~10 MB).
      responses:
        "200":
          description: Log output as plain text, one entry per line
          content:
            text/plain:
              schema:
                type: string
  /api/meta/al-status-codes:
    get:
      summary: List all known AL Status Codes
      operationId: getAlStatusCodes
      description: >
        Returns the static catalogue of EtherCAT AL Status Codes defined in ETG.1000.6 §6.4.1.
        These codes appear in the alStatusCode field of the device state response when an error
        is present and identify the cause of the state transition failure.
      responses:
        "200":
          description: Array of AL Status Code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlStatusCode"
  /api/meta/esc-registers:
    get:
      summary: List all known ESC registers
      operationId: getRegisters
      description: >
        Returns the static catalogue of well-known EtherCAT Slave Controller registers
        from the Beckhoff ESC datasheet (Section II) and ETG.1000.4.
        Use the address and length fields as inputs to the device register read/write endpoints.
      responses:
        "200":
          description: Array of ESC register descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EscRegister"
  /api/meta/foe-error-codes:
    get:
      summary: List all known FoE error codes
      operationId: getFoeErrorCodes
      description: >
        Returns the static catalogue of standard File over EtherCAT (FoE) error codes
        defined in ETG.1000.6 §5.5.  These codes appear in the FoE ERROR packet sent
        by the slave when a file transfer fails, and are surfaced in the error message
        returned by the file read endpoint.  Vendor-specific codes outside the 0x8000
        range are not listed here.
      responses:
        "200":
          description: Array of FoE error code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FoeErrorCode"
  /api/meta/data-types:
    get:
      summary: List all known CoE object dictionary data types
      operationId: getDataTypes
      description: >
        Returns the static catalogue of ETG.1020 data type codes used in CoE object
        dictionary entries.  Each entry of a `DeviceParameter` carries a `dataType`
        field whose value is one of the codes listed here.
      responses:
        "200":
          description: Array of data-type descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ObjectDataTypeInfo"
  /api/devices/{slavePosition}/parameters/init:
    post:
      summary: Initialise the parameter list for a device by enumerating its object dictionary
      operationId: initializeDeviceParameters
      description: >
        Enumerates the entire CoE object dictionary of the device at
        `slavePosition` via the SDO Info service ("Get Object List" → "Get Object
        Description" → "Get Entry Description") and rebuilds its parameter map.
        The device must be in PRE-OP, SAFE-OP, or OP (mailbox communication
        active).  On a fully populated drive the call can take several seconds.
        When `readValues=true` each entry is additionally read via SDO upload and
        the decoded value is stored on the parameter; entries that fail to read
        keep their type-appropriate default and the call still succeeds.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: readValues
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            When `true`, perform an SDO upload for every entry and decode the
            value.  Defaults to `false` — only schema (name, type, access) is
            populated.
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/parameters:
    get:
      summary: Read the previously initialised parameter list for a device
      operationId: getDeviceParameters
      description: >
        Returns the parameter list populated by the most recent call to
        `POST /api/devices/{slavePosition}/parameters/init`.  Empty before the
        first call.  Entries are ordered ascending by `(index, subindex)`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices/{slavePosition}/registers/{address}:
    get:
      summary: Read bytes from an ESC register
      operationId: readRegister
      description: >
        Reads `length` bytes from the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Read (FPRD) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal (e.g. 272 for 0x0110)
          example: 272
        - name: length
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: Number of bytes to read
          example: 2
      responses:
        "200":
          description: Raw register bytes
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Register bytes in ascending address order
                    example: [65, 0]
        "400":
          description: slavePosition, address, or length is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Write bytes to an ESC register
      operationId: writeRegister
      description: >
        Writes bytes to the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Write (FPWR) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal
          example: 288
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Bytes to write in ascending address order
                  example: [1, 0]
      responses:
        "200":
          description: Write completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition or address is not a valid integer, or request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/sdo/{index}/{subindex}:
    get:
      summary: Upload an object dictionary entry from a device (CoE SDO upload)
      operationId: sdoUpload
      description: >
        Performs a CoE SDO upload — reads the value of object `index:subindex` from
        the device at `slavePosition` and returns the raw bytes as a JSON array.
        Both `index` and `subindex` accept decimal or hexadecimal notation;
        prefix with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      responses:
        "200":
          description: Raw object bytes from the device
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Object bytes as transferred by the SDO upload
                    example: [0, 0, 0, 0]
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Download an object dictionary entry to a device (CoE SDO download)
      operationId: sdoDownload
      description: >
        Performs a CoE SDO download — writes the raw bytes in the request body to
        object `index:subindex` on the device at `slavePosition`. The byte count must
        match the object's length. Requires the device to be in PRE-OP, SAFE-OP, or OP
        (mailbox communication active). Both `index` and `subindex` accept decimal or
        hexadecimal notation; prefix with `0x` for hex (e.g. `0x6064` or `24676`).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Object bytes to write (little-endian, must match the object length)
                  example: [100, 0, 0, 0]
      responses:
        "200":
          description: Download completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition, index, or subindex is invalid, or the request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/files/{filename}:
    get:
      summary: Read a file from a device via FoE (File over EtherCAT)
      operationId: foeReadFile
      description: >
        Sends an FoE read request for `filename` to the device at `slavePosition`
        and returns the raw file bytes.  FoE is available in Boot, Pre-Op, Safe-Op,
        and Op states (device-dependent); the caller is responsible for ensuring the
        device is in a suitable state before calling.  The call blocks until the full
        file has been received or a per-packet timeout of 700 ms is exceeded.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: FoE filename as recognised by the slave firmware
          example: "firmware.bin"
      responses:
        "200":
          description: Raw file bytes from the device
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Write a file to a device via FoE (File over EtherCAT)
      operationId: foeWriteFile
      description: >
        Sends an FoE write request for `filename` to the device at `slavePosition`,
        streaming the raw request body as the file contents.  FoE is available in
        Boot, Pre-Op, Safe-Op, and Op states (device-dependent); the caller is
        responsible for ensuring the device is in a suitable state before calling.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: FoE filename as recognised by the slave firmware
          example: "config.csv"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/state:
    get:
      summary: Read current AL state for devices
      operationId: getDeviceStates
      description: >
        Reads the current EtherCAT Application Layer state for one or more devices.
        Omit the `positions` query parameter to query all discovered devices.
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: AL state snapshot for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, alStatus, alState, error, alStatusCode]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    alStatus:
                      type: integer
                      description: >
                        Raw AL Status register value (ETG.1000.6 §6.4.1).
                        Bits 3:0 encode the state; bit 4 is the error indicator.
                      example: 17
                    alState:
                      type: integer
                      enum: [1, 2, 3, 4, 8]
                      description: >
                        Current AL state decoded from alStatus (ETG.1000.6 encoding):
                        1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                      example: 1
                    error:
                      type: boolean
                      description: True when the AL Status error indicator bit (bit 4) is set
                      example: true
                    alStatusCode:
                      type: integer
                      description: >
                        AL Status Code register (ETG.1000.6 §6.4.1).
                        Non-zero when error is true; identifies the error cause
                        (e.g. 0x0014 = No valid firmware).
                      example: 20
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Transition devices to an EtherCAT AL state
      operationId: transitionToState
      description: >
        Commands one or more devices to the requested EtherCAT Application Layer state
        and blocks until all targeted devices arrive or the timeout elapses. The settled
        state of every targeted device is then read back and returned in `devices`, each
        with a `reached` flag; `ok` is true only when every device reached the target.
        A device that did not reach it carries an `alStatusCode` explaining why.
        Omit `positions` or pass an empty array to target all discovered devices.
        State values are the standard AL state register encodings from ETG.1000.6:
        1 (Init), 2 (PreOp), 3 (Boot), 4 (SafeOp), 8 (Op).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                positions:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                  description: >
                    1-based slave positions to target. Omit or pass an empty array
                    to target all discovered devices.
                  example: [1, 2]
                state:
                  type: integer
                  enum: [1, 2, 3, 4, 8]
                  description: >
                    Target EtherCAT AL state (ETG.1000.6 AL control register encoding):
                    1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                  example: 8
                timeout:
                  type: integer
                  description: Maximum time to wait for all devices, in milliseconds
                  default: 5000
                  example: 5000
      responses:
        "200":
          description: >
            Transition command completed and the settled state of each targeted device
            was read back. `ok` is true only when every device reached the target state
            within the timeout; otherwise inspect `devices` to see which fell short and why.
          content:
            application/json:
              schema:
                type: object
                required: [ok, devices]
                properties:
                  ok:
                    type: boolean
                    description: True only when every targeted device reached the target state.
                    example: true
                  devices:
                    type: array
                    description: Settled state of each targeted device, in the order targeted.
                    items:
                      type: object
                      required: [slavePosition, alStatus, alState, error, alStatusCode, reached]
                      properties:
                        slavePosition:
                          type: integer
                          description: 1-based position on the fieldbus
                          example: 1
                        alStatus:
                          type: integer
                          description: >
                            Raw AL Status register value (ETG.1000.6 §6.4.1).
                            Bits 3:0 encode the state; bit 4 is the error indicator.
                          example: 2
                        alState:
                          type: integer
                          enum: [1, 2, 3, 4, 8]
                          description: >
                            Current AL state decoded from alStatus (ETG.1000.6 encoding):
                            1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                          example: 2
                        error:
                          type: boolean
                          description: True when the AL Status error indicator bit (bit 4) is set
                          example: false
                        alStatusCode:
                          type: integer
                          description: >
                            AL Status Code register (ETG.1000.6 §6.4.1).
                            Non-zero when error is true; identifies the error cause
                            (e.g. 0x0014 = No valid firmware).
                          example: 0
                        reached:
                          type: boolean
                          description: >
                            True when this device reached the requested target state
                            (error clear and alState equal to the requested state).
                          example: true
        "400":
          description: Request body is malformed or `state` is not a valid AL state value
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices:
    get:
      summary: List all fieldbus devices
      operationId: getDevices
      responses:
        "200":
          description: Array of devices in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    name:
                      type: string
                      description: Human-readable device name from SII EEPROM
                      example: "SOMANET Node"
                    vendorId:
                      type: integer
                      format: int64
                      description: Vendor ID from EEPROM
                      example: 131073
                    productCode:
                      type: integer
                      format: int64
                      description: Product code from EEPROM
                      example: 5570560
                    revisionNumber:
                      type: integer
                      format: int64
                      description: Revision number from EEPROM
                      example: 1
                    serialNumber:
                      type: integer
                      format: int64
                      description: Serial number from EEPROM
                      example: 12345
components:
  schemas:
    AlStatusCode:
      type: object
      required: [code, name, description, terminal]
      properties:
        code:
          type: integer
          description: AL Status Code value (ETG.1000.6 §6.4.1)
          example: 20
        name:
          type: string
          description: Short human-readable name
          example: "No valid firmware"
        description:
          type: string
          description: Full description of the error condition
          example: "No valid firmware is present — the slave needs firmware flashed"
        terminal:
          type: boolean
          description: >-
            True if a slave reporting this code cannot reach the requested
            EtherCAT state by retrying. The server abandons the slave
            immediately during a state transition instead of waiting for
            timeout; the master must change something (re-init, reflash,
            power cycle) before another transition attempt can succeed.
          example: true
    EscRegister:
      type: object
      required: [address, length, name, description]
      properties:
        address:
          type: integer
          description: Register address in the ESC address space (decimal)
          example: 272
        length:
          type: integer
          description: Register width in bytes (1, 2, 4, or 8)
          example: 2
        name:
          type: string
          description: Short snake_case identifier
          example: "dl_status"
        description:
          type: string
          description: Human-readable description from the Beckhoff ESC datasheet
          example: "DL status: EEPROM load ok, link detected, communication established per port"
    FoeErrorCode:
      type: object
      required: [code, name, description]
      properties:
        code:
          type: integer
          description: 32-bit FoE error code as sent in the FoE ERROR packet (ETG.1000.6 §5.5)
          example: 32770
        name:
          type: string
          description: Short human-readable name
          example: "File not found"
        description:
          type: string
          description: Full description of the error condition
          example: "The requested file does not exist on the slave"
    ObjectDataTypeInfo:
      type: object
      required: [code, name, bitSize]
      properties:
        code:
          type: integer
          description: ETG.1020 data type code
          example: 7
        name:
          type: string
          description: Symbolic name of the data type
          example: "UNSIGNED32"
        bitSize:
          type: integer
          description: Declared bit width of one element; 0 for variable-length types
          example: 32
    DeviceParameter:
      type: object
      required: [index, subindex, name, objectCode, dataType, dataTypeName, bitLength, access, value, syncState]
      properties:
        index:
          type: integer
          description: CoE object index
          example: 24640
        subindex:
          type: integer
          description: CoE object subindex
          example: 0
        name:
          type: string
          description: Textual description from the slave's SDO Info "Get Entry Description"
          example: "Position actual value"
        objectCode:
          type: integer
          description: ETG.1000.6 §5 object code (VAR=7, ARRAY=8, RECORD=9)
          example: 7
        dataType:
          type: integer
          description: ETG.1020 data type code (e.g. 7 = UNSIGNED32)
          example: 4
        dataTypeName:
          type: string
          description: Symbolic name of the data type (resolved server-side from `dataType`)
          example: "INTEGER32"
        bitLength:
          type: integer
          description: Bit length of the entry's value
          example: 32
        access:
          type: integer
          description: ObjAccess bitfield (read/write per AL state)
          example: 7
        value:
          description: >-
            Last-known value, decoded according to `dataType`.  Initialised to
            a type-appropriate zero (0 for numbers, "" for strings, [] for raw
            bytes) before the first read.  After a successful SDO upload,
            holds the decoded value; the JSON encoding follows the variant
            alternative — number, string, or array of byte values.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
          example: 12345
        unit:
          type: integer
          description: >-
            ETG.1004 unit code reported by the slave for this entry.  Absent
            when the slave does not populate the Unit field of the SDO Info
            response.  The 32-bit code decomposes into prefix, base SI unit,
            and exponent per ETG.1004.
          example: 0
        defaultValue:
          description: >-
            Slave-reported default value, decoded with the same logic as
            `value`.  Absent when the slave does not report a default.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        minValue:
          description: >-
            Slave-reported minimum value, decoded with the same logic as
            `value`.  Absent when the slave does not report a minimum.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        maxValue:
          description: >-
            Slave-reported maximum value, decoded with the same logic as
            `value`.  Absent when the slave does not report a maximum.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        syncState:
          type: string
          enum: [unknown, synced, pending]
          description: >-
            Freshness of `value` relative to the device. `synced` — matches the
            device (last successful read or write); `pending` — set locally while
            offline or after a failed write, not yet confirmed on the device;
            `unknown` — never read, `value` is the type-appropriate default.
          example: "synced"
  responses:
    DriverError:
      description: Fieldbus driver returned an error
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string
                description: Human-readable error message from the driver
                example: "FPRD slave 1: wkc=0"
