openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0"
  description: >
    HTTP API for Motion Master motion control software.
    A monitoring WebSocket is also available at /ws — clients fetch the PDO
    schema via GET /api/monitoring/pdos and then subscribe to real-time updates.
servers:
  - url: https://local.motion-master.synapticon.com:8443
    description: Local Motion Master instance
paths:
  /api/swagger.yml:
    get:
      summary: OpenAPI specification
      operationId: getSwaggerYml
      responses:
        "200":
          description: This OpenAPI specification in YAML format
          content:
            text/yaml:
              schema:
                type: string
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/devices:
    get:
      summary: List all fieldbus devices
      operationId: getDevices
      responses:
        "200":
          description: Array of devices in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    name:
                      type: string
                      description: Human-readable device name from SII EEPROM
                      example: "SOMANET Node"
                    vendorId:
                      type: integer
                      format: int64
                      description: Vendor ID from EEPROM
                      example: 131073
                    productCode:
                      type: integer
                      format: int64
                      description: Product code from EEPROM
                      example: 5570560
                    revisionNumber:
                      type: integer
                      format: int64
                      description: Revision number from EEPROM
                      example: 1
                    serialNumber:
                      type: integer
                      format: int64
                      description: Serial number from EEPROM
                      example: 12345
