openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0-alpha.20"
  description: |
    Motion Master is the motion-control software for Synapticon SOMANET servo
    drives. This HTTP API drives the EtherCAT fieldbus end to end: bring up a
    driver, discover the slaves on the bus, command AL state transitions, and
    read or write the object dictionary, ESC registers, parameters, and files of
    each device. A companion monitoring WebSocket streams live process data.

    ## Getting started

    The fieldbus is controlled through an explicit lifecycle — the driver is not
    created until you ask for it, so a fresh instance has no open network
    interface:

    1. **Init** — `POST /api/init` constructs a fieldbus driver (`soem`, `spoe`,
       or `igh`) and opens the network interface. SOEM has no adapter
       auto-detect, so an adapter name or MAC address is required. `init` is
       one-shot: a second call returns `409` until you reset.
    2. **Scan** — `POST /api/scan` discovers the slaves on the bus and configures
       their sync managers and FMMUs. Slaves are left in the `INIT` state.
    3. **Transition** — `POST /api/devices/state` moves the bus to a target AL
       state (`PreOp`, `SafeOp`, `Op`, …); `GET /api/devices/state` reads where
       each slave currently sits.
    4. **Reset** — `POST /api/reset` tears the driver down and clears the device
       list. `init` must be called again afterwards.

    `GET /api/adapters` lists the network interfaces available on the host, to
    help pick the adapter for step 1.

    ## Working with devices

    Once the bus has been scanned, each slave is addressed by its bus position
    (`slavePosition`). The per-device endpoints cover the common service-plane
    operations:

    - **Object dictionary (CoE)** — `GET …/sdo/{index}/{subindex}` uploads a
      single entry; `POST …/parameters/init` enumerates the full dictionary and
      `GET …/parameters` reads the cached result.
    - **ESC registers** — `GET`/`PUT …/registers/{address}` read and write raw
      EtherCAT Slave Controller register bytes.
    - **Files (FoE)** — `GET`/`PUT …/files/{filename}` transfer files to and from
      the device over File-over-EtherCAT (firmware, configuration, logs).
    - **Mailbox** — `GET …/mailbox` probes whether a device's CoE/SDO mailbox is
      active (AL state PRE-OP or above).

    The `/api/meta/*` endpoints expose static reference tables — AL status codes,
    ESC register definitions, FoE error codes, and CoE data types — so clients
    can decode numeric values without hard-coding them.

    ## Monitoring WebSocket

    The realtime WebSocket runs on its own port (`62281` by default), separate from
    this HTTP API (`61447`) and on its own event loop, so a slow HTTP request can
    never stall the stream: `wss://local.motion-master.synapticon.com:62281` (the
    whole port is the WebSocket, so the URL needs no path).
    A client creates a monitoring
    with `POST /api/monitorings` (a topic, flush interval, and a list of
    parameters), then subscribes to its topic over the socket by sending
    `{"subscribe":"<topic>"}` (and `{"unsubscribe":"<topic>"}` to stop). The stream
    is **lossless**: every process-data cycle recorded since the last flush is
    delivered — `interval` is the flush cadence, not a sample rate, so a longer
    interval means a bigger batch, never dropped cycles. Each batch is published to
    that topic, delivered only to the clients subscribed to it. Each row is
    `[timestamp, value, ...]` where `timestamp` is **epoch microseconds** (exact in
    a JavaScript number, and distinct per cycle even at sub-millisecond periods).
    The messages:

    ```json
    {"type": "monitoring", "topic": "left-leg", "data": [[1735821000123456, 39000, 41], ...]}
    {"type": "notification", "data": {"event": "slaves_changed"}}
    ```

    `data` is an array of cycle rows; each row is `[timestampUs, v0, v1, ...]` where
    `timestampUs` is epoch microseconds and the values are positionally ordered by
    the monitoring's `parameters` (fetch the order, and how each value is sourced,
    via `GET /api/monitorings/{topic}`). A value is `null` while its owning device
    is not exchanging (SAFE-OP/OP). Numbers beyond 2^53 lose precision in a JS
    client; epoch microseconds stay exact until ~year 2255 and the targeted values
    are 32-bit integers and floats.

    ## Networking, TLS, and CORS

    The server binds the HTTP API to `127.0.0.1:61447` and the realtime WebSocket
    to `127.0.0.1:62281`, reached at `https://local.motion-master.synapticon.com:61447`
    and `wss://local.motion-master.synapticon.com:62281` (a DNS record that resolves
    to localhost), with a real, publicly-trusted TLS certificate bundled in every
    release. CORS allows the single origin
    `https://motion-master.synapticon.com`, the hosted progressive web app.

    ## Conventions

    - **Errors** — failures return the matching HTTP status with a JSON body of
      the form `{ "error": "<message>" }`. The message is a human-readable string;
      `409` on `init` specifically signals "already initialised" so a client can
      tell a reconnect from a real failure.
    - **Version** — the running server version is reported at `GET /api/version`.
servers:
  - url: https://local.motion-master.synapticon.com:61447
    description: Local Motion Master instance
paths:
  /api/adapters:
    get:
      summary: List network adapters on the host
      operationId: getAdapters
      responses:
        "200":
          description: Array of network adapters available on the host machine
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [mac, name]
                  properties:
                    mac:
                      type: string
                      description: MAC address in colon-separated uppercase format
                      example: "AA:BB:CC:DD:EE:FF"
                    name:
                      type: string
                      description: OS interface name (e.g. eth0 on Linux, \\Device\\NPF_{GUID} on Windows)
                      example: "eth0"
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/cert:
    get:
      summary: Get the TLS certificate validity window
      description: >
        Reports the validity window and identity of the certificate the server
        is currently serving. `expiresSoon` trips within 7 days of `notAfter`,
        so the PWA can prompt the user to refresh. Note that an already-expired
        certificate blocks the browser from reaching this endpoint at all; the
        binary self-heals an expired/missing certificate at startup (fetching
        from the rolling release) and exposes `--update-cert` for manual refresh.
        Returns 500 if the certificate file cannot be read or parsed.
      operationId: getCert
      responses:
        "200":
          description: Certificate validity and identity
          content:
            application/json:
              schema:
                type: object
                required:
                  [
                    path,
                    subject,
                    issuer,
                    notBefore,
                    notAfter,
                    daysRemaining,
                    expired,
                    expiresSoon,
                  ]
                properties:
                  path:
                    type: string
                    description: Filesystem path of the certificate being served.
                    example: "/opt/motion-master/cert.pem"
                  subject:
                    type: string
                    description: Subject common name (CN).
                    example: "local.motion-master.synapticon.com"
                  issuer:
                    type: string
                    description: Issuer common name (CN).
                    example: "R10"
                  notBefore:
                    type: string
                    format: date-time
                    description: Start of the validity window (ISO 8601 UTC).
                    example: "2026-05-01T00:00:00Z"
                  notAfter:
                    type: string
                    format: date-time
                    description: End of the validity window / expiry (ISO 8601 UTC).
                    example: "2026-08-01T00:00:00Z"
                  daysRemaining:
                    type: integer
                    description: Whole days until expiry; negative once expired.
                    example: 56
                  expired:
                    type: boolean
                    description: Whether the certificate is already past notAfter.
                    example: false
                  expiresSoon:
                    type: boolean
                    description: True when expired or within 7 days of notAfter.
                    example: false
        "500":
          description: The certificate file could not be read or parsed
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    description: Human-readable reason the certificate could not be read.
                    example: "cannot parse PEM certificate: /opt/motion-master/cert.pem"
  /api/cert/refresh:
    post:
      summary: Fetch and install a fresh TLS certificate
      description: >
        Downloads a fresh certificate and key from the rolling release, validates
        the pair (parses, CN matches, not expired, key matches cert), and atomically
        installs them next to the binary. The new certificate only takes effect after
        a restart (the TLS listener loads the certificate once at startup), indicated
        by `restartRequired` in the response. Use the still-valid proactive case; an
        already-expired certificate is healed by the binary at startup instead.
      operationId: refreshCert
      responses:
        "200":
          description: The fresh certificate was installed (restart to apply)
          content:
            application/json:
              schema:
                type: object
                required: [notAfter, daysRemaining, restartRequired]
                properties:
                  path:
                    type: string
                    example: "/opt/motion-master/cert.pem"
                  subject:
                    type: string
                    example: "local.motion-master.synapticon.com"
                  issuer:
                    type: string
                    example: "R10"
                  notBefore:
                    type: string
                    format: date-time
                  notAfter:
                    type: string
                    format: date-time
                  daysRemaining:
                    type: integer
                    example: 89
                  expired:
                    type: boolean
                    example: false
                  expiresSoon:
                    type: boolean
                    example: false
                  restartRequired:
                    type: boolean
                    description: Always true — restart Motion Master to serve the new certificate.
                    example: true
        "500":
          description: The certificate could not be fetched, validated, or installed
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "downloaded key does not match certificate"
        "501":
          description: Certificate refresh is not configured on this server
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "certificate refresh is not configured"
  /api/devices/{slavePosition}:
    get:
      summary: Get a single fieldbus device by bus position
      operationId: getDevice
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Device at the given bus position
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  name:
                    type: string
                    description: Human-readable device name from SII EEPROM
                    example: "SOMANET Node"
                  vendorId:
                    type: integer
                    format: int64
                    description: Vendor ID from EEPROM
                    example: 131073
                  productCode:
                    type: integer
                    format: int64
                    description: Product code from EEPROM
                    example: 5570560
                  revisionNumber:
                    type: integer
                    format: int64
                    description: Revision number from EEPROM
                    example: 1
                  serialNumber:
                    type: integer
                    format: int64
                    description: Serial number from EEPROM
                    example: 12345
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices/{slavePosition}/mailbox:
    get:
      summary: Check whether a device's mailbox is active
      operationId: getDeviceMailboxActive
      description: >
        Performs a live AL-state read for the device and reports whether its CoE/SDO
        mailbox is active — i.e. it is in PRE-OP, SAFE-OP, or OP. This is independent of
        the AL error indicator: a device in SAFE-OP+error still answers mailbox requests.
        Only INIT (no mailbox) and BOOT (FoE-only mailbox) report inactive. The device
        must already be known from a prior scan. Reading one device at a time means a
        single missing device reports inactive without failing the others.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Mailbox status of the device
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, mailboxActive]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  mailboxActive:
                    type: boolean
                    description: >
                      True when the device's CoE/SDO mailbox is active (AL state PRE-OP,
                      SAFE-OP, or OP, regardless of the error indicator); false otherwise.
                    example: true
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/init:
    post:
      summary: Initialise the fieldbus driver
      operationId: init
      description: >
        Constructs the requested fieldbus driver, opens the network interface, and
        makes the driver available for subsequent calls to /api/scan.
        The driver defaults to SOEM when omitted. SOEM has no adapter auto-detect:
        a network adapter must be supplied, otherwise init fails.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  description: Fieldbus driver to use
                  enum: [soem, spoe, igh]
                  default: soem
                  example: "soem"
                adapter:
                  type: string
                  description: >
                    Network interface name or MAC address. Required for SOEM — there is
                    no auto-detect, so an empty value makes init fail.
                  example: "eth0"
      responses:
        "200":
          description: Driver initialised successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is not valid JSON
        "409":
          description: >
            A driver is already initialised. init() is one-shot — call POST /api/reset
            before initialising again. Clients can use this to distinguish "already
            connected" (e.g. after a page refresh) from a genuine init failure.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "already initialised — call reset() first"
        "500":
          $ref: "#/components/responses/DriverError"
        "501":
          description: No driver factory configured on this instance
  /api/scan:
    post:
      summary: Scan the bus for slaves
      operationId: scan
      description: >
        Scans the fieldbus for slaves and configures their sync managers and FMMUs.
        Must be called after a successful POST /api/init. Slaves remain in INIT state
        after this call; state transitions are driven by subsequent API calls.
      responses:
        "200":
          description: Scan successful; returns the number of slaves found
          content:
            application/json:
              schema:
                type: object
                required: [slaves]
                properties:
                  slaves:
                    type: integer
                    description: Number of slaves discovered on the bus
                    example: 3
        "500":
          $ref: "#/components/responses/DriverError"
  /api/reset:
    post:
      summary: Reset the fieldbus driver and clear the device list
      operationId: reset
      description: >
        Transitions all slaves to INIT state, closes the network interface, and removes
        all Device objects. After this returns, POST /api/init and POST /api/scan
        may be called again.
      responses:
        "200":
          description: Reset completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
  /api/log:
    get:
      summary: Get recent log output
      operationId: getLog
      description: >
        Returns the most recent in-memory log lines as plain text, one entry per line.
        The ring buffer holds up to 100 000 entries (~10 MB).
      responses:
        "200":
          description: Log output as plain text, one entry per line
          content:
            text/plain:
              schema:
                type: string
  /api/meta/al-status-codes:
    get:
      summary: List all known AL Status Codes
      operationId: getAlStatusCodes
      description: >
        Returns the static catalogue of EtherCAT AL Status Codes defined in ETG.1000.6 §6.4.1.
        These codes appear in the alStatusCode field of the device state response when an error
        is present and identify the cause of the state transition failure.
      responses:
        "200":
          description: Array of AL Status Code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlStatusCode"
  /api/meta/esc-registers:
    get:
      summary: List all known ESC registers
      operationId: getRegisters
      description: >
        Returns the static catalogue of well-known EtherCAT Slave Controller registers
        from the Beckhoff ESC datasheet (Section II) and ETG.1000.4.
        Use the address and length fields as inputs to the device register read/write endpoints.
      responses:
        "200":
          description: Array of ESC register descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EscRegister"
  /api/meta/foe-error-codes:
    get:
      summary: List all known FoE error codes
      operationId: getFoeErrorCodes
      description: >
        Returns the static catalogue of standard File over EtherCAT (FoE) error codes
        defined in ETG.1000.6 §5.5.  These codes appear in the FoE ERROR packet sent
        by the slave when a file transfer fails, and are surfaced in the error message
        returned by the file read endpoint.  Vendor-specific codes outside the 0x8000
        range are not listed here.
      responses:
        "200":
          description: Array of FoE error code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FoeErrorCode"
  /api/meta/data-types:
    get:
      summary: List all known CoE object dictionary data types
      operationId: getDataTypes
      description: >
        Returns the static catalogue of ETG.1020 data type codes used in CoE object
        dictionary entries.  Each entry of a `DeviceParameter` carries a `dataType`
        field whose value is one of the codes listed here.
      responses:
        "200":
          description: Array of data-type descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ObjectDataTypeInfo"
  /api/devices/{slavePosition}/parameters/init:
    post:
      summary: Initialise the parameter list for a device by enumerating its object dictionary
      operationId: initializeDeviceParameters
      description: >
        Enumerates the entire CoE object dictionary of the device at
        `slavePosition` via the SDO Info service ("Get Object List" → "Get Object
        Description" → "Get Entry Description") and rebuilds its parameter map.
        The device must be in PRE-OP, SAFE-OP, or OP (mailbox communication
        active).  On a fully populated drive the call can take several seconds.
        When `readValues=true` each entry is additionally read via SDO upload and
        the decoded value is stored on the parameter; entries that fail to read
        keep their type-appropriate default and the call still succeeds.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: readValues
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            When `true`, perform an SDO upload for every entry and decode the
            value.  Defaults to `false` — only schema (name, type, access) is
            populated.
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/parameters:
    get:
      summary: Read the previously initialised parameter list for a device
      operationId: getDeviceParameters
      description: >
        Returns the parameter list populated by the most recent call to
        `POST /api/devices/{slavePosition}/parameters/init`.  Empty before the
        first call.  Entries are ordered ascending by `(index, subindex)`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices/{slavePosition}/registers/{address}:
    get:
      summary: Read bytes from an ESC register
      operationId: readRegister
      description: >
        Reads `length` bytes from the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Read (FPRD) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal (e.g. 272 for 0x0110)
          example: 272
        - name: length
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: Number of bytes to read
          example: 2
      responses:
        "200":
          description: Raw register bytes
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Register bytes in ascending address order
                    example: [65, 0]
        "400":
          description: slavePosition, address, or length is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Write bytes to an ESC register
      operationId: writeRegister
      description: >
        Writes bytes to the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Write (FPWR) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal
          example: 288
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Bytes to write in ascending address order
                  example: [1, 0]
      responses:
        "200":
          description: Write completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition or address is not a valid integer, or request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/watchdog:
    get:
      summary: Read the process-data (sync-manager) watchdog configuration
      operationId: getProcessDataWatchdog
      description: >
        Reads the process-data watchdog timeout the slave at `slavePosition` is configured with,
        decoded from the watchdog divider (0x0400) and process-data watchdog time (0x0420) ESC
        registers. This is the configured timeout itself, not the expiration counter exposed by
        `GET /api/devices/diagnostics`. A device in OP that misses process data past this timeout
        faults itself to SAFE-OP+error; raising it lets a device tolerate the brief PDO pause of a
        whole-bus re-map.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Decoded watchdog configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessDataWatchdog"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Set the process-data (sync-manager) watchdog timeout
      operationId: setProcessDataWatchdog
      description: >
        Sets the process-data watchdog timeout of the slave at `slavePosition`, writing the
        process-data watchdog time register (0x0420). The device's watchdog divider (0x0400) is
        left untouched (it is shared with the PDI watchdog), so the achieved timeout is rounded to
        that divider's tick base — the response reports the value actually programmed. A
        `timeoutMs` of 0 disables the watchdog. The write persists across re-maps and re-scans
        until the ESC reloads EEPROM (power cycle).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [timeoutMs]
              properties:
                timeoutMs:
                  type: number
                  minimum: 0
                  description: Desired watchdog timeout in milliseconds; 0 disables the watchdog
                  example: 200
      responses:
        "200":
          description: Watchdog configuration actually programmed (timeout rounded to the tick base)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessDataWatchdog"
        "400":
          description: >
            slavePosition is not a valid integer, the body is malformed, timeoutMs is negative, or
            the requested timeout exceeds what the device's watchdog divider can represent
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/sdo/{index}/{subindex}:
    get:
      summary: Upload an object dictionary entry from a device (CoE SDO upload)
      operationId: sdoUpload
      description: >
        Performs a CoE SDO upload — reads the value of object `index:subindex` from
        the device at `slavePosition` and returns the raw bytes as a JSON array.
        Both `index` and `subindex` accept decimal or hexadecimal notation;
        prefix with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      responses:
        "200":
          description: Raw object bytes from the device
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Object bytes as transferred by the SDO upload
                    example: [0, 0, 0, 0]
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Download an object dictionary entry to a device (CoE SDO download)
      operationId: sdoDownload
      description: >
        Performs a CoE SDO download — writes the raw bytes in the request body to
        object `index:subindex` on the device at `slavePosition`. The byte count must
        match the object's length. Requires the device to be in PRE-OP, SAFE-OP, or OP
        (mailbox communication active). Both `index` and `subindex` accept decimal or
        hexadecimal notation; prefix with `0x` for hex (e.g. `0x6064` or `24676`).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Object bytes to write (little-endian, must match the object length)
                  example: [100, 0, 0, 0]
      responses:
        "200":
          description: Download completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition, index, or subindex is invalid, or the request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/files/{filename}:
    get:
      summary: Read a file from a device via FoE (File over EtherCAT)
      operationId: foeReadFile
      description: >
        Sends an FoE read request for `filename` to the device at `slavePosition`
        and returns the raw file bytes.  FoE is available in Boot, Pre-Op, Safe-Op,
        and Op states (device-dependent); the caller is responsible for ensuring the
        device is in a suitable state before calling.  The call blocks until the full
        file has been received or a per-packet timeout of 700 ms is exceeded.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: FoE filename as recognised by the slave firmware
          example: "firmware.bin"
      responses:
        "200":
          description: Raw file bytes from the device
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Write a file to a device via FoE (File over EtherCAT)
      operationId: foeWriteFile
      description: >
        Sends an FoE write request for `filename` to the device at `slavePosition`,
        streaming the raw request body as the file contents.  FoE is available in
        Boot, Pre-Op, Safe-Op, and Op states (device-dependent); the caller is
        responsible for ensuring the device is in a suitable state before calling.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: FoE filename as recognised by the slave firmware
          example: "config.csv"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/diagnostics:
    get:
      summary: Read live ESC health diagnostics for devices
      operationId: getDeviceDiagnostics
      description: >
        Reads live link-quality and watchdog diagnostics from each slave's EtherCAT Slave
        Controller (DL Status 0x0110, error-counter block 0x0300–0x0313, watchdog block
        0x0440–0x0443) via FPRD. Counters are 8-bit, saturate at 255, and are cleared only by a
        power cycle or explicit write — poll this endpoint and watch for a rising delta rather than
        an absolute value. The per-port counters localise a degrading link to a specific
        cable/connector; the watchdog counters distinguish a slave that stopped receiving process
        data from a master-side problem. Omit `positions` to query all discovered devices.
        Returns 500 for transports without an ESC (e.g. SPoE).
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: Decoded ESC diagnostics for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceDiagnostics"
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/dc-sync:
    get:
      summary: Read live distributed-clock synchronisation status for devices
      operationId: getDcSync
      description: >
        Reads each slave's distributed-clock unit live from its EtherCAT Slave Controller
        (system-time delay 0x0928 and system-time difference 0x092C) via FPRD. The reference clock
        is the first DC-capable slave; every other DC slave continuously corrects its local clock
        toward it, and `systemTimeDifference` is the live deviation in nanoseconds. The figure is
        meaningful only while the bus is exchanging process data in SAFE-OP/OP (the reference time
        is distributed in the cyclic frame) and converges toward zero as the slaves' drift loops
        settle — poll this endpoint and watch for a slave whose deviation stays large or grows
        rather than an absolute value. Non-DC slaves report `dcCapable` false with zeroed values.
        Omit `positions` to query all discovered devices. Returns 500 for transports without an ESC
        (e.g. SPoE).
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: Decoded DC sync status for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DcSyncStatus"
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/state:
    get:
      summary: Read current AL state for devices
      operationId: getDeviceStates
      description: >
        Reads the current EtherCAT Application Layer state for one or more devices.
        Omit the `positions` query parameter to query all discovered devices.
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: AL state snapshot for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, alStatus, alState, error, alStatusCode]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    alStatus:
                      type: integer
                      description: >
                        Raw AL Status register value (ETG.1000.6 §6.4.1).
                        Bits 3:0 encode the state; bit 4 is the error indicator.
                      example: 17
                    alState:
                      type: integer
                      enum: [1, 2, 3, 4, 8]
                      description: >
                        Current AL state decoded from alStatus (ETG.1000.6 encoding):
                        1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                      example: 1
                    error:
                      type: boolean
                      description: True when the AL Status error indicator bit (bit 4) is set
                      example: true
                    alStatusCode:
                      type: integer
                      description: >
                        AL Status Code register (ETG.1000.6 §6.4.1).
                        Non-zero when error is true; identifies the error cause
                        (e.g. 0x0014 = No valid firmware).
                      example: 20
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Transition devices to an EtherCAT AL state
      operationId: transitionToState
      description: >
        Commands one or more devices to the requested EtherCAT Application Layer state
        and blocks until all targeted devices arrive or the timeout elapses. The settled
        state of every targeted device is then read back and returned in `devices`, each
        with a `reached` flag; `ok` is true only when every device reached the target.
        A device that did not reach it carries an `alStatusCode` explaining why.
        Omit `positions` or pass an empty array to target all discovered devices.
        State values are the standard AL state register encodings from ETG.1000.6:
        1 (Init), 2 (PreOp), 3 (Boot), 4 (SafeOp), 8 (Op).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                positions:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                  description: >
                    1-based slave positions to target. Omit or pass an empty array
                    to target all discovered devices.
                  example: [1, 2]
                state:
                  type: integer
                  enum: [1, 2, 3, 4, 8]
                  description: >
                    Target EtherCAT AL state (ETG.1000.6 AL control register encoding):
                    1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                  example: 8
                timeout:
                  type: integer
                  description: Maximum time to wait for all devices, in milliseconds
                  default: 5000
                  example: 5000
      responses:
        "200":
          description: >
            Transition command completed and the settled state of each targeted device
            was read back. `ok` is true only when every device reached the target state
            within the timeout; otherwise inspect `devices` to see which fell short and why.
          content:
            application/json:
              schema:
                type: object
                required: [ok, devices]
                properties:
                  ok:
                    type: boolean
                    description: True only when every targeted device reached the target state.
                    example: true
                  devices:
                    type: array
                    description: Settled state of each targeted device, in the order targeted.
                    items:
                      type: object
                      required: [slavePosition, alStatus, alState, error, alStatusCode, reached]
                      properties:
                        slavePosition:
                          type: integer
                          description: 1-based position on the fieldbus
                          example: 1
                        alStatus:
                          type: integer
                          description: >
                            Raw AL Status register value (ETG.1000.6 §6.4.1).
                            Bits 3:0 encode the state; bit 4 is the error indicator.
                          example: 2
                        alState:
                          type: integer
                          enum: [1, 2, 3, 4, 8]
                          description: >
                            Current AL state decoded from alStatus (ETG.1000.6 encoding):
                            1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                          example: 2
                        error:
                          type: boolean
                          description: True when the AL Status error indicator bit (bit 4) is set
                          example: false
                        alStatusCode:
                          type: integer
                          description: >
                            AL Status Code register (ETG.1000.6 §6.4.1).
                            Non-zero when error is true; identifies the error cause
                            (e.g. 0x0014 = No valid firmware).
                          example: 0
                        reached:
                          type: boolean
                          description: >
                            True when this device reached the requested target state
                            (error clear and alState equal to the requested state).
                          example: true
        "400":
          description: Request body is malformed or `state` is not a valid AL state value
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices:
    get:
      summary: List all fieldbus devices
      operationId: getDevices
      responses:
        "200":
          description: Array of devices in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    name:
                      type: string
                      description: Human-readable device name from SII EEPROM
                      example: "SOMANET Node"
                    vendorId:
                      type: integer
                      format: int64
                      description: Vendor ID from EEPROM
                      example: 131073
                    productCode:
                      type: integer
                      format: int64
                      description: Product code from EEPROM
                      example: 5570560
                    revisionNumber:
                      type: integer
                      format: int64
                      description: Revision number from EEPROM
                      example: 1
                    serialNumber:
                      type: integer
                      format: int64
                      description: Serial number from EEPROM
                      example: 12345
  /api/process-image:
    get:
      summary: Inspect the published EtherCAT process image
      description: >-
        Returns the whole-bus process image: the byte sizes of each direction,
        the expected and last working counters and overall health, the number of
        retained image generations (one per re-map since the last reset), and
        every mapped object resolved to its absolute bit offset. While an image
        is live `configured` is true and the layout describes it. When no image
        is published (no device is in SAFE-OP/OP) but at least one generation has
        been mapped, `configured` is false and the layout describes the most
        recent retained generation — the last-known mapping — so a bus that has
        dropped out of SAFE-OP/OP stays inspectable; `lastWkc` then holds the
        final exchange value and working-counter health does not apply. The
        object lists are empty only before any image has ever been mapped. Object
        `name` is populated only for devices whose object dictionary has been
        enumerated.
      operationId: getProcessImage
      responses:
        "200":
          description: The published process image and its runtime health
          content:
            application/json:
              schema:
                type: object
                required:
                  [configured, outputBytes, inputBytes, expectedWkc, lastWkc, healthy,
                   generations, outputs, inputs]
                properties:
                  configured:
                    type: boolean
                    description: Whether an image is currently published for exchange
                    example: true
                  outputBytes:
                    type: integer
                    description: Size of the output image (master→slave) in bytes
                    example: 12
                  inputBytes:
                    type: integer
                    description: Size of the input image (slave→master) in bytes
                    example: 16
                  expectedWkc:
                    type: integer
                    description: Working counter expected from the devices currently exchanging
                    example: 3
                  lastWkc:
                    type: integer
                    description: Working counter from the most recent exchange (0 before any)
                    example: 3
                  healthy:
                    type: boolean
                    description: Whether the last working counter meets the expected value
                    example: true
                  generations:
                    type: integer
                    description: Number of process images retained since the last reset
                    example: 1
                  outputs:
                    type: array
                    description: Output-mapped objects (RxPDO), in image order
                    items:
                      $ref: "#/components/schemas/ProcessImageObject"
                  inputs:
                    type: array
                    description: Input-mapped objects (TxPDO), in image order
                    items:
                      $ref: "#/components/schemas/ProcessImageObject"
  /api/bus-config:
    get:
      summary: Inspect each slave's static EtherCAT Slave Controller configuration
      description: >-
        Returns the static ESC configuration the master programmed into every
        slave during the last scan: station/alias addresses, mapped process-data
        sizes, the mailbox transport windows, the distributed-clock setup, and the
        configured Sync Managers and FMMUs. Read from cached state with no bus I/O
        and valid once the bus has been scanned. The list is empty before any scan,
        or when the active transport has no ESC (e.g. SPoE). Numeric fields (SM/FMMU
        type, mailbox protocol bits, SM flags) are raw register values; the client
        decodes them. `deviceName` is empty when no known device occupies the slave.
      operationId: getBusConfig
      responses:
        "200":
          description: Per-slave ESC configuration, in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SlaveConfig"
  /api/monitorings:
    get:
      summary: List all monitorings
      operationId: listMonitorings
      description: >
        Returns every registered monitoring as a resource — its configuration plus, per
        parameter, how its value is sourced, and the current buffer fill.
      responses:
        "200":
          description: All monitorings, in topic order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Monitoring"
    post:
      summary: Create a monitoring
      operationId: createMonitoring
      description: >
        Registers a monitoring and starts sampling it off the real-time thread. Each parameter is
        classified once against the published process image: PDO-mapped objects are decoded from
        the live image; the rest are polled over SDO in the background. Create monitorings after
        the bus is operational so PDO objects are recognised as PDO. Monitoring is live-only — a
        parameter samples `null` while its owning device is not exchanging (SAFE-OP/OP).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic, interval, parameters]
              properties:
                topic:
                  type: string
                  pattern: "^[A-Za-z0-9._-]{1,64}$"
                  description: URL-safe unique id; also the WebSocket topic. The name `pdos` is reserved.
                  example: "left-leg"
                name:
                  type: string
                  description: Optional human-readable label.
                  example: "Left Leg"
                interval:
                  type: integer
                  minimum: 5
                  maximum: 2000
                  description: >
                    Flush cadence in milliseconds (5–2000). Not a sample rate: every recorded
                    cycle since the last flush is delivered, so a longer interval yields a larger
                    batch rather than fewer samples. 16 ms (~one batch per 60 Hz display frame) is
                    a good default for live plotting.
                  example: 16
                parameters:
                  type: array
                  minItems: 1
                  description: Objects to sample, each as `[devicePosition, index, subindex]`.
                  items:
                    type: array
                    minItems: 3
                    maxItems: 3
                    items:
                      type: integer
                  example: [[1, 8240, 1], [1, 24676, 0]]
      responses:
        "201":
          description: Monitoring created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitoring"
        "400":
          description: >
            Invalid request — malformed body, non-URL-safe or reserved topic, interval outside
            5–2000 ms, empty parameters, or a parameter that is neither PDO-mapped nor in the
            device's object dictionary.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
        "409":
          description: A monitoring with this topic already exists
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
  /api/monitorings/{topic}:
    parameters:
      - name: topic
        in: path
        required: true
        schema:
          type: string
        description: The monitoring's topic.
    get:
      summary: Get a monitoring
      operationId: getMonitoring
      responses:
        "200":
          description: The monitoring resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitoring"
        "404":
          description: No monitoring with this topic
    delete:
      summary: Delete a monitoring
      operationId: deleteMonitoring
      description: >
        Stops sampling and releases the monitoring's SDO parameters from the shared refresher — an
        object no remaining monitoring needs stops being polled.
      responses:
        "204":
          description: Monitoring deleted
        "404":
          description: No monitoring with this topic
components:
  schemas:
    ProcessDataWatchdog:
      type: object
      description: >
        A device's process-data (sync-manager) watchdog configuration, decoded from the watchdog
        divider (0x0400) and process-data watchdog time (0x0420) ESC registers.
      required: [slavePosition, enabled, running, timeoutNs, timeoutMs, divider, ticks]
      properties:
        slavePosition:
          type: integer
          description: 1-based position of the device on the fieldbus.
          example: 1
        enabled:
          type: boolean
          description: False when the time register (ticks) is 0, i.e. the watchdog is disabled.
          example: true
        running:
          type: boolean
          description: >
            Live status register (0x0440 bit 0): true = the watchdog is counting, false = expired
            or disabled. Meaningful only when enabled; it counts down only while process data flows.
          example: true
        timeoutNs:
          type: integer
          description: "Configured timeout in nanoseconds: ticks × 40 ns × (divider + 2)."
          example: 100000000
        timeoutMs:
          type: number
          description: The same timeout in milliseconds (convenience for display/editing).
          example: 100
        divider:
          type: integer
          description: Raw watchdog divider register (0x0400); shared with the PDI watchdog.
          example: 2498
        ticks:
          type: integer
          description: Raw process-data watchdog time register (0x0420), in watchdog ticks.
          example: 1000
    Monitoring:
      type: object
      description: A monitoring's configuration plus its per-parameter source classification.
      required: [topic, interval, parameters]
      properties:
        topic:
          type: string
          example: "left-leg"
        name:
          type: string
          description: Present only when a label was supplied at creation.
          example: "Left Leg"
        interval:
          type: integer
          description: Flush cadence in milliseconds (5–2000).
          example: 20
        parameters:
          type: array
          description: The sampled objects, in the positional order of each WebSocket sample row.
          items:
            type: object
            required: [devicePosition, index, subindex, source]
            properties:
              devicePosition:
                type: integer
                example: 1
              index:
                type: integer
                example: 24676
              subindex:
                type: integer
                example: 0
              source:
                type: string
                enum: [pdo, sdo]
                description: >
                  How the value is sourced — `pdo` (decoded from the live process image) or `sdo`
                  (polled in the background and read from cache).
                example: "pdo"
    ProcessImageObject:
      type: object
      required: [slavePosition, index, subindex, name, bitOffset, bitLength]
      properties:
        slavePosition:
          type: integer
          description: 1-based bus position of the owning device
          example: 1
        index:
          type: integer
          description: CoE object index
          example: 24640
        subindex:
          type: integer
          description: CoE object subindex
          example: 0
        name:
          type: string
          description: >-
            Object name resolved from the device's parameter map; empty when the
            object dictionary has not been enumerated for that device
          example: "Target position"
        bitOffset:
          type: integer
          description: Absolute bit offset within the direction's image
          example: 32
        bitLength:
          type: integer
          description: Width of the value in bits
          example: 32
    SyncManagerConfig:
      type: object
      required: [index, physicalStart, length, flags, type]
      properties:
        index:
          type: integer
          description: Sync Manager number (0–7)
          example: 2
        physicalStart:
          type: integer
          description: Physical ESC memory start address the SM guards
          example: 4352
        length:
          type: integer
          description: Length of the guarded window in bytes
          example: 12
        flags:
          type: integer
          description: >-
            Raw SM control/flags register (buffer mode, direction, watchdog,
            enable) — decoded by the client
          example: 100100
        type:
          type: integer
          description: "0 unused, 1 MbxOut, 2 MbxIn, 3 Outputs, 4 Inputs"
          example: 3
    FmmuConfig:
      type: object
      required:
        [index, logicalStart, length, logicalStartBit, logicalEndBit,
         physicalStart, physicalStartBit, type, active]
      properties:
        index:
          type: integer
          description: FMMU number (0–3)
          example: 0
        logicalStart:
          type: integer
          description: Logical (bus-wide) start address
          example: 0
        length:
          type: integer
          description: Mapped length in bytes
          example: 12
        logicalStartBit:
          type: integer
          description: Start bit within the first logical byte
          example: 0
        logicalEndBit:
          type: integer
          description: End bit within the last logical byte
          example: 7
        physicalStart:
          type: integer
          description: Physical ESC start address (ties the FMMU to a Sync Manager)
          example: 4352
        physicalStartBit:
          type: integer
          description: Start bit within the first physical byte
          example: 0
        type:
          type: integer
          description: "ESC FMMU type: 1 read (inputs/TxPDO), 2 write (outputs/RxPDO)"
          example: 2
        active:
          type: boolean
          description: Whether the FMMU is active
          example: true
    SlaveConfig:
      type: object
      required:
        [slavePosition, deviceName, configuredAddress, aliasAddress, outputBits,
         inputBits, mailbox, dc, syncManagers, fmmus]
      properties:
        slavePosition:
          type: integer
          description: 1-based bus position
          example: 1
        deviceName:
          type: string
          description: Device name for this slave position, empty if unknown
          example: "SOMANET Node"
        configuredAddress:
          type: integer
          description: Station (configured) address assigned during scan
          example: 4097
        aliasAddress:
          type: integer
          description: Configured station alias from EEPROM
          example: 0
        outputBits:
          type: integer
          description: Mapped output (master→slave) bits
          example: 96
        inputBits:
          type: integer
          description: Mapped input (slave→master) bits
          example: 128
        mailbox:
          type: object
          required: [writeLength, writeOffset, readLength, readOffset, protocols]
          properties:
            writeLength:
              type: integer
              description: Write (master→slave) mailbox length in bytes; 0 if none
              example: 128
            writeOffset:
              type: integer
              description: Write mailbox physical ESC offset
              example: 4096
            readLength:
              type: integer
              description: Read (slave→master) mailbox length in bytes
              example: 128
            readOffset:
              type: integer
              description: Read mailbox physical ESC offset
              example: 4224
            protocols:
              type: integer
              description: >-
                Supported-protocol bits (0x01 AoE, 0x02 EoE, 0x04 CoE, 0x08 FoE,
                0x10 SoE, 0x20 VoE) — decoded by the client
              example: 14
        dc:
          type: object
          required: [capable, active, propagationDelay, cycleTime, shift]
          properties:
            capable:
              type: boolean
              description: Slave has distributed-clock hardware
              example: true
            active:
              type: boolean
              description: SYNC0 generation enabled (false for SM-synchronous bring-up)
              example: false
            propagationDelay:
              type: integer
              description: Measured propagation delay in nanoseconds
              example: 300
            cycleTime:
              type: integer
              description: DC cycle time in nanoseconds
              example: 0
            shift:
              type: integer
              description: Shift from the cycle-modulus boundary in nanoseconds
              example: 0
        syncManagers:
          type: array
          description: Configured Sync Managers, by index
          items:
            $ref: "#/components/schemas/SyncManagerConfig"
        fmmus:
          type: array
          description: Configured FMMUs, by index
          items:
            $ref: "#/components/schemas/FmmuConfig"
    PortDiagnostics:
      type: object
      required:
        [linkUp, loopClosed, communication, invalidFrame, rxError, forwardedError, lostLink]
      properties:
        linkUp:
          type: boolean
          description: Physical link detected on this port (DL Status link bit)
          example: true
        loopClosed:
          type: boolean
          description: Loop closed on this port (no downstream slave, or port disabled)
          example: false
        communication:
          type: boolean
          description: Stable communication established on this port
          example: true
        invalidFrame:
          type: integer
          description: >-
            Invalid-frame counter (0x0300+): frames with a bad FCS/structure. 8-bit, saturates
            at 255; watch for a rising delta rather than the absolute value
          example: 0
        rxError:
          type: integer
          description: "Physical-layer RX error counter (0x0301+): RX_ER asserted by the PHY"
          example: 0
        forwardedError:
          type: integer
          description: >-
            Forwarded RX error counter (0x0308+): errors first flagged by an upstream ESC —
            pinpoints the segment where corruption began
          example: 0
        lostLink:
          type: integer
          description: "Lost-link counter (0x0310+): link-down events on this port"
          example: 0
    DeviceDiagnostics:
      type: object
      required:
        [slavePosition, deviceName, ports, processingUnitError, pdiError,
         processDataWatchdog, pdiWatchdog]
      properties:
        slavePosition:
          type: integer
          description: 1-based position on the fieldbus
          example: 1
        deviceName:
          type: string
          description: Device name for this slave position, empty if unknown
          example: "SOMANET Node"
        ports:
          type: array
          description: Per-port link state and error counters (ports 0–3, in order)
          items:
            $ref: "#/components/schemas/PortDiagnostics"
        processingUnitError:
          type: integer
          description: "ECAT processing-unit error counter (0x030C): datagrams reaching the unit malformed"
          example: 0
        pdiError:
          type: integer
          description: "PDI error counter (0x030D): problems on the slave-local process-data interface"
          example: 0
        processDataWatchdog:
          type: integer
          description: >-
            Process-data (SM) watchdog expirations (0x0442): the slave stopped seeing fresh outputs
          example: 0
        pdiWatchdog:
          type: integer
          description: "PDI watchdog expirations (0x0443)"
          example: 0
    DcSyncStatus:
      type: object
      required:
        [slavePosition, deviceName, dcCapable, referenceClock, propagationDelay,
         systemTimeDifference]
      properties:
        slavePosition:
          type: integer
          description: 1-based position on the fieldbus
          example: 1
        deviceName:
          type: string
          description: Device name for this slave position, empty if unknown
          example: "SOMANET Node"
        dcCapable:
          type: boolean
          description: Slave has distributed-clock hardware
          example: true
        referenceClock:
          type: boolean
          description: >-
            This slave is the DC reference clock (the first DC-capable slave) — it defines bus
            time, so its own systemTimeDifference is zero
          example: false
        propagationDelay:
          type: integer
          description: "System-time delay / propagation delay (0x0928), nanoseconds"
          example: 300
        systemTimeDifference:
          type: integer
          description: >-
            Signed deviation of the local system time from the reference clock (0x092C), in
            nanoseconds. Positive = local clock ahead of the reference, negative = behind; zero on
            the reference clock. Meaningful only while exchanging in SAFE-OP/OP; converges toward
            zero as the drift-compensation loop settles
          example: 0
    AlStatusCode:
      type: object
      required: [code, name, description, terminal]
      properties:
        code:
          type: integer
          description: AL Status Code value (ETG.1000.6 §6.4.1)
          example: 20
        name:
          type: string
          description: Short human-readable name
          example: "No valid firmware"
        description:
          type: string
          description: Full description of the error condition
          example: "No valid firmware is present — the slave needs firmware flashed"
        terminal:
          type: boolean
          description: >-
            True if a slave reporting this code cannot reach the requested
            EtherCAT state by retrying. The server abandons the slave
            immediately during a state transition instead of waiting for
            timeout; the master must change something (re-init, reflash,
            power cycle) before another transition attempt can succeed.
          example: true
    EscRegister:
      type: object
      required: [address, length, name, description]
      properties:
        address:
          type: integer
          description: Register address in the ESC address space (decimal)
          example: 272
        length:
          type: integer
          description: Register width in bytes (1, 2, 4, or 8)
          example: 2
        name:
          type: string
          description: Short snake_case identifier
          example: "dl_status"
        description:
          type: string
          description: Human-readable description from the Beckhoff ESC datasheet
          example: "DL status: EEPROM load ok, link detected, communication established per port"
    FoeErrorCode:
      type: object
      required: [code, name, description]
      properties:
        code:
          type: integer
          description: 32-bit FoE error code as sent in the FoE ERROR packet (ETG.1000.6 §5.5)
          example: 32770
        name:
          type: string
          description: Short human-readable name
          example: "File not found"
        description:
          type: string
          description: Full description of the error condition
          example: "The requested file does not exist on the slave"
    ObjectDataTypeInfo:
      type: object
      required: [code, name, bitSize]
      properties:
        code:
          type: integer
          description: ETG.1020 data type code
          example: 7
        name:
          type: string
          description: Symbolic name of the data type
          example: "UNSIGNED32"
        bitSize:
          type: integer
          description: Declared bit width of one element; 0 for variable-length types
          example: 32
    DeviceParameter:
      type: object
      required: [index, subindex, name, objectCode, dataType, dataTypeName, bitLength, access, value, syncState]
      properties:
        index:
          type: integer
          description: CoE object index
          example: 24640
        subindex:
          type: integer
          description: CoE object subindex
          example: 0
        name:
          type: string
          description: Textual description from the slave's SDO Info "Get Entry Description"
          example: "Position actual value"
        objectCode:
          type: integer
          description: ETG.1000.6 §5 object code (VAR=7, ARRAY=8, RECORD=9)
          example: 7
        dataType:
          type: integer
          description: ETG.1020 data type code (e.g. 7 = UNSIGNED32)
          example: 4
        dataTypeName:
          type: string
          description: Symbolic name of the data type (resolved server-side from `dataType`)
          example: "INTEGER32"
        bitLength:
          type: integer
          description: Bit length of the entry's value
          example: 32
        access:
          type: integer
          description: ObjAccess bitfield (read/write per AL state)
          example: 7
        value:
          description: >-
            Last-known value, decoded according to `dataType`.  Initialised to
            a type-appropriate zero (0 for numbers, "" for strings, [] for raw
            bytes) before the first read.  After a successful SDO upload,
            holds the decoded value; the JSON encoding follows the variant
            alternative — number, string, or array of byte values.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
          example: 12345
        unit:
          type: integer
          description: >-
            ETG.1004 unit code reported by the slave for this entry.  Absent
            when the slave does not populate the Unit field of the SDO Info
            response.  The 32-bit code decomposes into prefix, base SI unit,
            and exponent per ETG.1004.
          example: 0
        defaultValue:
          description: >-
            Slave-reported default value, decoded with the same logic as
            `value`.  Absent when the slave does not report a default.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        minValue:
          description: >-
            Slave-reported minimum value, decoded with the same logic as
            `value`.  Absent when the slave does not report a minimum.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        maxValue:
          description: >-
            Slave-reported maximum value, decoded with the same logic as
            `value`.  Absent when the slave does not report a maximum.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        syncState:
          type: string
          enum: [unknown, synced, pending]
          description: >-
            Freshness of `value` relative to the device. `synced` — matches the
            device (last successful read or write); `pending` — set locally while
            offline or after a failed write, not yet confirmed on the device;
            `unknown` — never read, `value` is the type-appropriate default.
          example: "synced"
  responses:
    DriverError:
      description: Fieldbus driver returned an error
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string
                description: Human-readable error message from the driver
                example: "FPRD slave 1: wkc=0"
