openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0-alpha.11"
  description: >
    HTTP API for Motion Master motion control software.
    A monitoring WebSocket is also available at /ws — clients fetch the PDO
    schema via GET /api/monitoring/pdos and then subscribe to real-time updates.
servers:
  - url: https://local.motion-master.synapticon.com:8443
    description: Local Motion Master instance
paths:
  /api/adapters:
    get:
      summary: List network adapters on the host
      operationId: getAdapters
      responses:
        "200":
          description: Array of network adapters available on the host machine
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [mac, name]
                  properties:
                    mac:
                      type: string
                      description: MAC address in colon-separated uppercase format
                      example: "AA:BB:CC:DD:EE:FF"
                    name:
                      type: string
                      description: OS interface name (e.g. eth0 on Linux, \\Device\\NPF_{GUID} on Windows)
                      example: "eth0"
  /api/swagger.yml:
    get:
      summary: OpenAPI specification
      operationId: getSwaggerYml
      responses:
        "200":
          description: This OpenAPI specification in YAML format
          content:
            text/yaml:
              schema:
                type: string
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/devices/{slavePosition}:
    get:
      summary: Get a single fieldbus device by bus position
      operationId: getDevice
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Device at the given bus position
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  name:
                    type: string
                    description: Human-readable device name from SII EEPROM
                    example: "SOMANET Node"
                  vendorId:
                    type: integer
                    format: int64
                    description: Vendor ID from EEPROM
                    example: 131073
                  productCode:
                    type: integer
                    format: int64
                    description: Product code from EEPROM
                    example: 5570560
                  revisionNumber:
                    type: integer
                    format: int64
                    description: Revision number from EEPROM
                    example: 1
                  serialNumber:
                    type: integer
                    format: int64
                    description: Serial number from EEPROM
                    example: 12345
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/init:
    post:
      summary: Initialise the fieldbus driver
      operationId: init
      description: >
        Constructs the requested fieldbus driver, opens the network interface, and
        makes the driver available for subsequent calls to /api/scan.
        The request body is optional; omitting it selects the SOEM driver with
        automatic adapter selection.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  description: Fieldbus driver to use
                  enum: [soem, spoe, igh]
                  default: soem
                  example: "soem"
                adapter:
                  type: string
                  description: Network interface name or MAC address; empty string for auto-detect
                  default: ""
                  example: "eth0"
      responses:
        "200":
          description: Driver initialised successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is not valid JSON
        "500":
          $ref: "#/components/responses/DriverError"
        "501":
          description: No driver factory configured on this instance
  /api/scan:
    post:
      summary: Scan the bus for slaves
      operationId: scan
      description: >
        Scans the fieldbus for slaves and configures their sync managers and FMMUs.
        Must be called after a successful POST /api/init. Slaves remain in INIT state
        after this call; state transitions are driven by subsequent API calls.
      responses:
        "200":
          description: Scan successful; returns the number of slaves found
          content:
            application/json:
              schema:
                type: object
                required: [slaves]
                properties:
                  slaves:
                    type: integer
                    description: Number of slaves discovered on the bus
                    example: 3
        "500":
          $ref: "#/components/responses/DriverError"
  /api/reset:
    post:
      summary: Reset the fieldbus driver and clear the device list
      operationId: reset
      description: >
        Transitions all slaves to INIT state, closes the network interface, and removes
        all Device objects. After this returns, POST /api/init and POST /api/scan
        may be called again.
      responses:
        "200":
          description: Reset completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
  /api/log:
    get:
      summary: Get recent log output
      operationId: getLog
      description: >
        Returns the most recent in-memory log lines as plain text, one entry per line.
        The ring buffer holds up to 100 000 entries (~10 MB).
      responses:
        "200":
          description: Log output as plain text, one entry per line
          content:
            text/plain:
              schema:
                type: string
  /api/meta/al-status-codes:
    get:
      summary: List all known AL Status Codes
      operationId: getAlStatusCodes
      description: >
        Returns the static catalogue of EtherCAT AL Status Codes defined in ETG.1000.6 §6.4.1.
        These codes appear in the alStatusCode field of the device state response when an error
        is present and identify the cause of the state transition failure.
      responses:
        "200":
          description: Array of AL Status Code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlStatusCode"
  /api/meta/esc-registers:
    get:
      summary: List all known ESC registers
      operationId: getRegisters
      description: >
        Returns the static catalogue of well-known EtherCAT Slave Controller registers
        from the Beckhoff ESC datasheet (Section II) and ETG.1000.4.
        Use the address and length fields as inputs to the device register read/write endpoints.
      responses:
        "200":
          description: Array of ESC register descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EscRegister"
  /api/meta/foe-error-codes:
    get:
      summary: List all known FoE error codes
      operationId: getFoeErrorCodes
      description: >
        Returns the static catalogue of standard File over EtherCAT (FoE) error codes
        defined in ETG.1000.6 §5.5.  These codes appear in the FoE ERROR packet sent
        by the slave when a file transfer fails, and are surfaced in the error message
        returned by the file read endpoint.  Vendor-specific codes outside the 0x8000
        range are not listed here.
      responses:
        "200":
          description: Array of FoE error code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FoeErrorCode"
  /api/meta/data-types:
    get:
      summary: List all known CoE object dictionary data types
      operationId: getDataTypes
      description: >
        Returns the static catalogue of ETG.1020 data type codes used in CoE object
        dictionary entries.  Each entry of a `DeviceParameter` carries a `dataType`
        field whose value is one of the codes listed here.
      responses:
        "200":
          description: Array of data-type descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ObjectDataTypeInfo"
  /api/devices/{slavePosition}/parameters/init:
    post:
      summary: Initialise the parameter list for a device by enumerating its object dictionary
      operationId: initializeDeviceParameters
      description: >
        Enumerates the entire CoE object dictionary of the device at
        `slavePosition` via the SDO Info service ("Get Object List" → "Get Object
        Description" → "Get Entry Description") and rebuilds its parameter map.
        The device must be in PRE-OP, SAFE-OP, or OP (mailbox communication
        active).  On a fully populated drive the call can take several seconds.
        When `readValues=true` each entry is additionally read via SDO upload and
        the decoded value is stored on the parameter; entries that fail to read
        keep their type-appropriate default and the call still succeeds.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: readValues
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            When `true`, perform an SDO upload for every entry and decode the
            value.  Defaults to `false` — only schema (name, type, access) is
            populated.
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/parameters:
    get:
      summary: Read the previously initialised parameter list for a device
      operationId: getDeviceParameters
      description: >
        Returns the parameter list populated by the most recent call to
        `POST /api/devices/{slavePosition}/parameters/init`.  Empty before the
        first call.  Entries are ordered ascending by `(index, subindex)`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices/{slavePosition}/registers/{address}:
    get:
      summary: Read bytes from an ESC register
      operationId: readRegister
      description: >
        Reads `length` bytes from the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Read (FPRD) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal (e.g. 272 for 0x0110)
          example: 272
        - name: length
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: Number of bytes to read
          example: 2
      responses:
        "200":
          description: Raw register bytes
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Register bytes in ascending address order
                    example: [65, 0]
        "400":
          description: slavePosition, address, or length is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Write bytes to an ESC register
      operationId: writeRegister
      description: >
        Writes bytes to the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Write (FPWR) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal
          example: 288
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Bytes to write in ascending address order
                  example: [1, 0]
      responses:
        "200":
          description: Write completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition or address is not a valid integer, or request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/sdo/{index}/{subindex}:
    get:
      summary: Upload an object dictionary entry from a device (CoE SDO upload)
      operationId: sdoUpload
      description: >
        Performs a CoE SDO upload — reads the value of object `index:subindex` from
        the device at `slavePosition` and returns the raw bytes as a JSON array.
        Both `index` and `subindex` accept decimal or hexadecimal notation;
        prefix with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      responses:
        "200":
          description: Raw object bytes from the device
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Object bytes as transferred by the SDO upload
                    example: [0, 0, 0, 0]
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/files/{filename}:
    get:
      summary: Read a file from a device via FoE (File over EtherCAT)
      operationId: foeReadFile
      description: >
        Sends an FoE read request for `filename` to the device at `slavePosition`
        and returns the raw file bytes.  FoE is available in Boot, Pre-Op, Safe-Op,
        and Op states (device-dependent); the caller is responsible for ensuring the
        device is in a suitable state before calling.  The call blocks until the full
        file has been received or a per-packet timeout of 700 ms is exceeded.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: FoE filename as recognised by the slave firmware
          example: "firmware.bin"
      responses:
        "200":
          description: Raw file bytes from the device
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/state:
    get:
      summary: Read current AL state for devices
      operationId: getDeviceStates
      description: >
        Reads the current EtherCAT Application Layer state for one or more devices.
        Omit the `positions` query parameter to query all discovered devices.
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: AL state snapshot for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, alStatus, alState, error, alStatusCode]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    alStatus:
                      type: integer
                      description: >
                        Raw AL Status register value (ETG.1000.6 §6.4.1).
                        Bits 3:0 encode the state; bit 4 is the error indicator.
                      example: 17
                    alState:
                      type: integer
                      enum: [1, 2, 3, 4, 8]
                      description: >
                        Current AL state decoded from alStatus (ETG.1000.6 encoding):
                        1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                      example: 1
                    error:
                      type: boolean
                      description: True when the AL Status error indicator bit (bit 4) is set
                      example: true
                    alStatusCode:
                      type: integer
                      description: >
                        AL Status Code register (ETG.1000.6 §6.4.1).
                        Non-zero when error is true; identifies the error cause
                        (e.g. 0x0014 = No valid firmware).
                      example: 20
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Transition devices to an EtherCAT AL state
      operationId: transitionToState
      description: >
        Commands one or more devices to the requested EtherCAT Application Layer state
        and blocks until all targeted devices arrive or the timeout elapses.
        Devices that do not arrive in time are logged at error level; the call still
        returns 200. Omit `positions` or pass an empty array to target all discovered devices.
        State values are the standard AL state register encodings from ETG.1000.6:
        1 (Init), 2 (PreOp), 3 (Boot), 4 (SafeOp), 8 (Op).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                positions:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                  description: >
                    1-based slave positions to target. Omit or pass an empty array
                    to target all discovered devices.
                  example: [1, 2]
                state:
                  type: integer
                  enum: [1, 2, 3, 4, 8]
                  description: >
                    Target EtherCAT AL state (ETG.1000.6 AL control register encoding):
                    1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                  example: 8
                timeout:
                  type: integer
                  description: Maximum time to wait for all devices, in milliseconds
                  default: 5000
                  example: 5000
      responses:
        "200":
          description: >
            Transition command completed. All targeted devices may or may not have
            reached the target state within the timeout; check device state via
            GET /api/devices/state.
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is malformed or `state` is not a valid AL state value
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices:
    get:
      summary: List all fieldbus devices
      operationId: getDevices
      responses:
        "200":
          description: Array of devices in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    name:
                      type: string
                      description: Human-readable device name from SII EEPROM
                      example: "SOMANET Node"
                    vendorId:
                      type: integer
                      format: int64
                      description: Vendor ID from EEPROM
                      example: 131073
                    productCode:
                      type: integer
                      format: int64
                      description: Product code from EEPROM
                      example: 5570560
                    revisionNumber:
                      type: integer
                      format: int64
                      description: Revision number from EEPROM
                      example: 1
                    serialNumber:
                      type: integer
                      format: int64
                      description: Serial number from EEPROM
                      example: 12345
components:
  schemas:
    AlStatusCode:
      type: object
      required: [code, name, description, terminal]
      properties:
        code:
          type: integer
          description: AL Status Code value (ETG.1000.6 §6.4.1)
          example: 20
        name:
          type: string
          description: Short human-readable name
          example: "No valid firmware"
        description:
          type: string
          description: Full description of the error condition
          example: "No valid firmware is present — the slave needs firmware flashed"
        terminal:
          type: boolean
          description: >-
            True if a slave reporting this code cannot reach the requested
            EtherCAT state by retrying. The server abandons the slave
            immediately during a state transition instead of waiting for
            timeout; the master must change something (re-init, reflash,
            power cycle) before another transition attempt can succeed.
          example: true
    EscRegister:
      type: object
      required: [address, length, name, description]
      properties:
        address:
          type: integer
          description: Register address in the ESC address space (decimal)
          example: 272
        length:
          type: integer
          description: Register width in bytes (1, 2, 4, or 8)
          example: 2
        name:
          type: string
          description: Short snake_case identifier
          example: "dl_status"
        description:
          type: string
          description: Human-readable description from the Beckhoff ESC datasheet
          example: "DL status: EEPROM load ok, link detected, communication established per port"
    FoeErrorCode:
      type: object
      required: [code, name, description]
      properties:
        code:
          type: integer
          description: 32-bit FoE error code as sent in the FoE ERROR packet (ETG.1000.6 §5.5)
          example: 32770
        name:
          type: string
          description: Short human-readable name
          example: "File not found"
        description:
          type: string
          description: Full description of the error condition
          example: "The requested file does not exist on the slave"
    ObjectDataTypeInfo:
      type: object
      required: [code, name, bitSize]
      properties:
        code:
          type: integer
          description: ETG.1020 data type code
          example: 7
        name:
          type: string
          description: Symbolic name of the data type
          example: "UNSIGNED32"
        bitSize:
          type: integer
          description: Declared bit width of one element; 0 for variable-length types
          example: 32
    DeviceParameter:
      type: object
      required: [index, subindex, name, objectCode, dataType, dataTypeName, bitLength, access, value]
      properties:
        index:
          type: integer
          description: CoE object index
          example: 24640
        subindex:
          type: integer
          description: CoE object subindex
          example: 0
        name:
          type: string
          description: Textual description from the slave's SDO Info "Get Entry Description"
          example: "Position actual value"
        objectCode:
          type: integer
          description: ETG.1000.6 §5 object code (VAR=7, ARRAY=8, RECORD=9)
          example: 7
        dataType:
          type: integer
          description: ETG.1020 data type code (e.g. 7 = UNSIGNED32)
          example: 4
        dataTypeName:
          type: string
          description: Symbolic name of the data type (resolved server-side from `dataType`)
          example: "INTEGER32"
        bitLength:
          type: integer
          description: Bit length of the entry's value
          example: 32
        access:
          type: integer
          description: ObjAccess bitfield (read/write per AL state)
          example: 7
        value:
          description: >-
            Last-known value, decoded according to `dataType`.  Initialised to
            a type-appropriate zero (0 for numbers, "" for strings, [] for raw
            bytes) before the first read.  After a successful SDO upload,
            holds the decoded value; the JSON encoding follows the variant
            alternative — number, string, or array of byte values.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
          example: 12345
        unit:
          type: integer
          description: >-
            ETG.1004 unit code reported by the slave for this entry.  Absent
            when the slave does not populate the Unit field of the SDO Info
            response.  The 32-bit code decomposes into prefix, base SI unit,
            and exponent per ETG.1004.
          example: 0
        defaultValue:
          description: >-
            Slave-reported default value, decoded with the same logic as
            `value`.  Absent when the slave does not report a default.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        minValue:
          description: >-
            Slave-reported minimum value, decoded with the same logic as
            `value`.  Absent when the slave does not report a minimum.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
        maxValue:
          description: >-
            Slave-reported maximum value, decoded with the same logic as
            `value`.  Absent when the slave does not report a maximum.
          oneOf:
            - type: integer
            - type: number
            - type: string
            - type: array
              items:
                type: integer
  responses:
    DriverError:
      description: Fieldbus driver returned an error
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string
                description: Human-readable error message from the driver
                example: "FPRD slave 1: wkc=0"
