openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0-alpha.41"
  description: |
    Motion Master is the motion-control software for Synapticon SOMANET servo
    drives. This HTTP API drives the EtherCAT fieldbus end to end: bring up a
    driver, discover the slaves on the bus, command AL state transitions, and
    read or write the object dictionary, ESC registers, parameters, and files of
    each device. A companion monitoring WebSocket streams live process data.

    ## Getting started

    The fieldbus is controlled through an explicit lifecycle — the driver is not
    created until you ask for it, so a fresh instance has no open network
    interface:

    1. **Init** — `POST /api/init` constructs a fieldbus driver (`soem`, or the
       planned `spoe`) and opens the network interface. SOEM has no adapter
       auto-detect, so an adapter name or MAC address is required. `init` is
       one-shot: a second call returns `409` until you reset.
    2. **Scan** — `POST /api/scan` discovers the slaves on the bus and configures
       their sync managers and FMMUs. Slaves are left in the `INIT` state.
    3. **Transition** — `POST /api/devices/state` moves the bus to a target AL
       state (`PreOp`, `SafeOp`, `Op`, …); `GET /api/devices/state` reads where
       each slave currently sits.
    4. **Reset** — `POST /api/reset` tears the driver down and clears the device
       list. `init` must be called again afterwards.

    `GET /api/adapters` lists the network interfaces available on the host, to
    help pick the adapter for step 1.

    ## Working with devices

    Once the bus has been scanned, each slave is addressed by its bus position
    (`slavePosition`). The per-device endpoints cover the common service-plane
    operations:

    - **Object dictionary (CoE)** — `GET`/`PUT …/parameters/{index}/{subindex}`
      read and write a single parameter by value, PDO-aware (the live process image
      or staged output when exchanging, SDO otherwise, with a `source=cache` read
      mode); `GET`/`PUT …/sdo/{index}/{subindex}` is the raw byte-level SDO transfer
      with no PDO awareness; `POST …/parameters/init` enumerates the full dictionary
      and `GET …/parameters` reads the cached result.
    - **ESC registers** — `GET`/`PUT …/registers/{address}` read and write raw
      EtherCAT Slave Controller register bytes.
    - **Files (FoE)** — `GET`/`PUT …/files/{filename}` transfer files to and from
      the device over File-over-EtherCAT (firmware, configuration, logs).
    - **SII (EEPROM)** — `GET …/sii` reads the Slave Information Interface, returning
      the parsed structure or the raw EEPROM bytes per the `Accept` header.

    The `/api/meta/*` endpoints expose static reference tables — AL status codes,
    ESC register definitions, FoE error codes, and CoE data types — so clients
    can decode numeric values without hard-coding them.

    ## Monitoring WebSocket

    The WebSocket runs on its own port (`62281` by default), separate from
    this HTTP API (`61447`) and on its own event loop, so a slow HTTP request can
    never stall the stream: `wss://local.motion-master.synapticon.com:62281` (the
    whole port is the WebSocket, so the URL needs no path).
    A client creates a monitoring
    with `POST /api/monitorings` (a topic, flush interval, and a list of
    parameters), then subscribes to its topic over the socket by sending
    `{"subscribe":"<topic>"}` (and `{"unsubscribe":"<topic>"}` to stop). The stream
    is **lossless**: every process-data cycle recorded since the last flush is
    delivered — `interval` is the flush cadence, not a sample rate, so a longer
    interval means a bigger batch, never dropped cycles. Each batch is published to
    that topic, delivered only to the clients subscribed to it. Each row is
    `[timestamp, value, ...]` where `timestamp` is **epoch microseconds** (exact in
    a JavaScript number, and distinct per cycle even at sub-millisecond periods).
    The messages:

    ```json
    {"type": "monitoring", "topic": "left-leg", "data": [[1735821000123456, 39000, 41], ...]}
    {"type": "notification", "data": {"event": "slaves_changed"}}
    ```

    `data` is an array of cycle rows; each row is `[timestampUs, v0, v1, ...]` where
    `timestampUs` is epoch microseconds and the values are positionally ordered by
    the monitoring's `parameters` (fetch the order, and how each value is sourced,
    via `GET /api/monitorings/{topic}`). A value is `null` while its owning device
    is not exchanging (SAFE-OP/OP). Numbers beyond 2^53 lose precision in a JS
    client; epoch microseconds stay exact until ~year 2255 and the targeted values
    are 32-bit integers and floats.

    ## Networking, TLS, and CORS

    The server binds the HTTP API to `127.0.0.1:61447` and the WebSocket
    to `127.0.0.1:62281`, reached at `https://local.motion-master.synapticon.com:61447`
    and `wss://local.motion-master.synapticon.com:62281` (a DNS record that resolves
    to localhost), with a real, publicly-trusted TLS certificate bundled in every
    release. CORS allows the single origin
    `https://motion-master.synapticon.com`, the hosted progressive web app.

    ## Conventions

    - **Errors** — failures return the matching HTTP status with a JSON body of
      the form `{ "error": "<message>" }`. The message is a human-readable string;
      `409` on `init` specifically signals "already initialised" so a client can
      tell a reconnect from a real failure.
    - **Version** — the running server version is reported at `GET /api/version`.
servers:
  - url: https://local.motion-master.synapticon.com:61447
    description: Local Motion Master instance
paths:
  /api/adapters:
    get:
      summary: List network adapters on the host
      operationId: getAdapters
      responses:
        "200":
          description: Array of network adapters available on the host machine
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [mac, name]
                  properties:
                    mac:
                      type: string
                      description: MAC address in colon-separated uppercase format
                      example: "AA:BB:CC:DD:EE:FF"
                    name:
                      type: string
                      description: OS interface name (e.g. eth0 on Linux, \\Device\\NPF_{GUID} on Windows)
                      example: "eth0"
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/config:
    get:
      summary: Get the configuration Motion Master was started with
      description: >
        The effective configuration after merging the JSONC config file (if any) over the built-in
        defaults — the same `Config` the server booted with. Read-only; changing it requires editing
        the config file and restarting. The shape mirrors the config file (server, fieldbus,
        logLevel, tls, gameLoop, recorder, parameterCache, parameters).
      operationId: getStartedConfig
      responses:
        "200":
          description: The started configuration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  server: { httpPort: 61447, wsPort: 62281, corsOrigin: "https://motion-master.synapticon.com" }
                  fieldbus: { driver: "", adapter: "", mailboxStatusFmmu: false }
                  logLevel: "info"
                  tls: { certPath: "", keyPath: "", autoUpdate: true }
                  gameLoop: { periodUs: 1000 }
                  recorder: { capacity: 300000, dumpDir: "" }
                  parameterCache: { enabled: true, cacheAllVendors: false, directory: "" }
                  parameters: { readObjectDictionaryOnPreop: true, useCompleteAccess: true }
  /api/system-info:
    get:
      summary: Get host OS and hardware information
      description: >
        A best-effort snapshot of the operating system and hardware Motion Master is running on,
        for the Connection page's System panel. Every field is best-effort: one that cannot be
        determined on the current platform is returned empty (strings) or zero (numbers) rather
        than failing the request. Collected on demand — not cached.
      operationId: getSystemInfo
      responses:
        "200":
          description: Host system snapshot
          content:
            application/json:
              schema:
                type: object
                required:
                  - osName
                  - kernel
                  - architecture
                  - hostname
                  - cpuModel
                  - cpuCores
                  - totalMemoryBytes
                  - diskTotalBytes
                  - diskFreeBytes
                  - container
                  - dockerVersion
                properties:
                  osName:
                    type: string
                    description: Friendly OS name.
                    example: "Ubuntu 24.04 LTS"
                  kernel:
                    type: string
                    description: Kernel or OS build identifier.
                    example: "6.8.0-31-generic"
                  architecture:
                    type: string
                    description: Machine architecture.
                    example: "x86_64"
                  hostname:
                    type: string
                    description: Network host name.
                    example: "motion-master-pi"
                  cpuModel:
                    type: string
                    description: CPU brand string.
                    example: "Intel(R) Core(TM) i7-1185G7 @ 3.00GHz"
                  cpuCores:
                    type: integer
                    description: Logical processor count.
                    example: 8
                  totalMemoryBytes:
                    type: integer
                    format: int64
                    description: Total physical RAM in bytes (0 if unknown).
                    example: 16777216000
                  diskTotalBytes:
                    type: integer
                    format: int64
                    description: Capacity of the filesystem holding the working directory, in bytes.
                    example: 250790436864
                  diskFreeBytes:
                    type: integer
                    format: int64
                    description: Space available to an unprivileged process on that filesystem, in bytes.
                    example: 98765432100
                  container:
                    type: string
                    description: >
                      Container runtime when running inside one ("docker", "podman", "containerd",
                      "kubernetes", "lxc"); empty on bare metal.
                    example: "docker"
                  dockerVersion:
                    type: string
                    description: >
                      Docker version reported by `docker --version` on the host; empty if the docker
                      CLI is not installed/on PATH (including inside Motion Master's own image).
                    example: "27.1.1"
  /api/cert:
    get:
      summary: Get the TLS certificate validity window
      description: >
        Reports the validity window and identity of the certificate the server
        is currently serving. `expiresSoon` trips within 7 days of `notAfter`,
        so the PWA can prompt the user to refresh. Note that an already-expired
        certificate blocks the browser from reaching this endpoint at all; the
        binary self-heals an expired/missing certificate at startup (fetching
        from the rolling release) and exposes `--update-cert` for manual refresh.
        Returns 500 if the certificate file cannot be read or parsed.
      operationId: getCert
      responses:
        "200":
          description: Certificate validity and identity
          content:
            application/json:
              schema:
                type: object
                required:
                  [
                    path,
                    subject,
                    issuer,
                    notBefore,
                    notAfter,
                    daysRemaining,
                    expired,
                    expiresSoon,
                  ]
                properties:
                  path:
                    type: string
                    description: Filesystem path of the certificate being served.
                    example: "/opt/motion-master/cert.pem"
                  subject:
                    type: string
                    description: Subject common name (CN).
                    example: "local.motion-master.synapticon.com"
                  issuer:
                    type: string
                    description: Issuer common name (CN).
                    example: "R10"
                  notBefore:
                    type: string
                    format: date-time
                    description: Start of the validity window (ISO 8601 UTC).
                    example: "2026-05-01T00:00:00Z"
                  notAfter:
                    type: string
                    format: date-time
                    description: End of the validity window / expiry (ISO 8601 UTC).
                    example: "2026-08-01T00:00:00Z"
                  daysRemaining:
                    type: integer
                    description: Whole days until expiry; negative once expired.
                    example: 56
                  expired:
                    type: boolean
                    description: Whether the certificate is already past notAfter.
                    example: false
                  expiresSoon:
                    type: boolean
                    description: True when expired or within 7 days of notAfter.
                    example: false
                  chain:
                    type: array
                    description: >
                      Every certificate present in the served PEM file, leaf first, in chain order
                      (leaf → intermediate(s)). A fullchain PEM usually stops at the intermediate —
                      the root lives in the OS trust store and is not transmitted — but the last
                      entry's `issuer` still names that root.
                    items:
                      type: object
                      required: [subject, issuer, organization, issuerOrganization]
                      properties:
                        subject:
                          type: string
                          description: Subject common name (CN) of this certificate.
                          example: "local.motion-master.synapticon.com"
                        issuer:
                          type: string
                          description: Issuer common name (CN) — the subject of the next link up.
                          example: "R10"
                        organization:
                          type: string
                          description: >
                            Subject organization (O) — the friendly CA name (e.g. "Let's Encrypt")
                            that the short CN does not carry; empty if absent (leaf certs often have
                            no O).
                          example: "Let's Encrypt"
                        issuerOrganization:
                          type: string
                          description: >
                            Issuer organization (O) — names the next link's (or, for the last link,
                            the root's) organization; empty if absent.
                          example: "Internet Security Research Group"
        "500":
          description: The certificate file could not be read or parsed
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    description: Human-readable reason the certificate could not be read.
                    example: "cannot parse PEM certificate: /opt/motion-master/cert.pem"
  /api/cert/refresh:
    post:
      summary: Fetch and install a fresh TLS certificate
      description: >
        Downloads a fresh certificate and key from the rolling release, validates
        the pair (parses, CN matches, not expired, key matches cert), and atomically
        installs them next to the binary. The new certificate only takes effect after
        a restart (the TLS listener loads the certificate once at startup), indicated
        by `restartRequired` in the response. Use the still-valid proactive case; an
        already-expired certificate is healed by the binary at startup instead.
      operationId: refreshCert
      responses:
        "200":
          description: The fresh certificate was installed (restart to apply)
          content:
            application/json:
              schema:
                type: object
                required: [notAfter, daysRemaining, restartRequired]
                properties:
                  path:
                    type: string
                    example: "/opt/motion-master/cert.pem"
                  subject:
                    type: string
                    example: "local.motion-master.synapticon.com"
                  issuer:
                    type: string
                    example: "R10"
                  notBefore:
                    type: string
                    format: date-time
                  notAfter:
                    type: string
                    format: date-time
                  daysRemaining:
                    type: integer
                    example: 89
                  expired:
                    type: boolean
                    example: false
                  expiresSoon:
                    type: boolean
                    example: false
                  restartRequired:
                    type: boolean
                    description: Always true — restart Motion Master to serve the new certificate.
                    example: true
        "500":
          description: The certificate could not be fetched, validated, or installed
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "downloaded key does not match certificate"
        "501":
          description: Certificate refresh is not configured on this server
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "certificate refresh is not configured"
  /api/devices/{slavePosition}:
    get:
      summary: Get a single fieldbus device by bus position
      operationId: getDevice
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Device at the given bus position
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  name:
                    type: string
                    description: Human-readable device name from SII EEPROM
                    example: "SOMANET Node"
                  vendorId:
                    type: integer
                    format: int64
                    description: Vendor ID from EEPROM
                    example: 131073
                  productCode:
                    type: integer
                    format: int64
                    description: Product code from EEPROM
                    example: 5570560
                  revisionNumber:
                    type: integer
                    format: int64
                    description: Revision number from EEPROM
                    example: 1
                  serialNumber:
                    type: integer
                    format: int64
                    description: Serial number from EEPROM
                    example: 12345
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/init:
    post:
      summary: Initialise the fieldbus driver
      operationId: init
      description: >
        Constructs the requested fieldbus driver, opens the network interface, and
        makes the driver available for subsequent calls to /api/scan.
        The driver defaults to SOEM when omitted. SOEM has no adapter auto-detect:
        a network adapter must be supplied, otherwise init fails.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  description: Fieldbus driver to use (only soem is implemented today; spoe is planned)
                  enum: [soem, spoe]
                  default: soem
                  example: "soem"
                adapter:
                  type: string
                  description: >
                    Network interface name or MAC address. Required for SOEM — there is
                    no auto-detect, so an empty value makes init fail.
                  example: "eth0"
      responses:
        "200":
          description: Driver initialised successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is not valid JSON
        "409":
          description: >
            A driver is already initialised. init() is one-shot — call POST /api/reset
            before initialising again. Clients can use this to distinguish "already
            connected" (e.g. after a page refresh) from a genuine init failure.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "already initialised — call reset() first"
        "500":
          $ref: "#/components/responses/DriverError"
        "501":
          description: No driver factory configured on this instance
  /api/scan:
    post:
      summary: Scan the bus for slaves
      operationId: scan
      description: >
        Scans the fieldbus for slaves and configures their sync managers and FMMUs.
        Must be called after a successful POST /api/init. Slaves remain in INIT state
        after this call; state transitions are driven by subsequent API calls.


        An empty bus is a successful scan returning 0 slaves, not an error: the master
        cannot distinguish a bus with no devices powered from a disconnected one, and the
        user recovers by powering devices on and scanning again. A 500 is returned only on
        a genuine driver failure (e.g. no driver initialised).
      responses:
        "200":
          description: Scan successful; returns the number of slaves found (0 for an empty or unpowered bus)
          content:
            application/json:
              schema:
                type: object
                required: [slaves]
                properties:
                  slaves:
                    type: integer
                    description: Number of slaves discovered on the bus (0 if empty/unpowered)
                    example: 3
        "500":
          $ref: "#/components/responses/DriverError"
  /api/reset:
    post:
      summary: Reset the fieldbus driver and clear the device list
      operationId: reset
      description: >
        Transitions all slaves to INIT state, closes the network interface, and removes
        all Device objects. After this returns, POST /api/init and POST /api/scan
        may be called again.
      responses:
        "200":
          description: Reset completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
  /api/log:
    get:
      summary: Get recent log output
      operationId: getLog
      description: >
        Returns the most recent in-memory log lines as plain text, one entry per line.
        The ring buffer holds up to 100 000 entries (~10 MB).
      responses:
        "200":
          description: Log output as plain text, one entry per line
          content:
            text/plain:
              schema:
                type: string
  /api/meta/al-status-codes:
    get:
      summary: List all known AL Status Codes
      operationId: getAlStatusCodes
      description: >
        Returns the static catalogue of EtherCAT AL Status Codes defined in ETG.1000.6 §6.4.1.
        These codes appear in the alStatusCode field of the device state response when an error
        is present and identify the cause of the state transition failure.
      responses:
        "200":
          description: Array of AL Status Code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlStatusCode"
  /api/meta/esc-registers:
    get:
      summary: List all known ESC registers
      operationId: getRegisters
      description: >
        Returns the static catalogue of well-known EtherCAT Slave Controller registers
        from the Beckhoff ESC datasheet (Section II) and ETG.1000.4.
        Use the address and length fields as inputs to the device register read/write endpoints.
      responses:
        "200":
          description: Array of ESC register descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EscRegister"
  /api/meta/foe-error-codes:
    get:
      summary: List all known FoE error codes
      operationId: getFoeErrorCodes
      description: >
        Returns the static catalogue of standard File over EtherCAT (FoE) error codes
        defined in ETG.1000.6 §5.5.  These codes appear in the FoE ERROR packet sent
        by the slave when a file transfer fails, and are surfaced in the error message
        returned by the file read endpoint.  Vendor-specific codes outside the 0x8000
        range are not listed here.
      responses:
        "200":
          description: Array of FoE error code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FoeErrorCode"
  /api/meta/object-data-types:
    get:
      summary: List all known CoE object dictionary data types
      operationId: getObjectDataTypes
      description: >
        Returns the static catalogue of ETG.1020 data type codes used in CoE object
        dictionary entries.  Each entry of a `DeviceParameter` carries a `dataType`
        field whose value is one of the codes listed here.
      responses:
        "200":
          description: Array of data-type descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ObjectDataTypeInfo"
  /api/devices/{slavePosition}/parameters/init:
    post:
      summary: Initialise the parameter list for a device by enumerating its object dictionary
      operationId: initializeDeviceParameters
      description: >
        Enumerates the entire CoE object dictionary of the device at
        `slavePosition` via the SDO Info service ("Get Object List" → "Get Object
        Description" → "Get Entry Description") and rebuilds its parameter map.
        The device must be in PRE-OP, SAFE-OP, or OP (mailbox communication
        active).  On a fully populated drive the call can take several seconds.
        When `readValues=true` each entry is additionally read via SDO upload and
        the decoded value is stored on the parameter; entries that fail to read
        keep their type-appropriate default and the call still succeeds.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: readValues
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            When `true`, perform an SDO upload for every entry and decode the
            value.  Defaults to `false` — only schema (name, type, access) is
            populated.
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/parameters/read:
    post:
      summary: Refresh the cached value of every parameter without re-enumerating the dictionary
      operationId: readAllDeviceParameters
      description: >
        Re-reads the value of every readable parameter already loaded for the
        device at `slavePosition`, leaving the parameter list itself intact (it
        does not re-enumerate the object dictionary — use
        `POST …/parameters/init` for that).  Each value is read PDO-aware: from
        the live process image when the device is exchanging and the object is
        PDO-mapped, otherwise via an SDO upload over the mailbox.  Write-only
        objects are skipped.  Best-effort: an entry that fails to read keeps its
        cached value and the call still succeeds.  Returns the refreshed list,
        ordered by `(index, subindex)`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Refreshed parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/parameters:
    get:
      summary: Read the previously initialised parameter list for a device
      operationId: getDeviceParameters
      description: >
        Returns the parameter list populated by the most recent call to
        `POST /api/devices/{slavePosition}/parameters/init`.  Empty before the
        first call.  Entries are ordered ascending by `(index, subindex)`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices/{slavePosition}/parameters/{index}/{subindex}:
    get:
      summary: Read a single parameter value (PDO-aware, with optional cache-only mode)
      operationId: readParameter
      description: >
        Reads one parameter of the device at `slavePosition` and returns the full
        `DeviceParameter` (value plus metadata: data type, access, sync state).

        Unlike the raw `GET …/sdo/{index}/{subindex}` endpoint, this is PDO-aware.
        With `source=auto` (the default) the value is taken from the live process
        image when the device is exchanging and the object is PDO-mapped, otherwise
        via an SDO upload, otherwise from the cache. With `source=cache` the cached
        value is served with no bus access at all.

        Both `index` and `subindex` accept decimal or hexadecimal notation; prefix
        with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [auto, cache]
            default: auto
          description: >-
            `auto` (default) reads PDO-when-exchanging else SDO else cache;
            `cache` returns the cached value with no bus access.
      responses:
        "200":
          description: The parameter (value plus metadata)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Write a single parameter value (PDO-aware)
      operationId: writeParameter
      description: >
        Writes one parameter of the device at `slavePosition`. The value is coerced
        to the parameter's declared data type, then routed: staged into the process
        image when the device is exchanging and the object is output (RxPDO) mapped —
        sent on the next cycle — otherwise written via an SDO download, otherwise held
        in the cache as pending until the device is back online.

        This is the endpoint to set a target (e.g. target torque 0x6071) or the modes
        of operation: it knows which objects are PDO-mapped and stages them into the
        process data, falling back to SDO transparently. Returns the updated
        `DeviceParameter` (with the coerced value and resulting sync state).

        Both `index` and `subindex` accept decimal or hexadecimal notation; prefix
        with `0x` for hex.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value:
                  description: >-
                    The value to set, coerced to the parameter's declared type. A
                    number for integer/real objects, a string for string objects, or
                    an array of bytes for octet/domain objects.
                  oneOf:
                    - type: number
                    - type: string
                    - type: array
                      items:
                        type: integer
                        minimum: 0
                        maximum: 255
                  example: 100
      responses:
        "200":
          description: The updated parameter (value plus metadata)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition, index, or subindex is invalid, or the body is malformed
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/registers/{address}:
    get:
      summary: Read bytes from an ESC register
      operationId: readRegister
      description: >
        Reads `length` bytes from the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Read (FPRD) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal (e.g. 272 for 0x0110)
          example: 272
        - name: length
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: Number of bytes to read
          example: 2
      responses:
        "200":
          description: Raw register bytes
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Register bytes in ascending address order
                    example: [65, 0]
        "400":
          description: slavePosition, address, or length is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Write bytes to an ESC register
      operationId: writeRegister
      description: >
        Writes bytes to the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Write (FPWR) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal
          example: 288
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Bytes to write in ascending address order
                  example: [1, 0]
      responses:
        "200":
          description: Write completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition or address is not a valid integer, or request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/watchdog:
    get:
      summary: Read the process-data (sync-manager) watchdog configuration
      operationId: getProcessDataWatchdog
      description: >
        Reads the process-data watchdog timeout the slave at `slavePosition` is configured with,
        decoded from the watchdog divider (0x0400) and process-data watchdog time (0x0420) ESC
        registers. This is the configured timeout itself, not the expiration counter exposed by
        `GET /api/devices/diagnostics`. A device in OP that misses process data past this timeout
        faults itself to SAFE-OP+error; raising it lets a device tolerate the brief PDO pause of a
        whole-bus re-map.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Decoded watchdog configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessDataWatchdog"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Set the process-data (sync-manager) watchdog timeout
      operationId: setProcessDataWatchdog
      description: >
        Sets the process-data watchdog timeout of the slave at `slavePosition`, writing the
        process-data watchdog time register (0x0420). The device's watchdog divider (0x0400) is
        left untouched (it is shared with the PDI watchdog), so the achieved timeout is rounded to
        that divider's tick base — the response reports the value actually programmed. A
        `timeoutMs` of 0 disables the watchdog. The write persists across re-maps and re-scans
        until the ESC reloads EEPROM (power cycle).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [timeoutMs]
              properties:
                timeoutMs:
                  type: number
                  minimum: 0
                  description: Desired watchdog timeout in milliseconds; 0 disables the watchdog
                  example: 200
      responses:
        "200":
          description: Watchdog configuration actually programmed (timeout rounded to the tick base)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessDataWatchdog"
        "400":
          description: >
            slavePosition is not a valid integer, the body is malformed, timeoutMs is negative, or
            the requested timeout exceeds what the device's watchdog divider can represent
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/pdo-mapping:
    get:
      summary: Read a device's PDO mapping grouped by object (CoE)
      operationId: getDevicePdoMapping
      description: >
        Reads the PDO mapping of the slave at `slavePosition` over CoE, grouped by mapping object:
        the sync-manager assignment (0x1C12 outputs / 0x1C13 inputs) and, for each assigned mapping
        object (0x16xx / 0x1Axx), its `pdoIndex` and ordered entries. `outputs` are RxPDO objects
        (master→slave), `inputs` are TxPDO objects (slave→master). Each entry carries its derived
        `bitOffset` within the direction's window. This is the grouped, round-trippable counterpart
        of the flat, whole-bus `GET /api/process-image`.


        Reads fresh over SDO, so the device's mailbox must be active (PRE-OP, SAFE-OP, or OP); a
        device in INIT or BOOT yields 409.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The device's grouped PDO mapping
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdoMapping"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "409":
          description: The device's mailbox is not active (it is in INIT or BOOT)
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Rewrite a device's PDO mapping (CoE)
      operationId: writeDevicePdoMapping
      description: >
        Reconfigures the PDO mapping of the slave at `slavePosition` over CoE: both directions'
        sync-manager assignment (0x1C12 outputs / 0x1C13 inputs) and the referenced mapping objects
        (0x16xx / 0x1Axx). `outputs` are RxPDO objects (master→slave), `inputs` are TxPDO objects
        (slave→master); the array order is the sync-manager assignment order, which fixes each
        object's position in the process image. Both directions must be present — an empty array
        clears that sync manager's assignment.


        **The device must be in PRE-OP.** The mapping and assignment objects are writable only in
        PRE-OP; in SAFE-OP/OP the sync managers are active and the slave rejects the write, and
        INIT/BOOT have no CoE mailbox. This is the "drop to PRE-OP, remap, climb back" flow: take
        the device to PRE-OP (`POST /api/devices/state`), call this, then transition it back to
        SAFE-OP/OP — at which point the whole-bus process image is re-mapped from the new mapping.


        The write follows the CoE ordering rule (clear assignment, rewrite each mapping object, then
        re-assign), is read back and verified, and is retried a few times so a dropped mailbox frame
        cannot leave the object dictionary half-configured. The response is the device's grouped
        read-back mapping (same shape as GET), whose `bitOffset` values are derived by the device
        (the request omits them). This endpoint does not itself change the AL state or re-map the
        process image.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PdoMappingRequest"
      responses:
        "200":
          description: The device's grouped read-back mapping, verified equal to the request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdoMapping"
        "400":
          description: slavePosition is not a valid integer, or the body is malformed or out of range
        "404":
          description: No device at the given bus position
        "409":
          description: >
            The write was rejected — most often because the device is not in PRE-OP, but also a
            malformed mapping the device aborted, or a read-back that did not match the request
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/sdo/{index}/{subindex}:
    get:
      summary: Upload an object dictionary entry from a device (CoE SDO upload)
      operationId: sdoUpload
      description: >
        Performs a CoE SDO upload — reads the value of object `index:subindex` from
        the device at `slavePosition` and returns the raw bytes as a JSON array.
        Both `index` and `subindex` accept decimal or hexadecimal notation;
        prefix with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      responses:
        "200":
          description: Raw object bytes from the device
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Object bytes as transferred by the SDO upload
                    example: [0, 0, 0, 0]
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Download an object dictionary entry to a device (CoE SDO download)
      operationId: sdoDownload
      description: >
        Performs a CoE SDO download — writes the raw bytes in the request body to
        object `index:subindex` on the device at `slavePosition`. The byte count must
        match the object's length. Requires the device to be in PRE-OP, SAFE-OP, or OP
        (mailbox communication active). Both `index` and `subindex` accept decimal or
        hexadecimal notation; prefix with `0x` for hex (e.g. `0x6064` or `24676`).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Object bytes to write (little-endian, must match the object length)
                  example: [100, 0, 0, 0]
      responses:
        "200":
          description: Download completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition, index, or subindex is invalid, or the request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/files/{filename}:
    get:
      summary: Read a file from a device via FoE (File over EtherCAT)
      operationId: foeReadFile
      description: >
        Sends an FoE read request for `filename` to the device at `slavePosition`
        and returns the raw file bytes.  FoE is available in Boot, Pre-Op, Safe-Op,
        and Op states (device-dependent); the caller is responsible for ensuring the
        device is in a suitable state before calling.  The call blocks until the full
        file has been received or a per-packet timeout of 700 ms is exceeded.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: FoE filename as recognised by the slave firmware
          example: "firmware.bin"
      responses:
        "200":
          description: Raw file bytes from the device
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Write a file to a device via FoE (File over EtherCAT)
      operationId: foeWriteFile
      description: >
        Sends an FoE write request for `filename` to the device at `slavePosition`,
        streaming the raw request body as the file contents.  FoE is available in
        Boot, Pre-Op, Safe-Op, and Op states (device-dependent); the caller is
        responsible for ensuring the device is in a suitable state before calling.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: FoE filename as recognised by the slave firmware
          example: "config.csv"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/sii:
    get:
      summary: Read a device's SII (Slave Information Interface / EEPROM)
      operationId: readSii
      description: >
        Reads the raw SII EEPROM image of the device at `slavePosition` through the
        ESC's EEPROM-control registers and returns either the parsed structure or the
        raw bytes, selected by the `Accept` request header.


        With `Accept: application/json` (or `*/*`, or no `Accept` header) the parsed
        `SlaveInformationInterface` is returned — the 128-byte fixed header plus the
        decoded category section (strings, general info, FMMU/Sync-Manager and PDO
        defaults, distributed-clock settings).  With `Accept: application/octet-stream`
        the raw EEPROM image is returned unparsed, suitable for a hex dump or archival.


        EEPROM access is a control-plane operation and is most reliable while the
        device is in INIT or PRE-OP.  String-index fields in the parsed structure
        (e.g. `general.nameIdx`) are 1-based references into `category.strings`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            enum: [application/json, application/octet-stream]
            default: application/json
          description: >
            `application/octet-stream` returns the raw EEPROM bytes; anything else
            returns the parsed JSON structure.
      responses:
        "200":
          description: Parsed SII structure, or the raw EEPROM image
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlaveInformationInterface"
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Write a raw SII (EEPROM) image to a device
      operationId: writeSii
      description: >
        Writes the raw SII image in the request body to the device's EEPROM, one 16-bit
        word at a time. The image is parse-validated first and rejected if it is not a
        well-formed SII (a guard against bricking the device). **Destructive:** a wrong
        image can leave the device unidentifiable until re-flashed. The device adopts the
        new contents only after a **power cycle**, and the write is most reliable while
        the device is in INIT or PRE-OP. Intended for restoring a previously downloaded
        image.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: SII image written successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition is invalid, or the body is not a valid SII image
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/sii/parse:
    post:
      summary: Parse a raw SII (EEPROM) image
      operationId: parseSii
      description: >
        Decodes a raw SII EEPROM image supplied in the request body and returns the
        parsed structure — the same decoder the device read path uses, exposed as a
        bus-independent utility. No device is involved; the Tools SII page uses this to
        view previously downloaded `.bin` files offline.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Parsed SII structure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlaveInformationInterface"
        "400":
          description: The body is not a valid SII image (e.g. shorter than the 128-byte header)
  /api/devices/diagnostics:
    get:
      summary: Read live ESC health diagnostics for devices
      operationId: getDeviceDiagnostics
      description: >
        Reads live link-quality and watchdog diagnostics from each slave's EtherCAT Slave
        Controller (DL Status 0x0110, error-counter block 0x0300–0x0313, watchdog block
        0x0440–0x0443) via FPRD. Counters are 8-bit, saturate at 255, and are cleared only by a
        power cycle or explicit write — poll this endpoint and watch for a rising delta rather than
        an absolute value. The per-port counters localise a degrading link to a specific
        cable/connector; the watchdog counters distinguish a slave that stopped receiving process
        data from a master-side problem. Omit `positions` to query all discovered devices.
        Returns 500 for transports without an ESC (e.g. SPoE).
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: Decoded ESC diagnostics for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceDiagnostics"
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/dc-sync:
    get:
      summary: Read live distributed-clock synchronisation status for devices
      operationId: getDcSync
      description: >
        Reads each slave's distributed-clock unit live from its EtherCAT Slave Controller
        (system-time delay 0x0928 and system-time difference 0x092C) via FPRD. The reference clock
        is the first DC-capable slave; every other DC slave continuously corrects its local clock
        toward it, and `systemTimeDifference` is the live deviation in nanoseconds. The figure is
        meaningful only while the bus is exchanging process data in SAFE-OP/OP (the reference time
        is distributed in the cyclic frame) and converges toward zero as the slaves' drift loops
        settle — poll this endpoint and watch for a slave whose deviation stays large or grows
        rather than an absolute value. Non-DC slaves report `dcCapable` false with zeroed values.
        Omit `positions` to query all discovered devices. Returns 500 for transports without an ESC
        (e.g. SPoE).
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: Decoded DC sync status for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DcSyncStatus"
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/state:
    get:
      summary: Read current AL state for devices
      operationId: getDeviceStates
      description: >
        Reads the current EtherCAT Application Layer state for one or more devices.
        Omit the `positions` query parameter to query all discovered devices.
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: AL state snapshot for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, alStatus, alState, error, alStatusCode]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    alStatus:
                      type: integer
                      description: >
                        Raw AL Status register value (ETG.1000.6 §6.4.1).
                        Bits 3:0 encode the state; bit 4 is the error indicator.
                      example: 17
                    alState:
                      type: integer
                      enum: [1, 2, 3, 4, 8]
                      description: >
                        Current AL state decoded from alStatus (ETG.1000.6 encoding):
                        1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                      example: 1
                    error:
                      type: boolean
                      description: True when the AL Status error indicator bit (bit 4) is set
                      example: true
                    alStatusCode:
                      type: integer
                      description: >
                        AL Status Code register (ETG.1000.6 §6.4.1).
                        Non-zero when error is true; identifies the error cause
                        (e.g. 0x0014 = No valid firmware).
                      example: 20
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Transition devices to an EtherCAT AL state
      operationId: transitionToState
      description: >
        Commands one or more devices to the requested EtherCAT Application Layer state
        and blocks until all targeted devices arrive or the timeout elapses. The settled
        state of every targeted device is then read back and returned in `devices`, each
        with a `reached` flag; `ok` is true only when every device reached the target.
        A device that did not reach it carries an `alStatusCode` explaining why.
        Omit `positions` or pass an empty array to target all discovered devices.
        State values are the standard AL state register encodings from ETG.1000.6:
        1 (Init), 2 (PreOp), 3 (Boot), 4 (SafeOp), 8 (Op).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                positions:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                  description: >
                    1-based slave positions to target. Omit or pass an empty array
                    to target all discovered devices.
                  example: [1, 2]
                state:
                  type: integer
                  enum: [1, 2, 3, 4, 8]
                  description: >
                    Target EtherCAT AL state (ETG.1000.6 AL control register encoding):
                    1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                  example: 8
                timeout:
                  type: integer
                  description: Maximum time to wait for all devices, in milliseconds
                  default: 5000
                  example: 5000
      responses:
        "200":
          description: >
            Transition command completed and the settled state of each targeted device
            was read back. `ok` is true only when every device reached the target state
            within the timeout; otherwise inspect `devices` to see which fell short and why.
          content:
            application/json:
              schema:
                type: object
                required: [ok, devices]
                properties:
                  ok:
                    type: boolean
                    description: True only when every targeted device reached the target state.
                    example: true
                  devices:
                    type: array
                    description: Settled state of each targeted device, in the order targeted.
                    items:
                      type: object
                      required: [slavePosition, alStatus, alState, error, alStatusCode, reached]
                      properties:
                        slavePosition:
                          type: integer
                          description: 1-based position on the fieldbus
                          example: 1
                        alStatus:
                          type: integer
                          description: >
                            Raw AL Status register value (ETG.1000.6 §6.4.1).
                            Bits 3:0 encode the state; bit 4 is the error indicator.
                          example: 2
                        alState:
                          type: integer
                          enum: [1, 2, 3, 4, 8]
                          description: >
                            Current AL state decoded from alStatus (ETG.1000.6 encoding):
                            1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                          example: 2
                        error:
                          type: boolean
                          description: True when the AL Status error indicator bit (bit 4) is set
                          example: false
                        alStatusCode:
                          type: integer
                          description: >
                            AL Status Code register (ETG.1000.6 §6.4.1).
                            Non-zero when error is true; identifies the error cause
                            (e.g. 0x0014 = No valid firmware).
                          example: 0
                        reached:
                          type: boolean
                          description: >
                            True when this device reached the requested target state
                            (error clear and alState equal to the requested state).
                          example: true
        "400":
          description: Request body is malformed or `state` is not a valid AL state value
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices:
    get:
      summary: List all fieldbus devices
      operationId: getDevices
      responses:
        "200":
          description: Array of devices in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    name:
                      type: string
                      description: Human-readable device name from SII EEPROM
                      example: "SOMANET Node"
                    vendorId:
                      type: integer
                      format: int64
                      description: Vendor ID from EEPROM
                      example: 131073
                    productCode:
                      type: integer
                      format: int64
                      description: Product code from EEPROM
                      example: 5570560
                    revisionNumber:
                      type: integer
                      format: int64
                      description: Revision number from EEPROM
                      example: 1
                    serialNumber:
                      type: integer
                      format: int64
                      description: Serial number from EEPROM
                      example: 12345
  /api/process-image:
    get:
      summary: Inspect the published EtherCAT process image
      description: >-
        Returns the whole-bus process image: the byte sizes of each direction,
        the expected and last working counters and overall health, the number of
        retained image generations (one per re-map since the last reset), and
        every mapped object resolved to its absolute bit offset. While an image
        is live `configured` is true and the layout describes it. When no image
        is published (no device is in SAFE-OP/OP) but at least one generation has
        been mapped, `configured` is false and the layout describes the most
        recent retained generation — the last-known mapping — so a bus that has
        dropped out of SAFE-OP/OP stays inspectable; `lastWkc` then holds the
        final exchange value and working-counter health does not apply. The
        object lists are empty only before any image has ever been mapped. Object
        `name` is populated only for devices whose object dictionary has been
        enumerated.
      operationId: getProcessImage
      responses:
        "200":
          description: The published process image and its runtime health
          content:
            application/json:
              schema:
                type: object
                required:
                  [configured, outputBytes, inputBytes, expectedWkc, lastWkc, healthy,
                   generations, outputs, inputs]
                properties:
                  configured:
                    type: boolean
                    description: Whether an image is currently published for exchange
                    example: true
                  outputBytes:
                    type: integer
                    description: Size of the output image (master→slave) in bytes
                    example: 12
                  inputBytes:
                    type: integer
                    description: Size of the input image (slave→master) in bytes
                    example: 16
                  expectedWkc:
                    type: integer
                    description: Working counter expected from the devices currently exchanging
                    example: 3
                  lastWkc:
                    type: integer
                    description: Working counter from the most recent exchange (0 before any)
                    example: 3
                  healthy:
                    type: boolean
                    description: Whether the last working counter meets the expected value
                    example: true
                  generations:
                    type: integer
                    description: Number of process images retained since the last reset
                    example: 1
                  outputs:
                    type: array
                    description: Output-mapped objects (RxPDO), in image order
                    items:
                      $ref: "#/components/schemas/ProcessImageObject"
                  inputs:
                    type: array
                    description: Input-mapped objects (TxPDO), in image order
                    items:
                      $ref: "#/components/schemas/ProcessImageObject"
  /api/game-loop:
    get:
      summary: Inspect real-time game-loop health
      description: >-
        Returns a point-in-time snapshot of the RT cyclic loop: the configured
        period and target rate, the cumulative achieved rate since start, the
        executed- and skipped-cycle counters, per-cycle task-execution timing
        (last / worst / mean), and whether real-time scheduling was acquired.
        Skipped cycles accumulate whenever the loop cannot meet its period
        (common on non-RT hosts such as Windows userspace) — a steadily rising
        `skippedCycles`, or an `achievedHz` well below `targetHz`, means the
        configured period is too aggressive for the hardware. Poll this endpoint
        and diff `executedCycles`/`skippedCycles` against `timestampUs` to chart
        the instantaneous rate over time.
      operationId: getGameLoop
      responses:
        "200":
          description: Real-time game-loop health snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameLoopHealth"
    put:
      summary: Change the real-time cycle period
      description: >-
        Retimes the running RT loop to a new cycle period, in microseconds. The
        change takes effect within one cycle and is transient — it is not written
        back to the config file, so a restart reverts to the configured
        `gameLoop.periodUs`. Intended for tuning on hosts that cannot sustain the
        configured rate: if `skippedCycles` climbs steadily (common on Windows
        userspace), raise the period (e.g. from 1000 to 2000 µs) until the loop
        meets its grid. Only the master cadence is retimed — the process-data
        recorder ring is not resized, and no drive-side watchdog is touched, so
        raising the period toward a drive's PDO/SM watchdog window can fault that
        drive. Applying a period starts a fresh health epoch: the cumulative
        counters (`executedCycles`, `skippedCycles`, the `achievedHz` average, and
        `maxExecNs`/`avgExecNs`) reset so the snapshot reflects only the new
        period — letting you see straight away whether the change improved the
        loop's health. Returns the updated health snapshot.
      operationId: setGameLoopPeriod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [periodUs]
              properties:
                periodUs:
                  type: integer
                  format: int64
                  minimum: 1
                  description: New cycle period in microseconds. Must be greater than 0.
                  example: 2000
      responses:
        "200":
          description: Period applied; returns the updated health snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameLoopHealth"
        "400":
          description: Invalid period (e.g. missing/zero `periodUs` or malformed body)
        "501":
          description: Game-loop control is not configured on this server
  /api/process-data/dump:
    get:
      summary: Stream the recorder ring as a binary .mmpd
      description: >-
        Streams the same `.mmpd` serialisation as the POST variant (the recorder's
        current span, with the process image embedded as a header) directly in the
        response body instead of writing a file — for the client SDK / browser,
        which parses the bytes offline. Request with `Accept:
        application/octet-stream`. Same span semantics as the POST; works in any
        state.
      operationId: streamProcessDataDump
      responses:
        "200":
          description: The .mmpd dump bytes
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "409":
          description: >-
            Nothing to dump — no process image has ever been mapped, or the recorder
            is empty (no cycles recorded yet).
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    description: Human-readable reason the dump could not be produced
    post:
      summary: Dump the recorder ring to a binary .mmpd file
      description: >-
        Serialises the process-data recorder's current span — every cycle from the
        oldest still in the ring up to the newest at the instant of the call — to a
        `.mmpd` file and returns its path. Each cycle's full raw input and output
        images, sequence, and epoch-nanosecond timestamp are written, with the
        process image (per-device identity and PDO object layout, including object
        names and data types where the object dictionary has been enumerated)
        embedded as a header, so the file decodes fully offline with no running
        Motion Master and no live bus. Works in any state: while devices are
        exchanging (SAFE-OP/OP) it captures tail→head at that moment and ignores
        cycles recorded afterwards; after the bus has left the exchange states it
        uses the most recent retained image layout. The file is written under the
        configured `recorder.dumpDir` (default: a `motion-master` subdirectory of
        the OS temporary directory), created if absent. Motion Master binds
        127.0.0.1, so the file is on the caller's own machine — only the path is
        returned (there is no download, list, or delete endpoint).
      operationId: dumpProcessData
      responses:
        "200":
          description: The dump was written
          content:
            application/json:
              schema:
                type: object
                required: [path]
                properties:
                  path:
                    type: string
                    description: Absolute path of the written .mmpd file
                    example: /tmp/motion-master/dump-20260610T141530Z-300123.mmpd
        "409":
          description: >-
            Nothing to dump — no process image has ever been mapped, or the recorder
            is empty (no cycles recorded yet) — or the file could not be written.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    description: Human-readable reason the dump could not be produced
                    example: "the recorder is empty — no cycles have been recorded yet"
  /api/process-data/outputs:
    post:
      summary: Stage a batch of output values into the process image
      operationId: stageProcessDataOutputs
      description: >
        Stages many output (RxPDO) objects at once — the "send all" action of the Process Data
        page. Each value is coerced to the object's declared data type and, when the object is
        output-mapped and its device is exchanging (SAFE-OP/OP), written into the output image so
        it is sent on the next real-time cycle and re-sent every cycle thereafter (set-once,
        sent-continuously). The batch is best-effort atomic: values are staged sequentially, so a
        batch can straddle two consecutive ~1 ms cycles. The request never fails as a whole — each
        object gets its own result, so the client can flag any object that was not cyclically
        staged (unknown device, coercion failure, object not output-mapped, or bus not exchanging;
        in the last two cases the value is still written via SDO/cache, just not cyclically driven).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              description: >
                Objects to stage, each as `[slavePosition, index, subindex, value]` — the
                monitoring `[devicePosition, index, subindex]` shape with the value appended.
              items:
                type: array
                minItems: 4
                maxItems: 4
                description: "[slavePosition, index, subindex, value]"
                items: {}
              example: [[1, 24698, 0, 5000], [1, 24640, 0, 15]]
      responses:
        "200":
          description: Per-object staging outcomes, in request order
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/OutputStageResult"
        "400":
          description: >
            Invalid request — malformed body, an entry that is not a four-element array, a
            non-integer id, or an unsupported value type.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
  /api/bus-config:
    get:
      summary: Inspect each slave's static EtherCAT Slave Controller configuration
      description: >-
        Returns the static ESC configuration the master programmed into every
        slave during the last scan: station/alias addresses, mapped process-data
        sizes, the mailbox transport windows, the distributed-clock setup, and the
        configured Sync Managers and FMMUs. Read from cached state with no bus I/O
        and valid once the bus has been scanned. The list is empty before any scan,
        or when the active transport has no ESC (e.g. SPoE). Numeric fields (SM/FMMU
        type, mailbox protocol bits, SM flags) are raw register values; the client
        decodes them. `deviceName` is empty when no known device occupies the slave.
      operationId: getBusConfig
      responses:
        "200":
          description: Per-slave ESC configuration, in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SlaveConfig"
  /api/monitorings:
    get:
      summary: List all monitorings
      operationId: listMonitorings
      description: >
        Returns every registered monitoring as a resource — its configuration plus, per
        parameter, how its value is sourced, and the current buffer fill.
      responses:
        "200":
          description: All monitorings, in topic order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Monitoring"
    post:
      summary: Create a monitoring
      operationId: createMonitoring
      description: >
        Registers a monitoring and starts sampling it off the real-time thread. Each parameter is
        classified once against the published process image: PDO-mapped objects are decoded from
        the live image; the rest are polled over SDO in the background. Create monitorings after
        the bus is operational so PDO objects are recognised as PDO. Monitoring is live-only — a
        parameter samples `null` while its owning device is not exchanging (SAFE-OP/OP).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic, interval, parameters]
              properties:
                topic:
                  type: string
                  pattern: "^[A-Za-z0-9._-]{1,64}$"
                  description: URL-safe unique id; also the WebSocket topic.
                  example: "left-leg"
                name:
                  type: string
                  description: Optional human-readable label.
                  example: "Left Leg"
                interval:
                  type: integer
                  minimum: 5
                  maximum: 2000
                  description: >
                    Flush cadence in milliseconds (5–2000). Not a sample rate: every recorded
                    cycle since the last flush is delivered, so a longer interval yields a larger
                    batch rather than fewer samples. 16 ms (~one batch per 60 Hz display frame) is
                    a good default for live plotting.
                  example: 16
                parameters:
                  type: array
                  minItems: 1
                  description: Objects to sample, each as `[devicePosition, index, subindex]`.
                  items:
                    type: array
                    minItems: 3
                    maxItems: 3
                    items:
                      type: integer
                  example: [[1, 8240, 1], [1, 24676, 0]]
      responses:
        "201":
          description: Monitoring created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitoring"
        "400":
          description: >
            Invalid request — malformed body, non-URL-safe topic, interval outside
            5–2000 ms, empty parameters, or a parameter that is neither PDO-mapped nor in the
            device's object dictionary.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
        "409":
          description: A monitoring with this topic already exists
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
  /api/monitorings/{topic}:
    parameters:
      - name: topic
        in: path
        required: true
        schema:
          type: string
        description: The monitoring's topic.
    get:
      summary: Get a monitoring
      operationId: getMonitoring
      responses:
        "200":
          description: The monitoring resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitoring"
        "404":
          description: No monitoring with this topic
    delete:
      summary: Delete a monitoring
      operationId: deleteMonitoring
      description: >
        Stops sampling and releases the monitoring's SDO parameters from the shared refresher — an
        object no remaining monitoring needs stops being polled.
      responses:
        "204":
          description: Monitoring deleted
        "404":
          description: No monitoring with this topic
  /api/parameter-caches:
    get:
      summary: List on-disk parameter caches
      operationId: listParameterCaches
      description: >
        Returns one entry per cached parameter-definition file on disk, keyed by device identity
        (vendor, product, revision). The cache stores only the object-dictionary *definitions* (not
        live values), so a scan of previously-seen hardware can skip the slow SDO enumeration.
        Independent of the bus — works whether or not a driver is initialised.
      responses:
        "200":
          description: The cache files currently on disk.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ParameterCacheEntry"
  /api/parameter-caches/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Opaque cache id from listParameterCaches ("<vendor>-<product>-<revision>").
    get:
      summary: Download a parameter-cache file
      operationId: getParameterCache
      description: >
        Returns the raw JSON cache file for the given id, verbatim, so it can be saved or inspected
        offline.
      responses:
        "200":
          description: The cache file (JSON).
          content:
            application/json:
              schema:
                type: object
        "404":
          description: No cache file with this id (or the id is malformed).
    delete:
      summary: Delete a parameter-cache file
      operationId: deleteParameterCache
      description: >
        Removes one cached file from disk. The next scan of that hardware re-enumerates it. Useful
        when a vendor reused a revision across an object-dictionary change.
      responses:
        "204":
          description: Cache file deleted.
        "404":
          description: No cache file with this id (or the id is malformed).
components:
  schemas:
    GameLoopHealth:
      type: object
      description: >-
        Point-in-time health of the real-time game loop. Times are nanoseconds;
        rates are hertz. All fields are diagnostic (relaxed reads), not
        synchronised.
      required:
        [periodUs, targetHz, achievedHz, executedCycles, skippedCycles,
         lastExecNs, maxExecNs, avgExecNs, schedFifo, memLocked, timestampUs]
      properties:
        periodUs:
          type: integer
          format: int64
          description: Configured target cycle period, in microseconds
          example: 1000
        targetHz:
          type: number
          description: Target cycle rate (1e6 / periodUs), in hertz
          example: 1000.0
        achievedHz:
          type: number
          description: >-
            Cumulative average rate since the loop started (executedCycles /
            uptime), in hertz; 0 before the loop starts. Below targetHz means
            the host cannot sustain the configured period.
          example: 999.56
        executedCycles:
          type: integer
          format: int64
          description: Loop iterations actually executed since start
          example: 2023
        skippedCycles:
          type: integer
          format: int64
          description: >-
            Cycles skipped to catch up after overruns/stalls since start. A
            rising value means the loop is not meeting its period.
          example: 0
        lastExecNs:
          type: integer
          format: int64
          description: Task-execution time of the most recent cycle, in nanoseconds
          example: 104
        maxExecNs:
          type: integer
          format: int64
          description: Worst task-execution time since start, in nanoseconds
          example: 4009
        avgExecNs:
          type: integer
          format: int64
          description: Mean task-execution time since start, in nanoseconds
          example: 338
        schedFifo:
          type: boolean
          description: >-
            Whether SCHED_FIFO real-time priority was acquired (false on Windows,
            which never attempts it, and on Linux/macOS when the privilege is
            missing).
          example: false
        memLocked:
          type: boolean
          description: >-
            Whether mlockall succeeded to pin memory (Linux only; false elsewhere
            or when the privilege is missing).
          example: false
        timestampUs:
          type: integer
          format: int64
          description: Server wall-clock timestamp (epoch microseconds) when sampled
          example: 1783968687738680
    ParameterCacheEntry:
      type: object
      description: Summary of one on-disk parameter-cache file (its identity, size, and count).
      required: [id, vendorId, productCode, revisionNumber, parameterCount, sizeBytes]
      properties:
        id:
          type: string
          description: >
            Opaque key addressing this cache file in the download/delete endpoints
            ("<vendor>-<product>-<revision>"). Use it verbatim — do not construct it client-side.
          example: "000022d2-00000201-0000000a"
        vendorId:
          type: integer
          description: EtherCAT vendor ID (0x22D2 = Synapticon).
          example: 8914
        productCode:
          type: integer
          description: Product code.
          example: 513
        revisionNumber:
          type: integer
          description: Revision number.
          example: 10
        parameterCount:
          type: integer
          description: Number of cached parameter definitions in the file.
          example: 312
        sizeBytes:
          type: integer
          description: File size on disk, in bytes.
          example: 48213
    ProcessDataWatchdog:
      type: object
      description: >
        A device's process-data (sync-manager) watchdog configuration, decoded from the watchdog
        divider (0x0400) and process-data watchdog time (0x0420) ESC registers.
      required: [slavePosition, enabled, running, timeoutNs, timeoutMs, divider, ticks]
      properties:
        slavePosition:
          type: integer
          description: 1-based position of the device on the fieldbus.
          example: 1
        enabled:
          type: boolean
          description: False when the time register (ticks) is 0, i.e. the watchdog is disabled.
          example: true
        running:
          type: boolean
          description: >
[...]
