openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0"
  description: >
    HTTP API for Motion Master motion control software.
    A monitoring WebSocket is also available at /ws — clients fetch the PDO
    schema via GET /api/monitoring/pdos and then subscribe to real-time updates.
servers:
  - url: https://local.motion-master.synapticon.com:8443
    description: Local Motion Master instance
paths:
  /api/adapters:
    get:
      summary: List network adapters on the host
      operationId: getAdapters
      responses:
        "200":
          description: Array of network adapters available on the host machine
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [mac, name]
                  properties:
                    mac:
                      type: string
                      description: MAC address in colon-separated uppercase format
                      example: "AA:BB:CC:DD:EE:FF"
                    name:
                      type: string
                      description: OS interface name (e.g. eth0 on Linux, \\Device\\NPF_{GUID} on Windows)
                      example: "eth0"
  /api/swagger.yml:
    get:
      summary: OpenAPI specification
      operationId: getSwaggerYml
      responses:
        "200":
          description: This OpenAPI specification in YAML format
          content:
            text/yaml:
              schema:
                type: string
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/devices/{slavePosition}:
    get:
      summary: Get a single fieldbus device by bus position
      operationId: getDevice
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Device at the given bus position
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  name:
                    type: string
                    description: Human-readable device name from SII EEPROM
                    example: "SOMANET Node"
                  vendorId:
                    type: integer
                    format: int64
                    description: Vendor ID from EEPROM
                    example: 131073
                  productCode:
                    type: integer
                    format: int64
                    description: Product code from EEPROM
                    example: 5570560
                  revisionNumber:
                    type: integer
                    format: int64
                    description: Revision number from EEPROM
                    example: 1
                  serialNumber:
                    type: integer
                    format: int64
                    description: Serial number from EEPROM
                    example: 12345
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices:
    get:
      summary: List all fieldbus devices
      operationId: getDevices
      responses:
        "200":
          description: Array of devices in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    name:
                      type: string
                      description: Human-readable device name from SII EEPROM
                      example: "SOMANET Node"
                    vendorId:
                      type: integer
                      format: int64
                      description: Vendor ID from EEPROM
                      example: 131073
                    productCode:
                      type: integer
                      format: int64
                      description: Product code from EEPROM
                      example: 5570560
                    revisionNumber:
                      type: integer
                      format: int64
                      description: Revision number from EEPROM
                      example: 1
                    serialNumber:
                      type: integer
                      format: int64
                      description: Serial number from EEPROM
                      example: 12345
