openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0-alpha.6"
  description: >
    HTTP API for Motion Master motion control software.
    A monitoring WebSocket is also available at /ws — clients fetch the PDO
    schema via GET /api/monitoring/pdos and then subscribe to real-time updates.
servers:
  - url: https://local.motion-master.synapticon.com:8443
    description: Local Motion Master instance
paths:
  /api/adapters:
    get:
      summary: List network adapters on the host
      operationId: getAdapters
      responses:
        "200":
          description: Array of network adapters available on the host machine
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [mac, name]
                  properties:
                    mac:
                      type: string
                      description: MAC address in colon-separated uppercase format
                      example: "AA:BB:CC:DD:EE:FF"
                    name:
                      type: string
                      description: OS interface name (e.g. eth0 on Linux, \\Device\\NPF_{GUID} on Windows)
                      example: "eth0"
  /api/swagger.yml:
    get:
      summary: OpenAPI specification
      operationId: getSwaggerYml
      responses:
        "200":
          description: This OpenAPI specification in YAML format
          content:
            text/yaml:
              schema:
                type: string
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/devices/{slavePosition}:
    get:
      summary: Get a single fieldbus device by bus position
      operationId: getDevice
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Device at the given bus position
          content:
            application/json:
              schema:
                type: object
                required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  name:
                    type: string
                    description: Human-readable device name from SII EEPROM
                    example: "SOMANET Node"
                  vendorId:
                    type: integer
                    format: int64
                    description: Vendor ID from EEPROM
                    example: 131073
                  productCode:
                    type: integer
                    format: int64
                    description: Product code from EEPROM
                    example: 5570560
                  revisionNumber:
                    type: integer
                    format: int64
                    description: Revision number from EEPROM
                    example: 1
                  serialNumber:
                    type: integer
                    format: int64
                    description: Serial number from EEPROM
                    example: 12345
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/init:
    post:
      summary: Initialise the fieldbus driver
      operationId: init
      description: >
        Constructs the requested fieldbus driver, opens the network interface, and
        makes the driver available for subsequent calls to /api/scan.
        The request body is optional; omitting it selects the SOEM driver with
        automatic adapter selection.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  description: Fieldbus driver to use
                  enum: [soem, spoe, igh]
                  default: soem
                  example: "soem"
                adapter:
                  type: string
                  description: Network interface name or MAC address; empty string for auto-detect
                  default: ""
                  example: "eth0"
      responses:
        "200":
          description: Driver initialised successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is not valid JSON
        "500":
          $ref: "#/components/responses/DriverError"
        "501":
          description: No driver factory configured on this instance
  /api/scan:
    post:
      summary: Scan the bus for slaves
      operationId: scan
      description: >
        Scans the fieldbus for slaves and configures their sync managers and FMMUs.
        Must be called after a successful POST /api/init. Slaves remain in INIT state
        after this call; state transitions are driven by subsequent API calls.
      responses:
        "200":
          description: Scan successful; returns the number of slaves found
          content:
            application/json:
              schema:
                type: object
                required: [slaves]
                properties:
                  slaves:
                    type: integer
                    description: Number of slaves discovered on the bus
                    example: 3
        "500":
          $ref: "#/components/responses/DriverError"
  /api/reset:
    post:
      summary: Reset the fieldbus driver and clear the device list
      operationId: reset
      description: >
        Transitions all slaves to INIT state, closes the network interface, and removes
        all Device objects. After this returns, POST /api/init and POST /api/scan
        may be called again.
      responses:
        "200":
          description: Reset completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
  /api/log:
    get:
      summary: Get recent log output
      operationId: getLog
      description: >
        Returns the most recent in-memory log lines as plain text, one entry per line.
        The ring buffer holds up to 100 000 entries (~10 MB).
      responses:
        "200":
          description: Log output as plain text, one entry per line
          content:
            text/plain:
              schema:
                type: string
  /api/meta/al-status-codes:
    get:
      summary: List all known AL Status Codes
      operationId: getAlStatusCodes
      description: >
        Returns the static catalogue of EtherCAT AL Status Codes defined in ETG.1000.6 §6.4.1.
        These codes appear in the alStatusCode field of the device state response when an error
        is present and identify the cause of the state transition failure.
      responses:
        "200":
          description: Array of AL Status Code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlStatusCode"
  /api/meta/esc-registers:
    get:
      summary: List all known ESC registers
      operationId: getRegisters
      description: >
        Returns the static catalogue of well-known EtherCAT Slave Controller registers
        from the Beckhoff ESC datasheet (Section II) and ETG.1000.4.
        Use the address and length fields as inputs to the device register read/write endpoints.
      responses:
        "200":
          description: Array of ESC register descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EscRegister"
  /api/devices/{slavePosition}/registers/{address}:
    get:
      summary: Read bytes from an ESC register
      operationId: readRegister
      description: >
        Reads `length` bytes from the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Read (FPRD) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal (e.g. 272 for 0x0110)
          example: 272
        - name: length
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: Number of bytes to read
          example: 2
      responses:
        "200":
          description: Raw register bytes
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Register bytes in ascending address order
                    example: [65, 0]
        "400":
          description: slavePosition, address, or length is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Write bytes to an ESC register
      operationId: writeRegister
      description: >
        Writes bytes to the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Write (FPWR) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal
          example: 288
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Bytes to write in ascending address order
                  example: [1, 0]
      responses:
        "200":
          description: Write completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition or address is not a valid integer, or request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/{slavePosition}/sdo/{index}/{subindex}:
    get:
      summary: Upload an object dictionary entry from a device (CoE SDO upload)
      operationId: sdoUpload
      description: >
        Performs a CoE SDO upload — reads the value of object `index:subindex` from
        the device at `slavePosition` and returns the raw bytes as a JSON array.
        Both `index` and `subindex` accept decimal or hexadecimal notation;
        prefix with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      responses:
        "200":
          description: Raw object bytes from the device
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Object bytes as transferred by the SDO upload
                    example: [0, 0, 0, 0]
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices/state:
    get:
      summary: Read current AL state for devices
      operationId: getDeviceStates
      description: >
        Reads the current EtherCAT Application Layer state for one or more devices.
        Omit the `positions` query parameter to query all discovered devices.
      parameters:
        - name: positions
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of 1-based slave positions to query (e.g. `1,2,3`).
            Omit to query all discovered devices.
          example: "1,2"
      responses:
        "200":
          description: AL state snapshot for each queried device
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, alStatus, alState, error, alStatusCode]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    alStatus:
                      type: integer
                      description: >
                        Raw AL Status register value (ETG.1000.6 §6.4.1).
                        Bits 3:0 encode the state; bit 4 is the error indicator.
                      example: 17
                    alState:
                      type: integer
                      enum: [1, 2, 3, 4, 8]
                      description: >
                        Current AL state decoded from alStatus (ETG.1000.6 encoding):
                        1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                      example: 1
                    error:
                      type: boolean
                      description: True when the AL Status error indicator bit (bit 4) is set
                      example: true
                    alStatusCode:
                      type: integer
                      description: >
                        AL Status Code register (ETG.1000.6 §6.4.1).
                        Non-zero when error is true; identifies the error cause
                        (e.g. 0x0014 = No valid firmware).
                      example: 20
        "400":
          description: A `positions` value is not a valid integer
        "500":
          $ref: "#/components/responses/DriverError"
    post:
      summary: Transition devices to an EtherCAT AL state
      operationId: transitionToState
      description: >
        Commands one or more devices to the requested EtherCAT Application Layer state
        and blocks until all targeted devices arrive or the timeout elapses.
        Devices that do not arrive in time are logged at error level; the call still
        returns 200. Omit `positions` or pass an empty array to target all discovered devices.
        State values are the standard AL state register encodings from ETG.1000.6:
        1 (Init), 2 (PreOp), 3 (Boot), 4 (SafeOp), 8 (Op).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                positions:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                  description: >
                    1-based slave positions to target. Omit or pass an empty array
                    to target all discovered devices.
                  example: [1, 2]
                state:
                  type: integer
                  enum: [1, 2, 3, 4, 8]
                  description: >
                    Target EtherCAT AL state (ETG.1000.6 AL control register encoding):
                    1 = Init, 2 = PreOp, 3 = Boot, 4 = SafeOp, 8 = Op.
                  example: 8
                timeout:
                  type: integer
                  description: Maximum time to wait for all devices, in milliseconds
                  default: 5000
                  example: 5000
      responses:
        "200":
          description: >
            Transition command completed. All targeted devices may or may not have
            reached the target state within the timeout; check device state via
            GET /api/devices/state.
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is malformed or `state` is not a valid AL state value
        "500":
          $ref: "#/components/responses/DriverError"
  /api/devices:
    get:
      summary: List all fieldbus devices
      operationId: getDevices
      responses:
        "200":
          description: Array of devices in bus order
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [slavePosition, name, vendorId, productCode, revisionNumber, serialNumber]
                  properties:
                    slavePosition:
                      type: integer
                      description: 1-based position on the fieldbus
                      example: 1
                    name:
                      type: string
                      description: Human-readable device name from SII EEPROM
                      example: "SOMANET Node"
                    vendorId:
                      type: integer
                      format: int64
                      description: Vendor ID from EEPROM
                      example: 131073
                    productCode:
                      type: integer
                      format: int64
                      description: Product code from EEPROM
                      example: 5570560
                    revisionNumber:
                      type: integer
                      format: int64
                      description: Revision number from EEPROM
                      example: 1
                    serialNumber:
                      type: integer
                      format: int64
                      description: Serial number from EEPROM
                      example: 12345
components:
  schemas:
    AlStatusCode:
      type: object
      required: [code, name, description]
      properties:
        code:
          type: integer
          description: AL Status Code value (ETG.1000.6 §6.4.1)
          example: 20
        name:
          type: string
          description: Short human-readable name
          example: "No valid firmware"
        description:
          type: string
          description: Full description of the error condition
          example: "No valid firmware is present — the slave needs firmware flashed"
    EscRegister:
      type: object
      required: [address, length, name, description]
      properties:
        address:
          type: integer
          description: Register address in the ESC address space (decimal)
          example: 272
        length:
          type: integer
          description: Register width in bytes (1, 2, 4, or 8)
          example: 2
        name:
          type: string
          description: Short snake_case identifier
          example: "dl_status"
        description:
          type: string
          description: Human-readable description from the Beckhoff ESC datasheet
          example: "DL status: EEPROM load ok, link detected, communication established per port"
  responses:
    DriverError:
      description: Fieldbus driver returned an error
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string
                description: Human-readable error message from the driver
                example: "FPRD slave 1: wkc=0"
