openapi: "3.1.0"
info:
  title: Motion Master API
  version: "6.0.0-alpha.78"
  description: |
    Motion Master is the motion-control software for Synapticon SOMANET servo
    drives. This HTTP API drives the EtherCAT fieldbus end to end: bring up a
    driver, discover the slaves on the bus, command AL state transitions, and
    read or write the object dictionary, ESC registers, parameters, and files of
    each device. A companion monitoring WebSocket streams live process data.

    ## Getting started

    The fieldbus is controlled through an explicit lifecycle — the driver is not
    created until you ask for it, so a fresh instance has no open network
    interface:

    1. **Init** — `POST /api/init` constructs a fieldbus driver (`soem`, or the
       planned `spoe`) and opens the network interface. SOEM has no adapter
       auto-detect, so an adapter name or MAC address is required. `init` is
       one-shot: a second call returns `409` until you reset.
    2. **Scan** — `POST /api/scan` discovers the slaves on the bus and configures
       their sync managers and FMMUs. Slaves are left in the `INIT` state.
    3. **Transition** — `POST /api/devices/state` moves the bus to a target AL
       state (`PreOp`, `SafeOp`, `Op`, …); `GET /api/devices/state` reads where
       each slave currently sits.
    4. **Reset** — `POST /api/reset` tears the driver down and clears the device
       list. `init` must be called again afterwards.

    `GET /api/adapters` lists the network interfaces available on the host, to
    help pick the adapter for step 1.

    ## Working with devices

    Once the bus has been scanned, each slave is addressed by its bus position
    (`slavePosition`). The per-device endpoints cover the common service-plane
    operations:

    - **Object dictionary (CoE)** — `GET`/`PUT …/parameters/{index}/{subindex}`
      read and write a single parameter by value, PDO-aware (the live process image
      or staged output when exchanging, SDO otherwise, with a `source=cache` read
      mode); `GET`/`PUT …/sdo/{index}/{subindex}` is the raw byte-level SDO transfer
      with no PDO awareness; `POST …/parameters/init` enumerates the full dictionary
      and `GET …/parameters` reads the cached result.
    - **ESC registers** — `GET`/`PUT …/registers/{address}` read and write raw
      EtherCAT Slave Controller register bytes.
    - **Files (FoE)** — `GET`/`PUT …/files/{filename}` transfer files to and from
      the device over File-over-EtherCAT (firmware, configuration, logs), and
      `GET …/files` lists what a SOMANET drive holds.
    - **SII (EEPROM)** — `GET …/sii` reads the Slave Information Interface, returning
      the parsed structure or the raw EEPROM bytes per the `Accept` header.

    The `/api/meta/*` endpoints expose static reference tables — AL status codes,
    ESC register definitions, FoE error codes, SDO abort codes, mailbox error codes,
    and CoE data types — so clients can decode numeric values without hard-coding them.

    ## Monitoring WebSocket

    The WebSocket runs on its own port (`62281` by default), separate from
    this HTTP API (`61447`) and on its own event loop, so a slow HTTP request can
    never stall the stream: `wss://local.motion-master.synapticon.com:62281` (the
    whole port is the WebSocket, so the URL needs no path).
    A client creates a monitoring
    with `POST /api/monitorings` (a topic, flush interval, and a list of
    parameters), then subscribes to its topic over the socket by sending
    `{"subscribe":"<topic>"}` (and `{"unsubscribe":"<topic>"}` to stop). The stream
    is **lossless**: every process-data cycle recorded since the last flush is
    delivered — `interval` is the flush cadence, not a sample rate, so a longer
    interval means a bigger batch, never dropped cycles. Each batch is published to
    that topic, delivered only to the clients subscribed to it. Each row is
    `[timestamp, value, ...]` where `timestamp` is **epoch microseconds** (exact in
    a JavaScript number, and distinct per cycle even at sub-millisecond periods).
    The messages:

    ```json
    {"type": "monitoring", "topic": "left-leg", "data": [[1735821000123456, 39000, 41], ...]}
    {"type": "notification", "data": {"event": "slaves_changed"}}
    ```

    `data` is an array of cycle rows; each row is `[timestampUs, v0, v1, ...]` where
    `timestampUs` is epoch microseconds and the values are positionally ordered by
    the monitoring's `parameters` (fetch the order, and how each value is sourced,
    via `GET /api/monitorings/{topic}`). A value is `null` while its owning device
    is not exchanging (SAFE-OP/OP). Numbers beyond 2^53 lose precision in a JS
    client; epoch microseconds stay exact until ~year 2255 and the targeted values
    are 32-bit integers and floats.

    ## Networking, TLS, and CORS

    The server binds the HTTP API to `127.0.0.1:61447` and the WebSocket
    to `127.0.0.1:62281`, reached at `https://local.motion-master.synapticon.com:61447`
    and `wss://local.motion-master.synapticon.com:62281` (a DNS record that resolves
    to localhost), with a real, publicly-trusted TLS certificate bundled in every
    release. CORS allows the single origin
    `https://motion-master.synapticon.com`, the hosted progressive web app.

    A server that should be reachable from another machine sets `server.bindAddress`
    to `0.0.0.0` in its config file and is then addressed as
    `https://<dashed-ip>.ip.motion-master.synapticon.com:61447` (`192-168-1-50.ip.…`
    for `192.168.1.50`). The same bundled certificate covers those names via its
    `*.ip.motion-master.synapticon.com` wildcard, so no per-device certificate is
    involved; they are not published in DNS, so the client machine resolves them with
    one hosts-file entry (see `docs/LAN_DEPLOYMENT.md`). Note that the API is
    **unauthenticated**: binding off loopback exposes full drive control to the network.

    ## Conventions

    - **Errors** — failures return the matching HTTP status with a JSON body of
      the form `{ "error": "<message>" }`. The message is a human-readable string;
      `409` on `init` specifically signals "already initialised" so a client can
      tell a reconnect from a real failure.
    - **Version** — the running server version is reported at `GET /api/version`.
servers:
  - url: https://local.motion-master.synapticon.com:61447
    description: Local Motion Master instance
paths:
  /api/adapters:
    get:
      summary: List network adapters on the host
      operationId: getAdapters
      responses:
        "200":
          description: Array of network adapters available on the host machine
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [macLinux, macWindows, name, description]
                  properties:
                    macLinux:
                      type: string
                      description: MAC address in colon-separated uppercase format
                      example: "AA:BB:CC:DD:EE:FF"
                    macWindows:
                      type: string
                      description: MAC address in dash-separated uppercase format
                      example: "AA-BB-CC-DD-EE-FF"
                    name:
                      type: string
                      description: OS interface name (e.g. eth0 on Linux, \\Device\\NPF_{GUID} on Windows)
                      example: "eth0"
                    description:
                      type: string
                      description: >
                        Human-readable hardware description. Populated on Windows, where the
                        interface name is a GUID device path that identifies nothing; empty on
                        Linux and macOS, where the interface name is the identification. Clients
                        must fall back to `name` when it is empty.
                      example: "Realtek USB GbE Family Controller"
  /api/version:
    get:
      summary: Get Motion Master version
      operationId: getVersion
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: string
                    example: "6.0.0"
  /api/swagger.yml:
    get:
      summary: Get this OpenAPI specification
      operationId: getSwaggerYml
      description: >
        Returns this document — the OpenAPI specification embedded in the running binary — as
        YAML. Lets a client discover the exact API contract of the server it is talking to
        without a packaged file or a matching source checkout; the served spec always matches
        the running version.
      responses:
        "200":
          description: The OpenAPI specification, as YAML
          content:
            text/yaml:
              schema:
                type: string
  /api/config:
    get:
      summary: Get the configuration Motion Master was started with
      description: >
        The effective configuration after merging the JSONC config file (if any) over the built-in
        defaults — the same `Config` the server booted with. The config file is either the one passed
        via `--config` or a `motion-master.jsonc` auto-discovered next to the executable (`--config`
        wins). Read-only; changing it requires editing the config file and restarting. The shape
        mirrors the config file (server, fieldbus, logging, tls, gameLoop, recorder, parameterCache,
        parameters).
      operationId: getStartedConfig
      responses:
        "200":
          description: The started configuration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  server: { bindAddress: "127.0.0.1", httpPort: 61447, wsPort: 62281, corsOrigin: "https://motion-master.synapticon.com" }
                  fieldbus: { driver: "", adapter: "", mailboxStatusFmmu: false }
                  logging: { level: "info", file: { enabled: true, level: "debug", directory: "", maxSizeMb: 10, maxFiles: 5 } }
                  tls: { certPath: "", keyPath: "", autoUpdate: true }
                  gameLoop: { periodUs: 1000 }
                  recorder: { capacity: 300000, dumpDir: "" }
                  parameterCache: { enabled: true, cacheAllVendors: false, directory: "" }
                  parameters: { readObjectDictionaryOnPreop: true, useCompleteAccess: true }
  /api/system-info:
    get:
      summary: Get host OS and hardware information
      description: >
        A best-effort snapshot of the operating system and hardware Motion Master is running on,
        for the Connection page's System panel. Every field is best-effort: one that cannot be
        determined on the current platform is returned empty (strings) or zero (numbers) rather
        than failing the request. Collected on demand — not cached.
      operationId: getSystemInfo
      responses:
        "200":
          description: Host system snapshot
          content:
            application/json:
              schema:
                type: object
                required:
                  - osName
                  - kernel
                  - architecture
                  - hostname
                  - cpuModel
                  - cpuCores
                  - totalMemoryBytes
                  - diskTotalBytes
                  - diskFreeBytes
                  - container
                  - dockerVersion
                properties:
                  osName:
                    type: string
                    description: Friendly OS name.
                    example: "Ubuntu 24.04 LTS"
                  kernel:
                    type: string
                    description: Kernel or OS build identifier.
                    example: "6.8.0-31-generic"
                  architecture:
                    type: string
                    description: Machine architecture.
                    example: "x86_64"
                  hostname:
                    type: string
                    description: Network host name.
                    example: "motion-master-pi"
                  cpuModel:
                    type: string
                    description: CPU brand string.
                    example: "Intel(R) Core(TM) i7-1185G7 @ 3.00GHz"
                  cpuCores:
                    type: integer
                    description: Logical processor count.
                    example: 8
                  totalMemoryBytes:
                    type: integer
                    format: int64
                    description: Total physical RAM in bytes (0 if unknown).
                    example: 16777216000
                  diskTotalBytes:
                    type: integer
                    format: int64
                    description: Capacity of the filesystem holding the working directory, in bytes.
                    example: 250790436864
                  diskFreeBytes:
                    type: integer
                    format: int64
                    description: Space available to an unprivileged process on that filesystem, in bytes.
                    example: 98765432100
                  container:
                    type: string
                    description: >
                      Container runtime when running inside one ("docker", "podman", "containerd",
                      "kubernetes", "lxc"); empty on bare metal.
                    example: "docker"
                  dockerVersion:
                    type: string
                    description: >
                      Docker version reported by `docker --version` on the host; empty if the docker
                      CLI is not installed/on PATH (including inside Motion Master's own image).
                    example: "27.1.1"
  /api/cert:
    get:
      summary: Get the TLS certificate validity window
      description: >
        Reports the validity window and identity of the certificate the server
        is currently serving. `expiresSoon` trips within 7 days of `notAfter`,
        so the PWA can prompt the user to refresh. Note that an already-expired
        certificate blocks the browser from reaching this endpoint at all; the
        binary self-heals an expired/missing certificate at startup (fetching
        from the rolling release) and exposes `--update-cert` for manual refresh.
        Returns 500 if the certificate file cannot be read or parsed.
      operationId: getCert
      responses:
        "200":
          description: Certificate validity and identity
          content:
            application/json:
              schema:
                type: object
                required:
                  [
                    path,
                    subject,
                    issuer,
                    notBefore,
                    notAfter,
                    daysRemaining,
                    expired,
                    expiresSoon,
                  ]
                properties:
                  path:
                    type: string
                    description: Filesystem path of the certificate being served.
                    example: "/opt/motion-master/cert.pem"
                  subject:
                    type: string
                    description: Subject common name (CN).
                    example: "local.motion-master.synapticon.com"
                  dnsNames:
                    type: array
                    description: >
                      The certificate's subjectAltName DNS entries — the hostnames it is valid for,
                      and what a browser actually checks (the CN is legacy and ignored). The bundled
                      certificate covers both the loopback name and the `*.ip.…` wildcard used by
                      off-loopback deployments, so one file serves either. Empty for a certificate
                      with no SAN extension.
                    items:
                      type: string
                    example:
                      [
                        "local.motion-master.synapticon.com",
                        "*.ip.motion-master.synapticon.com",
                      ]
                  issuer:
                    type: string
                    description: Issuer common name (CN).
                    example: "R10"
                  notBefore:
                    type: string
                    format: date-time
                    description: Start of the validity window (ISO 8601 UTC).
                    example: "2026-05-01T00:00:00Z"
                  notAfter:
                    type: string
                    format: date-time
                    description: End of the validity window / expiry (ISO 8601 UTC).
                    example: "2026-08-01T00:00:00Z"
                  daysRemaining:
                    type: integer
                    description: Whole days until expiry; negative once expired.
                    example: 56
                  expired:
                    type: boolean
                    description: Whether the certificate is already past notAfter.
                    example: false
                  expiresSoon:
                    type: boolean
                    description: True when expired or within 7 days of notAfter.
                    example: false
                  chain:
                    type: array
                    description: >
                      Every certificate present in the served PEM file, leaf first, in chain order
                      (leaf → intermediate(s)). A fullchain PEM usually stops at the intermediate —
                      the root lives in the OS trust store and is not transmitted — but the last
                      entry's `issuer` still names that root.
                    items:
                      type: object
                      required: [subject, issuer, organization, issuerOrganization]
                      properties:
                        subject:
                          type: string
                          description: Subject common name (CN) of this certificate.
                          example: "local.motion-master.synapticon.com"
                        issuer:
                          type: string
                          description: Issuer common name (CN) — the subject of the next link up.
                          example: "R10"
                        organization:
                          type: string
                          description: >
                            Subject organization (O) — the friendly CA name (e.g. "Let's Encrypt")
                            that the short CN does not carry; empty if absent (leaf certs often have
                            no O).
                          example: "Let's Encrypt"
                        issuerOrganization:
                          type: string
                          description: >
                            Issuer organization (O) — names the next link's (or, for the last link,
                            the root's) organization; empty if absent.
                          example: "Internet Security Research Group"
        "500":
          description: The certificate file could not be read or parsed
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    description: Human-readable reason the certificate could not be read.
                    example: "cannot parse PEM certificate: /opt/motion-master/cert.pem"
  /api/cert/refresh:
    post:
      summary: Fetch and install a fresh TLS certificate
      description: >
        Downloads a fresh certificate and key from the rolling release, validates
        the pair (parses, CN matches, not expired, key matches cert), and atomically
        installs them next to the binary. The new certificate only takes effect after
        a restart (the TLS listener loads the certificate once at startup), indicated
        by `restartRequired` in the response. Use the still-valid proactive case; an
        already-expired certificate is healed by the binary at startup instead.
      operationId: refreshCert
      responses:
        "200":
          description: The fresh certificate was installed (restart to apply)
          content:
            application/json:
              schema:
                type: object
                required: [notAfter, daysRemaining, restartRequired]
                properties:
                  path:
                    type: string
                    example: "/opt/motion-master/cert.pem"
                  subject:
                    type: string
                    example: "local.motion-master.synapticon.com"
                  issuer:
                    type: string
                    example: "R10"
                  notBefore:
                    type: string
                    format: date-time
                  notAfter:
                    type: string
                    format: date-time
                  daysRemaining:
                    type: integer
                    example: 89
                  expired:
                    type: boolean
                    example: false
                  expiresSoon:
                    type: boolean
                    example: false
                  restartRequired:
                    type: boolean
                    description: Always true — restart Motion Master to serve the new certificate.
                    example: true
        "500":
          description: The certificate could not be fetched, validated, or installed
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "downloaded key does not match certificate"
        "501":
          description: Certificate refresh is not configured on this server
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "certificate refresh is not configured"
  /api/devices/{slavePosition}:
    get:
      summary: Get a single fieldbus device by bus position
      operationId: getDevice
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Device at the given bus position
          content:
            application/json:
              schema:
                type: object
                required:
                  [slavePosition, name, productName, vendorId, productCode, revisionNumber,
                   serialNumber, isCia402, parametersUnavailable]
                properties:
                  slavePosition:
                    type: integer
                    description: 1-based position on the fieldbus
                    example: 1
                  name:
                    type: string
                    description: >
                      Human-readable device name from SII EEPROM. For SOMANET drives this is the
                      generic group name "SOMANET"; use productName to distinguish products.
                    example: "SOMANET"
                  productName:
                    type: string
                    description: >
                      Canonical product name, independent of the SII EEPROM. For a recognised
                      SOMANET product this distinguishes the product (e.g. "SOMANET Circulo");
                      otherwise it falls back to name.
                    example: "SOMANET Node"
                  vendorId:
                    type: integer
                    format: int64
                    description: Vendor ID from EEPROM
                    example: 131073
                  productCode:
                    type: integer
                    format: int64
                    description: Product code from EEPROM
                    example: 5570560
                  revisionNumber:
                    type: integer
                    format: int64
                    description: Revision number from EEPROM
                    example: 1
                  serialNumber:
                    type: integer
                    format: int64
                    description: Serial number from EEPROM
                    example: 12345
                  isCia402:
                    type: boolean
                    description: >
                      Whether the device implements the CiA402 drive profile (both controlword
                      0x6040 and statusword 0x6041 present in its object dictionary). Gates the
                      CiA402 motion-control endpoints under /api/devices/{slavePosition}/cia402.
                    example: true
                  parametersUnavailable:
                    type: boolean
                    description: >
                      Whether an object-dictionary read for this device has failed since it was
                      scanned. The automatic read on reaching a mailbox-active state is attempted
                      once, so a device flagged here keeps an empty parameter list until
                      `POST /api/devices/{slavePosition}/parameters/init` is called; that clears
                      the flag on success.
                    example: false
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/init:
    post:
      summary: Initialise the fieldbus driver
      operationId: init
      description: >
        Constructs the requested fieldbus driver, opens the network interface, and
        makes the driver available for subsequent calls to /api/scan.
        The driver defaults to SOEM when omitted. SOEM has no adapter auto-detect:
        a network adapter must be supplied, otherwise init fails.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  description: Fieldbus driver to use (only soem is implemented today; spoe is planned)
                  enum: [soem, spoe]
                  default: soem
                  example: "soem"
                adapter:
                  type: string
                  description: >
                    Network interface name or MAC address. Required for SOEM — there is
                    no auto-detect, so an empty value makes init fail.
                  example: "eth0"
      responses:
        "200":
          description: Driver initialised successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Request body is not valid JSON
        "409":
          description: >
            A driver is already initialised. init() is one-shot — call POST /api/reset
            before initialising again. Clients can use this to distinguish "already
            connected" (e.g. after a page refresh) from a genuine init failure.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: "already initialised — call reset() first"
        "500":
          $ref: "#/components/responses/DriverError"
        "501":
          description: No driver factory configured on this instance
  /api/scan:
    post:
      summary: Scan the bus for slaves
      operationId: scan
      description: >
        Scans the fieldbus for slaves and configures their sync managers and FMMUs.
        Must be called after a successful POST /api/init. Slaves remain in INIT state
        after this call; state transitions are driven by subsequent API calls.


        An empty bus is a successful scan returning 0 slaves, not an error: the master
        cannot distinguish a bus with no devices powered from a disconnected one, and the
        user recovers by powering devices on and scanning again. A 500 is returned only on
        a genuine driver failure (e.g. no driver initialised).
      responses:
        "200":
          description: Scan successful; returns the number of slaves found (0 for an empty or unpowered bus)
          content:
            application/json:
              schema:
                type: object
                required: [slaves]
                properties:
                  slaves:
                    type: integer
                    description: Number of slaves discovered on the bus (0 if empty/unpowered)
                    example: 3
        "500":
          $ref: "#/components/responses/DriverError"
  /api/reset:
    post:
      summary: Reset the fieldbus driver and clear the device list
      operationId: reset
      description: >
        Tears down all master-side state — unpublishes the process image, frees the
        recorder, removes all Device objects, and closes the network interface (releasing
        the NIC). It does not command the slaves to any AL state; the master simply stops
        talking to the bus. After this returns, POST /api/init and POST /api/scan may be
        called again.
      responses:
        "200":
          description: Reset completed successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
  /api/log:
    get:
      summary: Get recent log output
      operationId: getLog
      description: >
        Returns the most recent in-memory log lines as plain text, one entry per line.
        The ring buffer holds up to 100 000 entries (~10 MB).
      responses:
        "200":
          description: Log output as plain text, one entry per line
          content:
            text/plain:
              schema:
                type: string
  /api/meta/al-status-codes:
    get:
      summary: List all known AL Status Codes
      operationId: getAlStatusCodes
      description: >
        Returns the static catalogue of EtherCAT AL Status Codes defined in ETG.1000.6 §6.4.1.
        These codes appear in the alStatusCode field of the device state response when an error
        is present and identify the cause of the state transition failure.
      responses:
        "200":
          description: Array of AL Status Code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlStatusCode"
  /api/meta/esc-registers:
    get:
      summary: List all known ESC registers
      operationId: getRegisters
      description: >
        Returns the static catalogue of well-known EtherCAT Slave Controller registers
        from the Beckhoff ESC datasheet (Section II) and ETG.1000.4.
        Use the address and length fields as inputs to the device register read/write endpoints.
      responses:
        "200":
          description: Array of ESC register descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EscRegister"
  /api/meta/foe-error-codes:
    get:
      summary: List all known FoE error codes
      operationId: getFoeErrorCodes
      description: >
        Returns the static catalogue of standard File over EtherCAT (FoE) error codes
        defined in ETG.1000.6 §5.5.  These codes appear in the FoE ERROR packet sent
        by the slave when a file transfer fails, and are surfaced in the error message
        returned by the file read endpoint.  Vendor-specific codes outside the 0x8000
        range are not listed here.
      responses:
        "200":
          description: Array of FoE error code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FoeErrorCode"
  /api/meta/sdo-abort-codes:
    get:
      summary: List all known CoE SDO abort codes
      operationId: getSdoAbortCodes
      description: >
        Returns the static catalogue of CoE SDO abort codes defined in ETG.1000.6
        §5.6.2.7.2, Table 41 (which reproduces the CANopen CiA 301 abort transfer
        codes).  A slave returns one of these when a mailbox SDO read/write fails;
        the code is embedded in the error text returned by the SDO endpoints.
      responses:
        "200":
          description: Array of SDO abort code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SdoAbortCode"
  /api/meta/kuebler-registers:
    get:
      summary: The Integro internal encoder's register map
      description: >
        The register map of the Integro's internal (Kübler) encoder — the reference table for
        POST /api/devices/{slavePosition}/procedures/kuebler-register-communication, and
        documentation in its own right. Static: it describes the encoder type, not any connected
        device, so it needs no bus and no scan.


        Transcribed from the vendor's own draft table. Each entry carries the width, the access type,
        whether the encoder actually implements it — seven are documented but not implemented — and
        the vendor's bit definitions verbatim, which for a bit-field register is the only place its
        meaning is recorded.


        `format` says how to read the assembled value, because signedness is not uniform and one
        register is not a single number at all: `unsigned`, `signed`, `bitField` (the number means
        nothing on its own), or `signedHalves` — two signed 16-bit values packed into 32 bits, which
        register 0x3C is the only case of. `readableInOneCommand` is false for the one 64-bit
        register, since the command's length byte caps at 4 bytes.
      operationId: getKueblerRegisters
      responses:
        "200":
          description: Every register the vendor's draft documents, ascending by address
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    [address, bits, name, access, implemented, format, definition,
                     readableInOneCommand]
                  properties:
                    address:
                      type: integer
                      description: Register address, as OS command 19 carries it.
                      example: 48
                    bits:
                      type: integer
                      description: Width in bits — 8, 16, 32, or 64.
                      example: 32
                    name:
                      type: string
                      description: The vendor's own name for the register.
                      example: Absolute position ST
                    access:
                      type: string
                      enum: [ro, wo, rw]
                      example: ro
                    implemented:
                      type: boolean
                      description: Whether the encoder implements it, per the vendor's draft.
                      example: true
                    format:
                      type: string
                      enum: [unsigned, signed, bitField, signedHalves]
                      description: How to read the assembled value.
                      example: unsigned
                    definition:
                      type: string
                      description: The vendor's bit definitions, clauses joined with "; ".
                      example: Left aligned 32 bit singleturn position
                    readableInOneCommand:
                      type: boolean
                      description: >-
                        False only for the 64-bit register, which exceeds the command's 4-byte
                        length field.
                      example: true
  /api/meta/mailbox-error-codes:
    get:
      summary: List all known CoE mailbox error codes
      operationId: getMailboxErrorCodes
      description: >
        Returns the static catalogue of CoE mailbox error codes defined in
        ETG.1000.4, Table 30 ("Error Reply Service Data").  A slave returns one of
        these when the mailbox layer (below a specific protocol such as CoE/FoE)
        rejects a transfer; the code is embedded in the error text the mailbox
        endpoints return.
      responses:
        "200":
          description: Array of mailbox error code descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MailboxErrorCode"
  /api/meta/object-data-types:
    get:
      summary: List all known CoE object dictionary data types
      operationId: getObjectDataTypes
      description: >
        Returns the static catalogue of ETG.1020 data type codes used in CoE object
        dictionary entries.  Each entry of a `DeviceParameter` carries a `dataType`
        field whose value is one of the codes listed here.
      responses:
        "200":
          description: Array of data-type descriptors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ObjectDataTypeInfo"
  /api/devices/{slavePosition}/parameters/init:
    post:
      summary: Initialise the parameter list for a device by enumerating its object dictionary
      operationId: initializeDeviceParameters
      description: >
        Enumerates the entire CoE object dictionary of the device at
        `slavePosition` via the SDO Info service ("Get Object List" → "Get Object
        Description" → "Get Entry Description") and rebuilds its parameter map.
        The device must be in PRE-OP, SAFE-OP, or OP (mailbox communication
        active).  On a fully populated drive the call can take several seconds.
        When `readValues=true` each entry is additionally read via SDO upload and
        the decoded value is stored on the parameter; entries that fail to read
        keep their type-appropriate default and the call still succeeds.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: readValues
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            When `true`, perform an SDO upload for every entry and decode the
            value.  Defaults to `false` — only schema (name, type, access) is
            populated.
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
  /api/devices/{slavePosition}/parameters/read:
    post:
      summary: Refresh the cached value of every parameter without re-enumerating the dictionary
      operationId: readAllDeviceParameters
      description: >
        Re-reads the value of every readable parameter already loaded for the
        device at `slavePosition`, leaving the parameter list itself intact (it
        does not re-enumerate the object dictionary — use
        `POST …/parameters/init` for that).  Each value is read PDO-aware: from
        the live process image when the device is exchanging and the object is
        PDO-mapped, otherwise via an SDO upload over the mailbox.  Write-only
        objects are skipped.  Best-effort: an entry that fails to read keeps its
        cached value and the call still succeeds.  Returns the refreshed list,
        ordered by `(index, subindex)`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Refreshed parameter list ordered by (index, subindex)
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
  /api/devices/{slavePosition}/parameters:
    get:
      summary: Read the previously initialised parameter list for a device
      operationId: getDeviceParameters
      description: >
        Returns the parameter list populated by the most recent call to
        `POST /api/devices/{slavePosition}/parameters/init`.  Empty before the
        first call.  Entries are ordered ascending by `(index, subindex)`.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Parameter list ordered by (index, subindex)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
  /api/devices/{slavePosition}/parameters/{index}/{subindex}:
    get:
      summary: Read a single parameter value (PDO-aware, with optional cache-only mode)
      operationId: readParameter
      description: >
        Reads one parameter of the device at `slavePosition` and returns the full
        `DeviceParameter` (value plus metadata: data type, access, sync state).

        Unlike the raw `GET …/sdo/{index}/{subindex}` endpoint, this is PDO-aware.
        With `source=auto` (the default) the value is taken from the live process
        image when the device is exchanging and the object is PDO-mapped, otherwise
        via an SDO upload, otherwise from the cache. With `source=cache` the cached
        value is served with no bus access at all.

        Both `index` and `subindex` accept decimal or hexadecimal notation; prefix
        with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [auto, cache]
            default: auto
          description: >-
            `auto` (default) reads PDO-when-exchanging else SDO else cache;
            `cache` returns the cached value with no bus access.
      responses:
        "200":
          description: The parameter (value plus metadata)
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
    put:
      summary: Write a single parameter value (PDO-aware)
      operationId: writeParameter
      description: >
        Writes one parameter of the device at `slavePosition`. The value is coerced
        to the parameter's declared data type, then routed: staged into the process
        image when the device is exchanging and the object is output (RxPDO) mapped —
        sent on the next cycle — otherwise written via an SDO download, otherwise held
        in the cache as pending until the device is back online.

        This is the endpoint to set a target (e.g. target torque 0x6071) or the modes
        of operation: it knows which objects are PDO-mapped and stages them into the
        process data, falling back to SDO transparently. Returns the updated
        `DeviceParameter` (with the coerced value and resulting sync state).

        Both `index` and `subindex` accept decimal or hexadecimal notation; prefix
        with `0x` for hex.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value:
                  description: >-
                    The value to set, coerced to the parameter's declared type. A
                    number for integer/real objects, a string for string objects, or
                    an array of bytes for octet/domain objects.
                  oneOf:
                    - type: number
                    - type: string
                    - type: array
                      items:
                        type: integer
                        minimum: 0
                        maximum: 255
                  example: 100
      responses:
        "200":
          description: The updated parameter (value plus metadata)
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceParameter"
        "400":
          description: slavePosition, index, or subindex is invalid, or the body is malformed
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
  /api/devices/{slavePosition}/registers/{address}:
    get:
      summary: Read bytes from an ESC register
      operationId: readRegister
      description: >
        Reads `length` bytes from the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Read (FPRD) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal (e.g. 272 for 0x0110)
          example: 272
        - name: length
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: Number of bytes to read
          example: 2
      responses:
        "200":
          description: Raw register bytes
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Register bytes in ascending address order
                    example: [65, 0]
        "400":
          description: slavePosition, address, or length is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
    post:
      summary: Write bytes to an ESC register
      operationId: writeRegister
      description: >
        Writes bytes to the ESC register at `address` on the slave at `slavePosition`
        using a Configured-Address Write (FPWR) datagram.
        Pass `address` in decimal (e.g. 272 for DL Status at 0x0110).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: address
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: ESC register address in decimal
          example: 288
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Bytes to write in ascending address order
                  example: [1, 0]
      responses:
        "200":
          description: Write completed successfully
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition or address is not a valid integer, or request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
  /api/devices/{slavePosition}/watchdog:
    get:
      summary: Read the process-data (sync-manager) watchdog configuration
      operationId: getProcessDataWatchdog
      description: >
        Reads the process-data watchdog timeout the slave at `slavePosition` is configured with,
        decoded from the watchdog divider (0x0400) and process-data watchdog time (0x0420) ESC
        registers. This is the configured timeout itself, not the expiration counter exposed by
        `GET /api/devices/diagnostics`. A device in OP that misses process data past this timeout
        faults itself to SAFE-OP+error; raising it lets a device tolerate the brief PDO pause of a
        whole-bus re-map.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: Decoded watchdog configuration
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessDataWatchdog"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
    put:
      summary: Set the process-data (sync-manager) watchdog timeout
      operationId: setProcessDataWatchdog
      description: >
        Sets the process-data watchdog timeout of the slave at `slavePosition`, writing the
        process-data watchdog time register (0x0420). The device's watchdog divider (0x0400) is
        left untouched (it is shared with the PDI watchdog), so the achieved timeout is rounded to
        that divider's tick base — the response reports the value actually programmed. A
        `timeoutMs` of 0 disables the watchdog. The write persists across re-maps and re-scans
        until the ESC reloads EEPROM (power cycle).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [timeoutMs]
              properties:
                timeoutMs:
                  type: number
                  minimum: 0
                  description: Desired watchdog timeout in milliseconds; 0 disables the watchdog
                  example: 200
      responses:
        "200":
          description: Watchdog configuration actually programmed (timeout rounded to the tick base)
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessDataWatchdog"
        "400":
          description: >
            slavePosition is not a valid integer, the body is malformed, timeoutMs is negative, or
            the requested timeout exceeds what the device's watchdog divider can represent
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
  /api/devices/{slavePosition}/pdo-mapping:
    get:
      summary: Read a device's PDO mapping grouped by object (CoE)
      operationId: getDevicePdoMapping
      description: >
        Reads the PDO mapping of the slave at `slavePosition` over CoE, grouped by mapping object:
        the sync-manager assignment (0x1C12 outputs / 0x1C13 inputs) and, for each assigned mapping
        object (0x16xx / 0x1Axx), its `pdoIndex` and ordered entries. `outputs` are RxPDO objects
        (master→slave), `inputs` are TxPDO objects (slave→master). Each entry carries its derived
        `bitOffset` within the direction's window. This is the grouped, round-trippable counterpart
        of the flat, whole-bus `GET /api/process-image`.


        Reads fresh over SDO, so the device's mailbox must be active (PRE-OP, SAFE-OP, or OP); a
        device in INIT or BOOT yields 409.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The device's grouped PDO mapping
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdoMapping"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at the given bus position
        "409":
          description: The device's mailbox is not active (it is in INIT or BOOT)
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
        "500":
          $ref: "#/components/responses/DriverError"
    put:
      summary: Rewrite a device's PDO mapping (CoE)
      operationId: writeDevicePdoMapping
      description: >
        Reconfigures the PDO mapping of the slave at `slavePosition` over CoE: both directions'
        sync-manager assignment (0x1C12 outputs / 0x1C13 inputs) and the referenced mapping objects
        (0x16xx / 0x1Axx). `outputs` are RxPDO objects (master→slave), `inputs` are TxPDO objects
        (slave→master); the array order is the sync-manager assignment order, which fixes each
        object's position in the process image. Both directions must be present — an empty array
        clears that sync manager's assignment.


        **The device must be in PRE-OP.** The mapping and assignment objects are writable only in
        PRE-OP; in SAFE-OP/OP the sync managers are active and the slave rejects the write, and
        INIT/BOOT have no CoE mailbox. This is the "drop to PRE-OP, remap, climb back" flow: take
        the device to PRE-OP (`POST /api/devices/state`), call this, then transition it back to
        SAFE-OP/OP — at which point the whole-bus process image is re-mapped from the new mapping.


        The write follows the CoE ordering rule (clear assignment, rewrite each mapping object, then
        re-assign), is read back and verified, and is retried a few times so a dropped mailbox frame
        cannot leave the object dictionary half-configured. The response is the device's grouped
        read-back mapping (same shape as GET), whose `bitOffset` values are derived by the device
        (the request omits them). This endpoint does not itself change the AL state or re-map the
        process image.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PdoMappingRequest"
      responses:
        "200":
          description: The device's grouped read-back mapping, verified equal to the request
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdoMapping"
        "400":
          description: slavePosition is not a valid integer, or the body is malformed or out of range
        "404":
          description: No device at the given bus position
        "409":
          description: >
            The write was rejected — most often because the device is not in PRE-OP, but also a
            malformed mapping the device aborted, or a read-back that did not match the request
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
  /api/devices/{slavePosition}/cia402:
    get:
      summary: Read a device's CiA402 control snapshot
      description: >
        Returns the drive's current control state — the decoded state-machine state, the raw
        status (0x6041) and control (0x6040) words, and the active operation mode (display object
        0x6061). The values are read live (from the process image when the device is exchanging,
        else over SDO), so poll this to drive a motion UI. Only valid for a CiA402 device (see the
        isCia402 flag on GET /api/devices).
      operationId: getCia402Status
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The device's CiA402 control snapshot
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cia402Status"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a CiA402 drive, or its object dictionary is not enumerated
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
  /api/devices/{slavePosition}/operation-modes:
    get:
      summary: List a device's operation modes
      description: >
        Every operation mode the device has, standard and manufacturer-specific, with what the
        drive says about each. The standard modes are CiA402's (ETG.6010 §6.8.1) and carry the bit
        of "Supported drive modes" (0x6502) that advertises them, decoded into `supported`. The
        manufacturer modes are the vendor's own — the negative half of 0x6060 — and are listed only
        for a device whose vendor this server knows; their `supported` is null, because 0x6502
        reserves bits 16-31 for the vendor without defining them, so a drive has no way to advertise
        one that a master could read. That null means "the drive does not say", not "no".

        Read this once per device and cache it: it is a static property of the firmware, and the one
        thing that makes a negative value of 0x6061 nameable rather than "Unknown".
      operationId: getOperationModes
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The device's operation modes
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationModes"
        "400":
          description: slavePosition is not a valid integer
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a CiA402 drive, or its object dictionary is not enumerated
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
  /api/devices/{slavePosition}/cia402/mode:
    post:
      summary: Set a device's CiA402 operation mode
      description: >
        Writes the requested operation mode to 0x6060 and returns the resulting control snapshot.
        The drive reflects the accepted mode in 0x6061 (the modeOfOperation of the response) once
        it takes effect.


        Any value object 0x6060 can hold is accepted, standard or manufacturer-specific — the
        negative half of that range belongs to the vendor, so a SOMANET's diagnostics (-2) or
        system identification (-4) go through here like any other. Whether a given drive has the
        mode is the drive's answer, seen in the modeOfOperation of the response;
        GET /api/devices/{slavePosition}/operation-modes is what lists them beforehand.
      operationId: setCia402OperationMode
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              properties:
                mode:
                  type: integer
                  minimum: -128
                  maximum: 127
                  description: >
                    Operation mode to request (the 0x6060 value). Standard modes are 0 NoMode,
                    1 Profile Position, 2 Velocity, 3 Profile Velocity, 4 Profile Torque, 6 Homing,
                    7 Interpolated Position, 8 Cyclic Sync Position, 9 Cyclic Sync Velocity,
                    10 Cyclic Sync Torque, 11 Cyclic Sync Torque with Commutation Angle; negative
                    values are the vendor's.
                  example: 9
      responses:
        "200":
          description: The post-write CiA402 control snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cia402Status"
        "400":
          description: slavePosition is invalid, the body is malformed, or the mode is unknown
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a CiA402 drive, or the write failed
  /api/devices/{slavePosition}/cia402/state:
    post:
      summary: Bring a drive to a CiA402 state
      description: >
        Walks the CiA402 device-control state machine to the state you name, issuing whatever
        transitions that takes and re-reading the drive between each — so multi-hop paths are
        ordinary: Switch On Disabled up to Operation Enabled, Quick Stop Active back down to Ready
        To Switch On. Starting from Fault begins with a fault reset, and a fault whose cause is
        still present is reported as such (with the drive's 0x603F error code) rather than as a
        timeout.


        Only the five states a master can command are accepted. Not Ready To Switch On, Fault
        Reaction Active and Fault are entered by the drive itself and are rejected as a bad request.


        **Asking for Operation Enabled while the drive is in Quick Stop Active leaves that quick
        stop** (CiA402 transition 16), because naming the destination is an explicit instruction to
        go there. The "enable" command on the sibling endpoint deliberately does not, so a
        procedure preparing a drive cannot undo somebody's stop by accident.


        The device must be exchanging process data for any of this to progress — the statusword has
        to update between polls, and the firmware refuses Operation Enabled unless master
        communication is live. Returns the resulting control snapshot.
      operationId: transitionToCia402State
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum:
                    [SwitchOnDisabled, ReadyToSwitchOn, SwitchedOn, OperationEnabled,
                     QuickStopActive]
                  description: The state to bring the drive to.
                  example: OperationEnabled
      responses:
        "200":
          description: The CiA402 control snapshot after arriving
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cia402Status"
        "400":
          description: >-
            slavePosition is invalid, the body is malformed, the state is unknown, or the state is
            one the drive enters on its own and cannot be asked for
        "404":
          description: No device at that slavePosition
        "409":
          description: >-
            The device is not a CiA402 drive, its object dictionary is not enumerated, a fault will
            not clear, or the walk timed out
  /api/devices/{slavePosition}/cia402/command:
    post:
      summary: Run a CiA402 state-machine command
      description: >
        Drives the CiA402 device-control state machine. "enable" walks every intermediate
        transition to Operation Enabled (clearing a fault first if needed); "disable" goes to
        Switch On Disabled; "quickStop" triggers a quick stop; "faultReset" clears a latched
        fault. The device must be exchanging process data for "enable" to make progress. Returns
        the resulting control snapshot.


        Use POST /api/devices/{slavePosition}/cia402/state to name a destination instead of an
        action — it reaches states these four cannot, and it is the one that will leave a quick
        stop. "enable" here deliberately will not.
      operationId: runCia402Command
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [command]
              properties:
                command:
                  type: string
                  enum: [enable, disable, quickStop, faultReset]
                  description: The state-machine action to perform.
                  example: enable
      responses:
        "200":
          description: The post-command CiA402 control snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cia402Status"
        "400":
          description: slavePosition is invalid, the body is malformed, or the command is unknown
        "404":
          description: No device at that slavePosition
        "409":
          description: >
            The device is not a CiA402 drive, or the command failed (including an enable that did
            not reach Operation Enabled before timing out)
  /api/devices/{slavePosition}/cia402/target:
    post:
      summary: Set a CiA402 cyclic setpoint (target)
      description: >
        Writes the one setpoint that matches the active operation mode — target position (0x607A,
        INTEGER32) in PP/CSP, target velocity (0x60FF, INTEGER32) in PV/CSV, or target torque
        (0x6071, INTEGER16, per-mille of rated) in PT/CST. All are signed: negative values command
        reverse motion or regenerative torque. Routes through the live process image when the
        object is PDO-mapped and the device is exchanging, else an SDO download.
      operationId: setCia402Target
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target, value]
              properties:
                target:
                  type: string
                  enum: [position, velocity, torque]
                  description: Which setpoint to write (pick the one matching the active mode).
                  example: velocity
                value:
                  type: integer
                  description: >
                    The setpoint value in the object's own units (signed). For torque it is
                    per-mille of rated and is narrowed to INTEGER16.
                  example: 1000
      responses:
        "204":
          description: The setpoint was written
        "400":
          description: slavePosition is invalid, the body is malformed, or the target kind is unknown
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a CiA402 drive, or the write failed
  /api/devices/{slavePosition}/procedures:
    get:
      summary: List the procedures a device supports
      description: >
        Returns every procedure available on the device, each with its descriptor and the state of
        its current or last run. One request is enough to render a whole per-device procedures view:
        the descriptor carries the title, description and caveats to display, and the snapshot says
        whether anything is running or how the last run went.


        The list is per device, not global — a procedure is offered only where it applies, so a
        third-party slave reports an empty list rather than controls that could only ever fail. A
        procedure that has never run reports an idle snapshot (`status` `idle`, `runCount` 0, every
        step `idle`), so every entry has the same shape.
      operationId: listProcedures
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The procedures this device supports
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ProcedureListing" }
        "400":
          description: slavePosition is invalid
        "404":
          description: No device at that slavePosition
  /api/devices/{slavePosition}/procedures/{procedureName}:
    post:
      summary: Start a procedure on a device
      description: >
        Starts the named procedure and returns as soon as the run is under way — this does **not**
        wait for it to finish. Poll `GET` on the same path for its outcome, or `DELETE` to cancel it.


        The request body carries the procedure's parameters, and each descriptor from
        `GET /api/devices/{slavePosition}/procedures` reports its own in `parameters` — name, type,
        bounds, default, and whether it is required — which is enough to build a form for any
        procedure without hard-coding one per name. A procedure that takes no parameters may be
        started with no body.


        Only one procedure may run on a device at a time; a second start is refused with 409 while
        the first is in flight. Most procedures require an active mailbox, so the device must be in
        PRE-OP, SAFE-OP or OP. A run the drive answers with an error is not a failure of *this*
        request — it is reported in the snapshot as a failed run.
      operationId: startProcedure
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: procedureName
          in: path
          required: true
          schema: { type: string }
          description: Procedure identifier, as reported by the list endpoint
          example: os-command
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProcedureRequest" }
      responses:
        "202":
          description: >
            The run has started. The body is the initial snapshot, with `status` `running` and
            `runCount` already bumped.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProcedureSnapshot" }
        "400":
          description: >
            slavePosition is invalid, the body is not valid JSON, or the procedure rejected its
            parameters
        "404":
          description: >
            No device at that slavePosition, or no procedure by that name on that device
        "409":
          description: Another procedure is already running on that device
    get:
      summary: Read the state of a procedure on a device
      description: >
        Returns the current run, or the last one to have finished. This is the whole progress
        surface — there is no push channel — and polling it is lossless: every finished step keeps
        its terminal status and value, so a step that both starts and completes between two polls is
        still reported as succeeded. A polling loop is `while status == "running"`.


        A procedure that has never run is not an absence: it reports an idle snapshot built from the
        procedure's step template, so a client renders one shape and needs no empty-state branch.
        The snapshot is retained after a run ends, so a client that reconnects (or a user returning
        to a page) sees how the last run went. It is dropped when the device set is rebuilt by a scan
        or reset, because bus positions may then name different hardware.
      operationId: getProcedure
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: procedureName
          in: path
          required: true
          schema: { type: string }
          description: Procedure identifier, as reported by the list endpoint
          example: os-command
      responses:
        "200":
          description: The current or last-known state of the procedure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProcedureSnapshot" }
        "400":
          description: slavePosition is invalid
        "404":
          description: >
            No device at that slavePosition, or no procedure by that name on that device
    delete:
      summary: Cancel a running procedure on a device
      description: >
        Asks the running procedure to stop and returns immediately. Where the procedure is waiting on
        the drive it also tells the drive to abort (for an OS command, 0x1024 = 3), so a run that is
        waiting stops when asked rather than carrying on to completion. The run then finishes with
        status `cancelled`.


        This cancels the *run*, not the record: the snapshot remains and reports how far it got.
      operationId: cancelProcedure
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: procedureName
          in: path
          required: true
          schema: { type: string }
          description: Procedure identifier, as reported by the list endpoint
          example: os-command
      responses:
        "202":
          description: The running procedure has been asked to stop
        "400":
          description: slavePosition is invalid
        "404":
          description: >
            No device at that slavePosition, no procedure by that name, or nothing running for it
  /api/devices/{slavePosition}/brake:
    get:
      summary: Read a drive's brake configuration and state
      description: >
        Reports the brake objects (0x2004) that decide what a release or engage will do: its current
        state, the release strategy, the pull time and the pull/hold voltages.


        Read this before commanding the brake. `softwareControllable` is false when the release
        strategy is `manualOutputVoltage`, meaning the firmware does not drive the brake at all and
        both commands below are no-ops. `releaseMovesShaft` is true for a pin brake, whose release
        procedure turns the motor to lift the load off the pin.
      operationId: getBrake
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The brake's configuration and current state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BrakeState" }
        "400":
          description: slavePosition is invalid
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a SOMANET drive, or a read failed
  /api/devices/{slavePosition}/hrd:
    get:
      summary: Read back a drive's high resolution data recording
      description: >
        Reads the files the `hrd-streaming` procedure recorded, concatenates them in order and
        decodes them into samples. Run that procedure first; this endpoint only reads what is
        already on the drive.


        **`data` is required and must match what was recorded.** Nothing on the drive says which
        signal its files hold, so the wrong selection reinterprets the same bytes as a different
        layout and returns plausible nonsense. The procedure's `configure-stream` step reports the
        selection it used for exactly this reason.


        Samples travel positionally — `columns` names the fields of each row, once, the way a
        monitoring topic ships its parameter order once — because a full recording is up to ten
        thousand rows. `trailingBytes` is what was left over past the last whole sample: the drive
        allocates its files in fixed-size blocks, so a recording that does not fill the last block
        ends in padding rather than data.


        Answers **JSON or CSV**, chosen by the `Accept` header. CSV is the same numbers in the same
        column order, one header row then one row per sample — a file to open in a spreadsheet
        rather than JSON to read, which for ten thousand rows is usually what is wanted.


        Values are decoded, not raw: `velocityRpm` is converted out of the file's Q15 fixed point
        (exactly — multiply by 32768 to recover the stored integer), while `torquePermil` and the
        encoder's `raw` word are the file's own values.


        Blocks for the transfer, which is up to five 8 KB FoE reads plus the listing.
      operationId: readHrdRecording
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: data
          in: query
          required: true
          schema:
            type: string
            enum: [encoder-raw, system-identification]
          description: >
            Which layout the files hold — the same selection the recording was made with.
          example: encoder-raw
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            enum: [application/json, text/csv]
            default: application/json
          description: >
            `text/csv` returns the recording as CSV — a header row of column names, then one row
            per sample. Anything else returns JSON.
      responses:
        "200":
          description: The decoded recording
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HrdRecording" }
            text/csv:
              schema:
                type: string
              example: |
                raw,masterCount,noniusCount
                16385,1,1
                16386,2,1
        "400":
          description: slavePosition is invalid, or `data` is missing or not a known selection
        "404":
          description: No device at that slavePosition
        "409":
          description: >
            The device is not a SOMANET drive, holds no recording, or a file could not be read
  /api/devices/{slavePosition}/brake/release:
    post:
      summary: Release (disengage) a drive's brake
      description: >
        Writes "disengaged" to the brake state object (0x2004:07) and waits the drive's pull time
        (0x2004:03) plus `settle` before answering, because the firmware blocks motion — and
        motion-related OS commands — until the pull time expires. Answers with the brake state read
        back.


        **The release only actually happens while the drive is in OP ENABLED.** In any other state the
        write merely energises the brake output (phase D). Note also that entering OP ENABLED releases
        the brake automatically in normal operation but **not** in diagnostics mode, where the master
        owns the brake — which is why a diagnostics procedure has to call this.


        **On a pin brake this moves the shaft**: the controller raises current progressively until the
        load has lifted off the pin by the minimum displacement (0x2004:08), reversing direction if it
        reaches the current ceiling (0x2004:09, a percentage of rated current) first. Check `releaseMovesShaft` on `GET .../brake`.


        Brake release is open-loop — nothing confirms the brake let go — so the wait is the only
        margin there is. A brake whose release strategy is `manualOutputVoltage` is left alone and the
        returned state says so; that is not an error. **A released brake stays released**: nothing
        re-engages it for you, so on a vertical or loaded axis engage it again when you are done.
      operationId: releaseBrake
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: settle
          in: query
          required: false
          schema: { type: integer, minimum: 0, default: 50 }
          description: >
            Extra wait in milliseconds on top of the drive's pull time. Size it for the machine —
            release is open-loop, so this is the only margin between "commanded" and "assumed
            released".
          example: 50
      responses:
        "200":
          description: The brake state read back after the command
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BrakeState" }
        "400":
          description: slavePosition or settle is invalid
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a SOMANET drive, or the command failed
  /api/devices/{slavePosition}/brake/engage:
    post:
      summary: Engage a drive's brake
      description: >
        Writes "engaged" to the brake state object (0x2004:07) and waits `settle` before answering
        with the brake state read back. There is no pull time on the way in — a brake is
        spring-engaged, so engaging it is the removal of voltage — so the wait is only `settle`.


        As with release, a brake whose release strategy is `manualOutputVoltage` is left alone and the
        returned state says so.
      operationId: engageBrake
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: settle
          in: query
          required: false
          schema: { type: integer, minimum: 0, default: 50 }
          description: How long to wait in milliseconds after commanding the brake before answering.
          example: 50
      responses:
        "200":
          description: The brake state read back after the command
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BrakeState" }
        "400":
          description: slavePosition or settle is invalid
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a SOMANET drive, or the command failed
  /api/devices/{slavePosition}/sdo/{index}/{subindex}:
    get:
      summary: Upload an object dictionary entry from a device (CoE SDO upload)
      operationId: sdoUpload
      description: >
        Performs a CoE SDO upload — reads the value of object `index:subindex` from
        the device at `slavePosition` and returns the raw bytes as a JSON array.
        Both `index` and `subindex` accept decimal or hexadecimal notation;
        prefix with `0x` for hex (e.g. `0x6064` or `24676` for object 0x6064).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      responses:
        "200":
          description: Raw object bytes from the device
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                      maximum: 255
                    description: Object bytes as transferred by the SDO upload
                    example: [0, 0, 0, 0]
        "400":
          description: slavePosition, index, or subindex is missing or not a valid integer
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
    put:
      summary: Download an object dictionary entry to a device (CoE SDO download)
      operationId: sdoDownload
      description: >
        Performs a CoE SDO download — writes the raw bytes in the request body to
        object `index:subindex` on the device at `slavePosition`. The byte count must
        match the object's length. Requires the device to be in PRE-OP, SAFE-OP, or OP
        (mailbox communication active). Both `index` and `subindex` accept decimal or
        hexadecimal notation; prefix with `0x` for hex (e.g. `0x6064` or `24676`).
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
          description: 1-based position of the device on the fieldbus
          example: 1
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 65535
          description: CoE object index in decimal (e.g. 24676 for 0x6064)
          example: 24676
        - name: subindex
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 255
          description: CoE object subindex in decimal
          example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 255
                  description: Object bytes to write (little-endian, must match the object length)
                  example: [100, 0, 0, 0]
      responses:
        "200":
          description: Download completed successfully
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: slavePosition, index, or subindex is invalid, or the request body is malformed
        "404":
          description: No device at the given bus position
        "500":
          $ref: "#/components/responses/DriverErrorTimed"
  /api/devices/{slavePosition}/files:
    get:
      summary: List the files stored on a device
      description: >
        Lists what the device holds — firmware images, the ESI, logs, configuration and any
        high resolution data recording — with the size it reports for each.


        **Vendor-specific despite reading like a filesystem listing.** EtherCAT defines no directory
        service, so SOMANET firmware serves its own as a pseudo-file (`fs-getlist`) read over FoE. A
        device that is not a SOMANET drive is refused rather than probed.


        `byteCount` is absent when the device reported a name without a size, which is a formatting
        quirk of one entry rather than a reason to hide the file.
      operationId: listDeviceFiles
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The files the device reported, in the order it reported them
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DeviceFile" }
        "400":
          description: slavePosition is invalid
        "404":
          description: No device at that slavePosition
        "409":
          description: The device is not a SOMANET drive, or the listing could not be read
  /api/devices/{slavePosition}/hardware-description:
    get:
      summary: Read what a device says it is
      operationId: getDeviceHardwareDescription
      description: >
        Reads and decodes the device's `.hardware_description` file over FoE — its product id and
        revision, serial number, the components it is built from, and the assembly it was packaged
        into.


        It is also the only source of the descriptor that decides which firmware belongs on the
        device, which is what most callers want it for (see
        `/api/devices/{slavePosition}/firmware-compatibility`).


        **Readable in BOOT as well as PRE-OP and above.** The bootloader deliberately allows this one
        file, which is what lets a compatibility check work on a drive a failed install left
        stranded there — precisely when knowing whether the package was the right one matters most.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The decoded file
          headers:
            X-Wire-Us:
              $ref: "#/components/headers/WireTime"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardwareDescription"
        "400":
          description: slavePosition is invalid
        "404":
          description: No device at that slavePosition
        "409":
          description: >
            The device is not a SOMANET drive, the file could not be read, or its content is not a
            hardware description
  /api/devices/{slavePosition}/variant:
    get:
      summary: Read a device's Integro variant file
      operationId: getDeviceIntegroVariant
      description: >
        Reads and decodes the device's `.variant` file over FoE — which features the Integro was
        licensed with.


        **A 404 is the ordinary answer for most devices.** Only Integro drives carry this file, so
        the resource being absent is normal rather than a problem. Its one property that matters
        beyond inspection is `fieldbusProtocol`, which the hardware description deliberately does
        not carry and a full firmware descriptor ends with.
      parameters:
        - name: slavePosition
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: 1-based position of the device on the fieldbus
          example: 1
      responses:
        "200":
          description: The decoded file
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegroVariant"
        "400":
          description: slavePosition is invalid
        "404":
          description: No device at that slavePosition, or the device carries no `.variant` file
        "409":
          description: >
            The device is not a SOMANET drive, the file could not be read, or its content is not a
            variant file
  /api/devices/{slavePosition}/firmware-compatibility:
    get:
      summary: Check whether a firmware package belongs on a device
[...]
